<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= environment %></title>
  <meta name="description" content="">
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

Welcome to <b>earshot</b>.<br>

</body>
</html>
