<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, width=device-width" />
  <meta name="description" content="">
  <title>memorize phrases</title>
  <link rel="stylesheet" href="css/smoothness/jquery-ui-1.10.2.custom.css" />
  <script src="js/jquery-1.9.1.js"></script>
  <script src="js/jquery-ui-1.10.2.custom.min.js"></script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style>
    body { text-align: center; }
    #container { margin-top: 20px; }
    #prompt { font-size: 18px; padding: 6px; }
    #answer { font-size: 18px; padding: 6px; color: #aaaa00; height: 100px; }
    #debug { text-align: left; font-size: 10px; position:absolute; top:0px; left:5px; background:#ffff55; font-family:courier; height: 500px; overflow: scroll; }
  </style>
  <script src="js/memorize.js"></script>
</head>
<body>
<div id="container">
  <br>
  <br>
  <div id="prompt">&nbsp;</div>
  <div id="answer">&nbsp;</div>
  <br>
  <br>
  <button onclick="next()"><u>n</u>ext</button>
</div>
<div id="debug"></div>
</body>

<script language="javascript">

  var promptShown = false;
  var currentPrompt;

  var pressHandler = function(event) {
    if(event.which == "n".charCodeAt(0)) {
      next();
      return;
    }
  }


  function permute(myArray) {
    var i = myArray.length, j, tempi, tempj;
    if (i===0) return false;
    while (--i) {
      j = Math.floor(Math.random() * (i + 1));
      tempi = myArray[i];
      tempj = myArray[j];
      myArray[i] = tempj;
      myArray[j] = tempi;
    }
  }

  function next() {
    if(!promptShown) {
      currentPrompt = Math.floor(Math.random() * entities.length);
      $('#prompt').html(entities[currentPrompt][0]);
      $('#answer').html("&nbsp;");
    }
    else
    {
      $('#answer').html(entities[currentPrompt][1]);
    }
    promptShown = !promptShown;
  }

  $(document).keypress(pressHandler);
  $(document).ready(function() {
    $("button").button();
    permute(entities);
    next();
  });

</script>

</html>
