<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>crowdsourced art</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="/css/smoothness/jquery-ui-1.10.2.custom.css" />
  <script src="js/jquery-1.9.1.js"></script>
  <script src="js/jquery-ui-1.10.2.custom.min.js"></script>
  <script src="js/sha1-min.js"></script>
  <style>
    body {font-family: "Trebuchet MS", Helvetica, sans-serif; font-size:90%;}
    img {border:1px solid #000000;}
    .leftDiv {width:55%;}
    .rightDiv {float:right; margin-right:10%;}
    .recessed {position:absolute; margin-top:-3px;}
    .usedUp {color:#cccccc;}
    .leftCell {padding-right:30px;}
    .blue {color:#0000ff;}
    .red {color:#ff0000;}
    .orange {color:#ddaa00;}
    #mainContainer {margin-top:30px; margin-left:30px;}
    #container {position:relative;}
    #imageOverlay {cursor:crosshair; position:absolute; top:0; left:0;}
    #currentColor {border:1px solid #000000; width:16px; height:16px;}
    #picker {cursor:crosshair;}
    #instructions {display:none;}
    .dialog {display:none; font-family: "Trebuchet MS", Helvetica, sans-serif; font-size:90%;}
    #splitSlider {margin:0 20px;}
  </style>
</head>
<body>
  <div id="mainContainer">
    <h2>Crowdsourced Art</h2>
    
    <div class="rightDiv">
      <div id="container">
        <img id="imageDisplay" width="402" height="402" src="/crowdsource/image/0">
        <canvas width="402" height="402" id="imageOverlay" onclick="paint()">
      </div>
      <br>
      <br>
      <table><tr><td class="leftCell">
        <img id="picker" onclick="pick()" src="/images/crowdsource/picker.png">
      </td><td>
        <p>
          Current color:&nbsp;
          <span id="currentColor">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </p>
        <p>
          <span id="amountDrawn">0 pixel(s) used</span>
          <br>
          <span id="cost">&nbsp;</span>
          <br>
          <br>
          <input type="button" value="undo last pixel" disabled id="undoButton" onclick="undoPixel()">
        </p>
      </td></tr></table>
    </div>

    <div class="leftDiv">
      <p> 
        This project lets anyone contribute to a piece of digital art.
        You can exchange <b>tokens</b> for pixels which you can draw on the canvas to the right.
        Some people received tokens from me, but anyone can get a token by <b>mining</b> it, just like you would go look for gold or bitcoins.
      </p>
      <p>
        You can read about this project <a href="http://elevenseconds.com/archive/crowdsourced-art" target="_blank">here</a>.
        I ran a small iteration of this with my friends in 2009, and this is what they came up with:
      </p>
      <p>
        <a href="/images/crowdsource/crowdsource-output-2009.png"><img width="134" height="134" src="/images/crowdsource/crowdsource-output-2009.png"></a>
        <br>
        <br>
      </p>
      <p>
        If you have a token, type it here to begin:
        <input type="text" onChange="tokenFocus()" onKeyUp="checkValidate()" id="token" disabled>
        <input type="button" value="validate" id="validateButton" disabled onClick="inspectToken()">&nbsp;
        <span id="validateLabel"></span>
      </p>
      <p>
        Otherwise, press this button:
        <input class="recessed" type="button" value="mine" id="mineButton" onClick="mine()">
        <br>
        <span id="mineLabel">
          Your computer will start mining tokens (be patient, it takes time!).
        </span>
      </p>
      
      <div id="instructions">
        <p>
          <br>
          Pick colors from the picker to the right and click on the canvas to add pixels.
          Once you are satisfied with your work, you can submit the pixels you added.
        </p>
        <p>
          <input type="button" id="submitButton" disabled value="submit contribution" onclick="showConfirmDialog()">
          <span id="submitFeedback">&nbsp;</span>
          <br>
          <br>
        </p>
        <p id="splitTokenP">
          To split your token into two smaller tokens, click here:&nbsp;
          <input class="recessed" type="button" value="split token" id="splitButton" onclick="showSplitDialog()">
        </p>
        <p>
          To merge your token with another one, click here:&nbsp;
          <input class="recessed" type="button" value="merge token" id="mergeButton" onclick="showMergeDialog()">
        </p>
      </div>
      
      <span id="feedback">&nbsp;</span>
    </div>
  </div>
  
  <div id="splitDialog" class="dialog" title="Split token">
    <p>
      You can split your token into two, but note that smaller tokens give you fewer pixels in total.
    </p>
    <p>
      Split your
      <b><span id="splitOriginalAmount"></span></b>
      pixels into
      <span id="splitAmounts"></span>
      <div id="splitSlider"></div>
    </p>
    <p>
      <input type="button" value="perform split" id="splitConfirmButton" onClick="splitToken()">
    </p>
  </div>

  <div id="mergeDialog" class="dialog" title="Merge tokens">
    <p>
      You can combine two tokens into one (and get bonus pixels)
    </p>
    <p>
      Merge your token 
      (<b><span id="mergeOriginalAmount"></span></b>
      pixels) with
      <br>
      <input type="text" id="mergeToken" onKeyUp="checkMergeValidate()">
      <input type="button" value="validate" id="mergeValidateButton" disabled onClick="mergeValidate()">
      <br>
      <span id="mergeAmounts">&nbsp;</span>
    </p>
    <p>
      <input type="button" value="perform merge" id="mergeConfirmButton" onClick="mergeTokens()">
    </p>
  </div>

  <div id="confirmDialog" class="dialog" title="Confirm submission">
    <p>
      <span id="confirmMessage"></span>
    </p>
    <input type="button" value="yes, submit" onClick="submitContribution()">
    &nbsp; &nbsp; 
    <input type="button" value="no, cancel" onClick="cancelContribution()">
  </div>
  
  <script language="javascript" src="/js/crowdsource.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44628365-1', 'strozek.com');
    ga('send', 'pageview');
  </script>
</body>
</html>
