<!DOCTYPE HTML>

<html lang="en-us">
  <head>

  
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-X5PECCZKX1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-X5PECCZKX1');
  </script>

  <title>strozek</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="generator" content="Hugo 0.77.0" />
  
  
    <link rel="icon" href="/static_sites/about/images/icons/favicon.png" type="image/png"  />
  
  
  <link rel="apple-touch-icon-precomposed" href="/static_sites/about /images/icons/%25!s%28%3cnil%3e%29" />

  <link rel="stylesheet" href="/static_sites/about/assets/css/main.css" />

  
    <link rel="stylesheet" href="/static_sites/about/assets/css/page.css" />
  

  
    <link rel="stylesheet" href="/static_sites/about/assets/css/font-awesome.min.css" />
  

  

  
  
  

  <noscript><link rel="stylesheet" href="/static_sites/about/assets/css/noscript.css" /></noscript>
</head>

  <body class="is-loading">

    
      <div id="wrapper">

        
          <section id="main">
            <header>
              <span class="avatar"><img src="/static_sites/about/images/avatars/strozek.jpg" alt="avatar" height="130" width="130" ></span>
              <h1 class="name">
                
                  Lukasz Strozek
                
              </h1>
              
                <h5 class=location><img src="/static_sites/about/images/icons/home-solid.svg" style="height: 0.75em; margin-right: 0.5em;"> <a href="https://goo.gl/maps/3GSdrFq7f9h3TjMp8">Oakland, California</a></h5>
              

              
                <h2 class="position">Building technology that benefits all—and the teams that make it happen</h2>
              

              
              <ul>
                
                  <li>Writing at <a href="https://posttechnical.net">post·technical</a></li>
                
                  <li>Miscellany at <a href="https://elevenseconds.com">elevenseconds</a></li>
                
              </ul>
              

              
                <span class="biography">By reducing frictions (often to zero) and by enabling new paradigms, technology can be a powerful driver of progress. It should be used to solve hard problems to benefit everyone. I have dedicated myself to building and empowering interdisciplinary teams capable of more than the sum of their parts.</span>
              
            </header>

            <footer>
              <ul class="icons">
                
                  <li><a href="https://www.linkedin.com/in/strozek" class="fa-linkedin" target="_blank">LinkedIn</a></li>
                
                  <li><a href="https://twitter.com/strozek" class="fa-twitter" target="_blank">Twitter</a></li>
                
                  <li><a href="https://github.com/strozek" class="fa-github" target="_blank">Github</a></li>
                
              </ul>
              
            </footer>
          </section>

        
          <footer id="footer">
  <ul class="copyright">
    <li>&copy; 
      
        Lukasz Strozek
      </li>
    <li>
      
        <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC-BY-SA-4.0</a>
      </li>
  </ul>
  
    <ul class="credit copyright">
      
        <li>Credits <a href="https://html5up.net">HTML5UP</a></li>
      
    </ul>
   

</footer>


      </div>
    

<script>
  if ('addEventListener' in window) {
    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
  }
</script>









  

  </body>
</html>
