<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= host %>/<%= environment %></title>
  <meta name="description" content="">
</head>
<body>

Host: <b><%= host %></b><br>
Environment: <b><%= environment %></b><br>

</body>
</html>
