<!--

    LANDRUN designed by Iza Strozek, November 2024


    Backlog:

    * Moving platform
    * Screens
	    * Intro screen with instructions
	    * Choose character screen
	    * Dead - try again
	    * Well done - next level
    * Other Gameplay basics
	    * Drag the on-screen joystick to move
        * Constrain camera movements (before the player gets to the cave)
    * Multiple levels
    * Post MVP
        * Draw the skinny walls
        * Editor
        * Clouds
        * When collected, coins float up to the score
        * Sounds (collecting coin, bubbles, spring, finish, death)
-->

<html>
<head>
    <title>Landrun</title>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
        #gameframe {
            position: absolute;
            overflow: hidden;
        }
        #sky {
            background: rgb(118,110,255);
            background: linear-gradient(180deg, rgba(118,110,255,1) 26%, rgba(124,162,228,1) 46%, rgba(79,210,230,1) 68%, rgba(213,239,247,1) 100%);
            position: absolute;
        }
        #cave {
            background: rgb(64,34,9);
            background: linear-gradient(180deg, rgba(64,34,9,1) 9%, rgba(92,44,5,1) 26%, rgba(136,83,20,1) 68%, rgba(164,117,10,1) 88%, rgba(215,155,19,1) 97%);
            position: absolute;
        }
        #player {
            position: absolute;
        }
        #controls {
            position: absolute;
            right: 60px;
            bottom: 50px;
            width: 150px;
            height: 150px;
            border-radius: 75px;
            background: #ffffff;
            border: #000000 solid 1px;
        }
        #world {
            position: absolute;
        }
        #score {
            position: relative;
            width: 300px;
            height: 40px;
            top: 0p;
            left: 0px;
            background: #ffffff;
            border: 2px solid #888888;
            text-align: center;
            padding-top: 15px;
        }
        #popup {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            visibility: hidden;
            background: #eeeeff;
            padding-top: 200px;
        }
        .sprite {
            position: absolute;
        }
        .coin {
            -webkit-animation:spin 4s linear infinite;
            -moz-animation:spin 4s linear infinite;
            animation:spin 4s linear infinite;
        }
        .hidden {
            visibility: hidden;
        }
        .control {
            position: absolute;
            font-size: 40px;
            cursor: pointer;
        }
        @-moz-keyframes spin {
            100% { -moz-transform: rotate3d(0, 1, 0, 3.142rad); }
        }
        @-webkit-keyframes spin {
            100% { -webkit-transform: rotate3d(0, 1, 0, 3.142rad); }
        }
        @keyframes spin {
            100% {
                -webkit-transform: rotate3d(0, 1, 0, 6.2832rad);
                transform: rotate3d(0, 1, 0, 6.2832rad);
            }
        }
    </style>
</head>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>

<body>
<div id="gameframe">
    <div id="sky"></div>
    <div id="cave"></div>
    <div id="world"></div>
    <div id="player"></div>
</div>
<div id="score">SCORE: 0</div>
<div id="popup"></div>
<div id="controls">
    <div class="control" style="left: 10px; top: 55px;" onmousedown="arrowLeft = true;" onmouseup="arrowLeft = false;" ontouchstart="arrowLeft = true;" ontouchend="arrowLeft = false;"  onbeforecopy="return false" ondragstart="return false" onselectstart="return false" oncontextmenu="return false" onselect="document.selection.empty()" oncopy="document.selection.empty()">&lHar;</div>
    <div class="control" style="left: 100px; top: 55px;" onmousedown="arrowRight = true;" onmouseup="arrowRight = false;" ontouchstart="arrowRight = true;" ontouchend="arrowRight = false;" onbeforecopy="return false" ondragstart="return false" onselectstart="return false" oncontextmenu="return false" onselect="document.selection.empty()" oncopy="document.selection.empty()">&rHar;</div>
    <div class="control" style="left: 55px; top: 10px;" onmousedown="arrowUp = true;" onmouseup="arrowUp = false;" ontouchstart="arrowUp = true;" ontouchend="arrowUp = false;"  onbeforecopy="return false" ondragstart="return false" onselectstart="return false" oncontextmenu="return false" onselect="document.selection.empty()" oncopy="document.selection.empty()">&uHar;</div>
</div>
</body>

<script>

    /* map legend: 				movement state:
        * = coin 					rest
        # = hay 					hop
        S = start 					hop-bounce
        G = ground 					jump
        P = pond 					jump-bounce
        C = crossroads sign
        F = finish
        $ = spring
        T = tree


    */

    const SCALE = 80;
    const GRID = false;
    const H = 0.35;	                        // how high the player hops when moving left/right
    const SPEED = 1.0;                      // player's speed
    const GEYSER_SPEED = 1.0;               // geyser's speed
    const MAX_WORLD_WIDTH_VISIBLE = 20;
    const MAX_WORLD_HEIGHT_VISIBLE = 10;
    const IMAGE_PATH = '/images/landrun';

    const level = [
        '                        ',
        '           *            ',
        '          *#            ',
        '         *##            ',
        '        *###            ',
        'S *    *####           T',
        'GGG   *##### E*        T',
        'GGG   GGGGGGGGG    C   T',
        'GGGGGGGGGGGGGGGP  GG * G',
        'GGGGGGGGGGGGGGGG  GG * G',
        'GGGGGGGGGGGGGGGG*$G  * G',
        'GGGGGGG * GGGGGGGGGPP*PG',
        'GGGGGGG #  GGG  GGGGG*TG',
        'GGGGGGG ##* GG  ******TG',
        'GGGGGG *###* G GGGGGGGGG',
        'GGGGF *#####*  GGGGGGGGG',
        'GGGGGGGGGGGGGGGGGGGGGGGG'
    ];

    const SPRITE_TRANSFORM = {
        hay: {left: -0.29, top: -0.29, right: 0.29, bottom: 0.29},
        pond: {left: 0, top: -0.15, right: 0, bottom: -0.65},
        coin: {left: 0.33, top: 0.33, right: -0.33, bottom: -0.33, customClass: 'coin'},
        greenstar: {left: 0, top: 0, right: -0.4, bottom: 0},
        bluestar: {left: 0.2, top: 0, right: -0.2, bottom: 0},
        spring: {left: 0, top: 0.3, right: -0.2, bottom: 0.2},
        'geyser-base': {left: 0, top: 0.9, right: 0, bottom: 0.3},
        fork: {left: 0, top: 0, right: 0, bottom: 0.2},
        'ground-inside': {left: -0.1, top: -0.15, right: 0.1, bottom: 0.15},
        'ground-flat': {left: -0.1, top: -0.25, right: 0.1, bottom: 0.15},
        'ground-edge-curved': {left: -0.15, top: -0.15, right: -0.8, bottom: 0.25},
        'ground-edge-straight': {left: -0.15, top: -0.25, right: -0.8, bottom: 0.25},
        wall: {left: -0.15, top: -0.15, right: 0.15, bottom: 0.15}
    }

    const props = {
        caveLevel: 11,							// y coordinate when the cave background starts
        rockLevel: 5,							// y coordinate when the rock background starts
        playerVariants: [{width: 1.0, offsetX: 0.5, offsetY: 0.3},	// width: how wide the player sprite should be for a given variant
            {width: 1.1, offsetX: 0.5, offsetY: 0.3},	// offsetX: offset between left edge and center of gravity in % of SCALE
            {width: 0.7, offsetX: 0.5, offsetY: 0.5}]	// offsetY: offset between top edge and center of gravity in % of SCALE
    }

    const YS = level.length;
    const XS = level[0].length;
    const SPEED_CALC = SPEED*SCALE/40;
    const FRAME_WIDTH = Math.min(window.innerWidth, MAX_WORLD_WIDTH_VISIBLE*SCALE);
    const FRAME_HEIGHT = Math.min(window.innerHeight, MAX_WORLD_HEIGHT_VISIBLE*SCALE);
    const GEYSER_TIMELINE = [[0.0, 'hide'], [3.0, 'low'], [3.15, 'medium'], [3.3, 'high-0'], [3.5, 'high-1'], [3.7, 'high-0'], [3.9, 'high-1'],
                             [4.1, 'high-0'], [4.3, 'high-1'], [4.5, 'high-0'], [4.7, 'high-1'], [4.9, 'high-0'], [5.1, 'high-1'], [5.3, 'high-0'], [5.5, 'high-1'],
                             [5.7, 'high-0'], [5.9, 'high-1'], [6.1, 'high-0'], [6.3, 'high-1'], [6.5, 'medium'], [6.65, 'low'], [6.8, 'loop']];

    let blocker = [];	// this 2d array defines all spaces which the player can't get through. first dimension = x, second = y

    // the player's information
    let playerX, playerY;		// player's center of gravity
    let state;					// movement state
    let direction;				// 1 if facing right, -1 if facing left
    let hopCounter;				// counter for hops and jumps
    let referenceY;				// player's Y position for reference in determining parabolas
    let referenceX;				// used to adjust the player after falling
    let referenceDirection;     // used to bounce the player
    let targetX;				// player's X target position (player getting adjusted after falling)
    let geyserCounter = 0;      // used to determine the geyser state
    let geyserState = 0;        // the geyser state

    let gameOn = true;	// should the game continue?
    let coins = [];		// coin collection
    let score = 0;		// coin score
    let maxScore = 0;   // maximum possible score
    let finishes = [];	// all the finish portals
    let ponds = [];		// all the ponds
    let springs = [];   // all the springs
    let geysers = [];   // all the geysers

    // input information
    let arrowLeft = false;
    let arrowRight = false;
    let arrowUp = false;
    let arrowDown = false;

    // Draw the game world
    function drawWorld() {

        // initiate the blocker array
        for(let x=0; x<XS; x += 1) {
            blocker.push([]);
        }

        // draw the background wall
        for(let y=YS-1; y>=0; y -= 1) {
            for(let x=0; x<XS; x += 1) {
                if(y>=props.rockLevel && y<props.caveLevel) {
                    draw('wall', x, y);
                }
            }
        }

        for(let y=YS-1; y>=0; y -= 1) {
            for(let x=0; x<XS; x += 1) {
                let c = level[y][x];
                if(c == '#') {
                    draw('hay', x, y);
                    blocker[x][y] = true;
                }
                if(c == '*') {
                    draw('coin', x, y, {id: `coin${coins.length}`});
                    coins.push({x: x, y: y});
                }
                if(c == '$') {
                    draw('spring', x, y);
                    springs.push({x: x, y: y});
                }
                if(c == 'E') {
                    draw('geyser-base', x, y);
                    draw('geyser-0', x, y, {id: `geyser-${geysers.length}`, customClass: 'hidden'});
                    geysers.push({x: x, y: y});
                }
                if(c == 'S') {
                    draw('greenstar', x, y);
                    playerX = SCALE*(0.5+x);
                    playerY = SCALE*(0.5+y);
                }
                if(c == 'F') {
                    draw('bluestar', x, y);
                    finishes.push({x: x, y: y});
                }
                if(c == 'C') {
                    draw('fork', x, y);
                }
                if(c == 'G' || c == 'P') {
                    if(c == 'G' && lookup(x, y-1) != 'G' && lookup(x, y-1) != 'P') {
                        draw('ground-flat', x, y);
                    }
                    else if(c == 'P') {
                        draw('ground-flat', x, y);
                    } else {
                        draw('ground-inside', x, y);
                    }
                    if(c == 'G') {
                        blocker[x][y] = true;
                    }
                }
                if(c != 'G' && c!= 'P' && lookup(x-1, y) == 'G' && y<props.caveLevel) {
                    if(lookup(x-1, y-1) == 'G') {
                        draw('ground-edge-straight', x, y);
                    }
                    else {
                        draw('ground-edge-curved', x, y);
                    }
                }

                // Maximum possible score
                maxScore = coins.length*5;

                // For debugging, show the grid
                if(GRID) {
                    $('#world').append(`<div class="sprite" style="left: ${x*SCALE}px; top: ${y*SCALE}px; width: ${SCALE}px; height: ${SCALE}px; border:1px solid #eeeeee; opacity:0.4">`);
                }
            }
        }

        // Draw a scaled tree
        for(let x=0; x<XS; x += 1) {
            for(let y=0; y<YS; y += 1) {
                if(level[y][x] == 'T') {
                    let treeStart = y;
                    while(y<YS && level[y][x] == 'T') {
                        blocker[x][y] = true;
                        y += 1;
                    }
                    draw('tree', x, treeStart, {bottom: (y-treeStart)-1+0.2});
                }
            }
        }

        // Draw a scaled pond
        for(let y=0; y<YS; y += 1) {
            for(let x=0; x<XS; x += 1) {
                if(level[y][x] == 'P') {
                    let pondStart = x;
                    while(x<XS && level[y][x] == 'P') {
                        x += 1;
                    }
                    draw('pond', pondStart, y, {right: (x-pondStart)-1});
                    ponds.push({x: pondStart, y: y, size: x-pondStart});
                }
            }
        }
    }

    // Return the map element at position (x, y), or null if we're out of bounds
    function lookup(x, y) {
        if(x<0 || y<0 || x>=XS || y>=YS) {
            return null;
        }
        return level[y][x];
    }

    // Draw a sprite in a grid position, with an optional custom transform
    function draw(sprite, x, y, customTransform) {
        let left = x*SCALE;
        let top = y*SCALE;
        let width = SCALE;
        let height = SCALE;
        let txf = {left: 0, top: 0, right: 0, bottom: 0};
        txf = {...txf, ...SPRITE_TRANSFORM[sprite], ...customTransform};
        let classes = ['sprite'];
        let id = '';
        if(txf) {
            left += txf.left*SCALE;
            top += txf.top*SCALE;
            width += (txf.right-txf.left)*SCALE;
            height += (txf.bottom-txf.top)*SCALE;
            if(txf.customClass) {classes.push(txf.customClass);}
            if(txf.id) {id = `id="${txf.id}" `;}
        }
        $('#world').append(`<img ${id} src="${IMAGE_PATH}/${sprite}.png" class="${classes.join(' ')}" style="left: ${left}px; top: ${top}px; width: ${width}px; height: ${height}px;">`);
    }

    function throwConfetti() {
        const count = 200,
            defaults = {
                origin: { y: 0.7 },
            };

        function fire(particleRatio, opts) {
            confetti(
                Object.assign({}, defaults, opts, {
                    particleCount: Math.floor(count * particleRatio),
                })
            );
        }

        fire(0.25, {
            spread: 26,
            startVelocity: 55,
        });

        fire(0.2, {
            spread: 60,
        });

        fire(0.35, {
            spread: 100,
            decay: 0.91,
            scalar: 0.8,
        });

        fire(0.1, {
            spread: 120,
            startVelocity: 25,
            decay: 0.92,
            scalar: 1.2,
        });

        fire(0.1, {
            spread: 120,
            startVelocity: 45,
        });
    }

    function checkCoinCollision() {
        for(let i=0; i<coins.length; i += 1) {
            if(coins[i] && playerX >= (coins[i].x+0.25)*SCALE && playerX <= (coins[i].x+0.75)*SCALE && playerY >= (coins[i].y+0.25)*SCALE && playerY <= (coins[i].y+0.75)*SCALE) {
                // got the coin!
                $(`#coin${i}`).css({display: 'none'});
                delete(coins[i]);
                score += 5;
                $('#score').html(`SCORE: ${score}`);
                break;
            }
        }
    }

    function checkFinishCollision() {
        for(let i=0; i<finishes.length; i += 1) {
            if(playerX >= (finishes[i].x+0.2)*SCALE && playerX <= (finishes[i].x+0.8)*SCALE && playerY >= (finishes[i].y+0.2)*SCALE && playerY <= (finishes[i].y+0.8)*SCALE) {
                $('#popup').css({visibility: 'visible'});
                $('#popup').html(`<b>CONGRATULATIONS!</b><br><br>You scored ${score} out of ${maxScore} possible.<br><br><button onclick="location.reload()">Start again</button>`);
                throwConfetti();
                gameOn = false;
            }
        }
    }

    function playerIsDead() {
        $('#popup').css({visibility: 'visible'});
        $('#popup').html("YOU ARE DEAD!<br><br><button onclick=\"location.reload()\">Start again</button>");
        gameOn = false;
    }

    function checkPondAndAbyssCollision() {
        let collisionFound = false;
        for(let i=0; i<ponds.length; i += 1) {
            if(playerX >= (ponds[i].x+0.2)*SCALE && playerX <= (ponds[i].x+ponds[i].size-0.2)*SCALE && playerY >= (ponds[i].y-0.2)*SCALE && playerY <= (ponds[i].y+0.4)*SCALE) {
                collisionFound = true;
            }
        }
        if(playerY > YS*SCALE) {
            collisionFound = true;
        }
        if(collisionFound) {
            playerIsDead();
        }
    }

    function checkSpringCollision() {
        for(let i=0; i<springs.length; i += 1) {
            if(playerX >= (springs[i].x+0.2)*SCALE && playerX <= (springs[i].x+0.8)*SCALE && playerY >= (springs[i].y+0.2)*SCALE && playerY <= (springs[i].y+0.8)*SCALE && state == 'fall') {
                state = 'spring';
                referenceY = playerY;
                hopCounter = 0;
            }
        }
    }

    // Draw the player sprite according to its current state
    function drawPlayer() {

        let variant;
        if(state == 'rest') {variant = 0;}
        else if(state == 'hop' || state == 'hop-bounce' || state == 'jump' || state == 'jump-bounce' || state == 'fall' || state == 'adjust') {variant = 1;}
        else if(state == 'spring') {variant = 2;}

        $('#playerImage')[0].src = `${IMAGE_PATH}/rabbit-${variant}.png`;
        $('#playerImage').css({width: SCALE*props.playerVariants[variant].width});
        let playerWidth = $('#playerImage')[0].width;
        let playerHeight = $('#playerImage')[0].height;
        $('#player').css({left: playerX-SCALE*props.playerVariants[variant].offsetX, top: playerY-SCALE*props.playerVariants[variant].offsetY, transform: 'scaleX(' + direction + ')'});

        checkCoinCollision();
        checkFinishCollision();
        checkPondAndAbyssCollision();
        checkSpringCollision();
    }

    function isBlocked(deltaX, deltaY, microDeltaX = 0, microDeltaY = 0) {
        let testX = parseInt((playerX + microDeltaX)/SCALE) + deltaX;
        let testY = parseInt((playerY + microDeltaY)/SCALE) + deltaY;
        if(testX<0 || testX>=XS || testY<0) {return true;}
        if(testY>=YS) {return false;}
        return blocker[testX][testY];
    }

    // return the vertical position for the player along a parabola defining
    // a hop from 0 @ i=0 to maximum height of H @ i=SCALE/2 and back to 0 @ i=SCALE
    function parabola(i) {
        let a = -4*H/SCALE;
        let b = 4*H;
        let y = a*i*i + b*i;
        return y;
    }

    function freefall(i) {
        if(i < SCALE) {
            return ((i/SCALE)+0.25)*((i/SCALE)+0.25)*SCALE;
        } else {
            return (i-SCALE)*2.5+SCALE*1.5; // TODO: Make this scalable
        }
    }

    function checkIfFall() {
        if(!isBlocked(0, 1)) {
            state = 'fall';
            referenceY = playerY;
            hopCounter = 0;
            return true;
        }
        return false;
    }

    // return the amount by which to scroll the screen, as a function of how close the player's coordinate is to the edge
    // delta is negative if the player is beyond the screen
    function getScrollAmount(delta) {
        if(delta<0) {return 8;}
        if(delta<25) {return 6;}
        if(delta<50) {return 4;}
        if(delta<100) {return 2;}
        return 0;
    }

    // animate all the geysers
    function updateGeysers() {
        let state = GEYSER_TIMELINE[geyserState][1];
        for(let i=0; i < geysers.length; i += 1) {
            let id = '#geyser-' + i;
            let left = geysers[i].x*SCALE;
            let top = geysers[i].y*SCALE;
            let geyserProps = null;
            if(state == 'hide') {
                // geyser is hidden
                $(id).addClass('hidden');
            } else if(state == 'low') {
                // low version
                $(id).removeClass('hidden');
                geyserProps = {variant: 0, collisionCheck: false, left: left+0.3*SCALE, top: top+0.35*SCALE, width: SCALE*0.5, height: SCALE*0.7};
            } else if(state == 'medium') {
                // medium version
                geyserProps = {variant: 1, collisionCheck: true, left: left+0.175*SCALE, top: top-2.9*SCALE, width: SCALE*0.9, height: SCALE*4.0};
            } else if(state == 'high-0') {
                // tall version, first variant
                geyserProps = {variant: 2, collisionCheck: true, left: left, top: top-4.875*SCALE, width: SCALE, height: SCALE*6.0};
            } else if(state == 'high-1') {
                // tall version, second variant
                geyserProps = {variant: 3, collisionCheck: true, left: left, top: top-4.875*SCALE, width: SCALE, height: SCALE*6.0};
            }
            if(geyserProps) {
                $(id)[0].src = `${IMAGE_PATH}/geyser-${geyserProps.variant}.png`;
                $(id).css({width: `${geyserProps.width}px`, height: `${geyserProps.height}px`, left: `${geyserProps.left}px`, top: `${geyserProps.top}px`});
                // check collision
                if(geyserProps.collisionCheck && playerX >= geyserProps.left && playerX <= geyserProps.left + geyserProps.width && playerY >= geyserProps.top && playerY <= geyserProps.top + geyserProps.height) {
                    playerIsDead();
                }
            }
        }
    }

    // the main game loop that handles player's state, geysers and scrolling
    function gameLoop() {
        if(!gameOn) {
            return;
        }
        if(state == 'rest') {
            if(!checkIfFall()) {
                if(arrowRight || arrowLeft) {
                    direction = arrowRight ? 1 : -1;
                    if(!isBlocked(direction, 0)) {
                        state = 'hop';
                    } else {
                        referenceDirection = direction;
                        state = 'hop-bounce';
                    }
                    referenceY = playerY;
                    hopCounter = 0;
                } else if(arrowUp) {
                    if(!isBlocked(direction, -1)) {
                        state = 'jump';
                    } else {
                        referenceDirection = direction;
                        state = 'jump-bounce';
                    }
                    referenceY = playerY;
                    hopCounter = 0;
                }
            }
        }
        else if(state == 'hop') {
            hopCounter += SPEED_CALC;
            playerX += direction*SPEED_CALC;
            playerY = referenceY - parabola(hopCounter);
            if(hopCounter >= SCALE) {
                state = 'rest';
            }
        }
        else if(state == 'hop-bounce') {
            hopCounter += SPEED_CALC;
            if(hopCounter <= SCALE/2) {
                playerX += direction*SPEED_CALC;
            } else {
                if(direction == referenceDirection) {direction = -direction;}
                playerX -= referenceDirection*SPEED_CALC;
            }
            playerY = referenceY - parabola(hopCounter);
            if(hopCounter >= SCALE) {
                state = 'rest';
            }
        }
        else if(state == 'jump') {
            hopCounter += SPEED_CALC;
            playerX += direction*SPEED_CALC;
            playerY = referenceY - parabola(hopCounter) - hopCounter;
            if(hopCounter >= SCALE) {
                state = 'rest';
            }
        }
        else if(state == 'jump-bounce') {
            hopCounter += SPEED_CALC;
            if(hopCounter < SCALE/2) {
                playerX += direction*SPEED_CALC;
                playerY = referenceY - parabola(hopCounter) - hopCounter;
            } else {
                if(direction == referenceDirection) {direction = -direction;}
                playerX -= referenceDirection*SPEED_CALC;
                playerY = referenceY - parabola(hopCounter) - (SCALE-hopCounter);
            }
            if(hopCounter >= SCALE) {
                state = 'rest';
            }
        }
        else if(state == 'fall') {
            hopCounter += SPEED_CALC;
            if(arrowRight && !isBlocked(0, 0, SPEED_CALC, 0)) {
                direction = 1;
                playerX += SPEED_CALC;
            } else if(arrowLeft && !isBlocked(0, 0, -SPEED_CALC, 0)) {
                direction = -1;
                playerX -= SPEED_CALC;
            }
            playerY = referenceY + freefall(hopCounter);
            if(isBlocked(0, 0, 0, SCALE/2)) {
                state = 'adjust';
                referenceX = playerX;
                referenceY = playerY;
                targetX = Math.round(playerX/SCALE-0.5)*SCALE+(SCALE/2);
                hopCounter = 0;
            }
        }
        else if(state == 'adjust') {
            // to adjust the player's X position after a fall, we use the parabola but scale it down to 1/4
            hopCounter += SPEED_CALC;
            playerX = (referenceX*(SCALE/4-hopCounter) + targetX*hopCounter) / (SCALE/4);
            playerY = referenceY - parabola(hopCounter*4)/4;
            if(hopCounter >= SCALE/4) {
                state = 'rest';
            }
        }
        else if(state == 'spring') {
            hopCounter += SPEED_CALC;
            if(arrowRight && !isBlocked(0, 0, SPEED_CALC, 0)) {
                direction = 1;
                playerX += SPEED_CALC;
            } else if(arrowLeft && !isBlocked(0, 0, -SPEED_CALC, 0)) {
                direction = -1;
                playerX -= SPEED_CALC;
            }
            playerY = referenceY - parabola(hopCounter/2)*10;
            if(hopCounter >= SCALE) {
                state = 'rest';
            }
        }
        drawPlayer();

        // Handle the geysers
        geyserCounter += 1;
        let geyserTime = geyserCounter*GEYSER_SPEED/100.0;
        if(geyserTime >= GEYSER_TIMELINE[geyserState + 1][0]) {
            geyserState += 1;
            if(GEYSER_TIMELINE[geyserState][1] == 'loop') {
                geyserCounter = 0;
                geyserState = 0;
            }
            updateGeysers();
        }

        // Scroll the screen if the player is too close to the edge
        let frameLeft = $('#gameframe')[0].scrollLeft;
        let frameTop = $('#gameframe')[0].scrollTop;
        if (playerX - 200 < frameLeft) {
            let scrollAmount = getScrollAmount(2*(playerX - frameLeft));
            $('#gameframe')[0].scrollLeft = Math.max(frameLeft - scrollAmount, 0);
        }
        if (playerY - 100 < frameTop) {
            let scrollAmount = getScrollAmount(playerY - frameTop);
            $('#gameframe')[0].scrollTop = Math.max(frameTop - scrollAmount, 0);
        }
        if (playerX + 200 > frameLeft + FRAME_WIDTH) {
            let scrollAmount = getScrollAmount(2*(frameLeft + FRAME_WIDTH - playerX));
            $('#gameframe')[0].scrollLeft = Math.min(frameLeft + scrollAmount, XS * SCALE - FRAME_WIDTH);
        }
        if (playerY + 100 > frameTop + FRAME_HEIGHT) {
            let scrollAmount = getScrollAmount(frameTop + FRAME_HEIGHT - playerY);
            $('#gameframe')[0].scrollTop = Math.min(frameTop + scrollAmount, YS * SCALE - FRAME_HEIGHT);
        }
    }

    // Run all the setup
    function setup() {
        drawWorld();
        $('#sky').width(XS*SCALE+'px');
        $('#sky').height(props.rockLevel*SCALE+'px');
        $('#cave').width(XS*SCALE+'px');
        $('#cave').height((YS-props.caveLevel)*SCALE+'px');
        $('#cave').css({top: props.caveLevel*SCALE+'px'});

        let border = '';
        if(GRID) {border = 'border: 1px solid #eeeeee; '}

        $('#player').append(`<img id="playerImage" src = "${IMAGE_PATH}/rabbit-1.png" style="${border};visibility:hidden">`);
        state = 'rest';
        direction = 1;
        hopCounter = 0;
        drawPlayer();
        $('#playerImage').css('visibility', 'visible');

        setInterval(gameLoop, 10);

        document.addEventListener('keydown', (event) => {
            const key = event.key;
            if(key == 'ArrowLeft') {arrowLeft = true;}
            if(key == 'ArrowRight') {arrowRight = true;}
            if(key == 'ArrowUp') {arrowUp = true;}
            if(key == 'ArrowDown') {arrowDown = true;}
        });
        document.addEventListener('keyup', (event) => {
            const key = event.key;
            if(key == 'ArrowLeft') {arrowLeft = false;}
            if(key == 'ArrowRight') {arrowRight = false;}
            if(key == 'ArrowUp') {arrowUp = false;}
            if(key == 'ArrowDown') {arrowDown = false;}
        });

        $('#gameframe').css('width', FRAME_WIDTH+'px');
        $('#gameframe').css('max-width', FRAME_WIDTH+'px');
        $('#gameframe').css('height', FRAME_HEIGHT+'px');
        $('#gameframe').css('max-height', FRAME_HEIGHT+'px');
    }

    $(document).ready(setup);

</script>

</html>
