<!--
Syntax:
go <amount>             - go straight by <amount> (100 = one length)
back <amount>           - go backwards by <amount>
lt <angle>              - turn left <angle> amount (360 = full turn)
rt <angle>              - turn right <angle> amount
col <color>             - switch color
							named: aqua, black, blue, brown, coral, cyan, gold, gray, green, lavender, lime, magenta, navy, olive, orange, pink, purple, red, teal, white, yellow
							random: ?
							hex: #f3d
pen <down|up>           - put pen down or up
c                       - clear the canvas
r <count> [ ... ]       - repeat <count> times
x                       - value of x (starts at 1) - used for <amount>, <angle>, <count>
inc <amount>			- increment x by <amount>
dec <amount>			- decrement x by <amount>

-->
<html>
<head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body style="margin-top:40px;">
<div style="position:absolute;left:50px;top:50px;font-family:monospace;">
	<table border="0" style="font-size:18px;">
		<tr><td><b>Cheatsheet</b></td></tr>
		<tr><td>go <span style="color:#1e63b6;">30</span></td></tr>
		<tr><td>back <span style="color:#1e63b6;">30</span></td></tr>
		<tr><td>lt <span style="color:#1e63b6;">90</span></td></tr>
		<tr><td>rt <span style="color:#1e63b6;">90</span></td></tr>
		<tr><td>col <span style="color:#1e63b6;">blue</span></td></tr>
		<tr><td>col <span style="color:#1e63b6;">#909</span></td></tr>
		<tr><td>col <span style="color:#1e63b6;">?</span></td></tr>
		<tr><td>pen up</td></tr>
		<tr><td>pen down</td></tr>
		<tr><td>c</td></tr>
		<tr><td>r <span style="color:#1e63b6;">10</span> [ <span style="background-color:#cccccc;border-radius:4px;font-size:70%">...</span> ]</td></tr>
		<tr><td><span style="color:#1e63b6;">x</span></td></tr>
		<tr><td>inc <span style="color:#1e63b6;">1</span></td></tr>
		<tr><td>dec <span style="color:#1e63b6;">1</span></td></tr>
		<tr><td style="padding-top:20px;">
			<select style="font-family:monospace;font-size:18px;" onchange="fill(this.value)">
				<option selected disabled>Pick a preset</option>
				<option value="r 80 [ col pink go x rt 12 col purple go x rt 12 inc 0.1 ]">1</option>
				<option value="r 36 [ col ? rt 10 r 8 [ go 10 lt 45 ] ]">2</option>
				<option value="r 500 [ lt 1 go 200 ]">3</option>
				<option value="r 40 [ r 4 [ go x rt 90 ] lt 135 pen up go 1 rt 135 pen down inc 1 ]">4</option>
				<option value="r 120 [ r 5 [ go x rt 72 ] lt 135 pen up go 0.5 rt 135 pen down col ? inc 0.5 ]">5</option>
				<option value="r 20 [ lt 5 r 20 [ lt 10 r 20 [ col ? go 5 lt 20 ] ] ]">6</option>
				<option value="r 20 [ lt 5 r 20 [ col ? lt 10 r 20 [ go 8 lt 18 ] ] ]">7</option>
				<option value="r 100 [ lt 2 go 20 lt 1 go 10 ]">8</option>
				<option value="lt 1 r 10000 [ col ? go 5 ]">9</option>
				<option value="r 12 [ r 75 [ go 15 back 15 rt 2 ] go 30 ]">10</option>
				<option value="r 4 [ r 20 [ lt 160 go 5 rt 160 go 5 ] rt 90 ]">11</option>
				<option value="r 36 [ col ? go 20 back 20 r 10 [ go 10 back 10 rt 1 ] ]">12</option>
				<option value="r 100 [ r 20 [ pen up go 5 pen down go 5 ] rt 90 go 1 lt 90 go 1 ]">13</option>
				<option value="r 5 [ go 6 back 6 rt 2 r 5 [ go 10 back 9 rt 2 r 4 [ go 20 back 19 rt 3 ] ] ]">14</option>
				<option value="r 45 [ r 4 [ go 3 rt 90 ] lt 90 go 20 back 20 rt 90 lt 8 go 3 ]">15</option>
				<option value="r 200 [ r 4 [ go x rt x ] inc 1 ]">16</option>
				<option value="r 300 [ go 5 rt x inc x ]">17</option>
				<option value="r 20 [ r x [ go 2 rt 15 ] go 15 rt 180 inc 1 ]">18</option>
				<option value="pen up go 50 pen down rt 180 r 300 [ col ? go 100 rt 90 pen up go 0.33 pen down lt 90 ]">19</option>
				<option value="r 23 [ r x [ go 2 rt 90 go 2 lt 90 ] rt 90 inc 1 ]">20</option>
				<option value="c dec 0.5 r 155 [ r x [ go 1 rt 90 go 1 lt 90 ] rt 90 inc 0.5 ]">21</option>
			</select>
		</td></tr>
	</table>
</div>
<div id="turtleBox" style="position:relative;width:500px;height:500px;overflow:hidden;border:1px solid #000000;margin-left:auto;margin-right:auto;">
	<img id="t" style="position:absolute;width:50px;height:50px;left:-100px;transform-origin:center;" src="/images/logo/turtle.png">
	<img id="t2" style="position:absolute;width:50px;height:50px;left:-100px;transform-origin:center;" src="/images/logo/turtle.png">
	<img id="t3" style="position:absolute;width:50px;height:50px;left:-100px;transform-origin:center;" src="/images/logo/turtle.png">
	<img id="t4" style="position:absolute;width:50px;height:50px;left:-100px;transform-origin:center;" src="/images/logo/turtle.png">
	<canvas id="c" height="500" width="500"></canvas>
</div>
<br>
<textarea id="commandBox" style="width:800px;height:50px;margin-left:auto;margin-right:auto;display:block;font-size:20px;resize:none;"></textarea>
<br>
<div id="historyBox" style="width:800px;height:200px;margin-left:auto;margin-right:auto;display:block;font-size:20px;border:1px solid #aaaaaa;font-family:monospace;overflow-y:scroll;color:#aaaaaa;"></div>
<script>
	let x;         // 0 is left, 500 is right
	let y;         // 0 is top, 500 is bottom
	let rot;       // 0 is straight up, 360 is full rotation, clockwise
	let ctx;       // the context object
	let penUp;     // true if pen is up (no drawing)
	let register;  // the value of the "x" register
	let commands;  // the array of commands currently being executed

	// place the turtle in the appropriate spot
	function place() {
		$('#t').css({left: parseFloat(x-25), top: parseFloat(y-25), transform: 'rotate('+parseFloat(rot)+'deg)'});
		$('#t2').css({left: parseFloat(x-25+(x>250 ? -500: 500)), top: parseFloat(y-25), transform: 'rotate('+parseFloat(rot)+'deg)'});
		$('#t3').css({left: parseFloat(x-25), top: parseFloat(y-25+(y>250 ? -500 : 500)), transform: 'rotate('+parseFloat(rot)+'deg)'});
		$('#t4').css({left: parseFloat(x-25+(x>250 ? -500: 500)), top: parseFloat(y-25+(y>250 ? -500 : 500)), transform: 'rotate('+parseFloat(rot)+'deg)'});
	}

	// close the stroke, alter x or y, and start stroke again
	function restroke(adjustment) {
		if(penUp) {
			ctx.moveTo(x, y);
		} else {
			ctx.lineTo(x, y);
			ctx.stroke();
		}
		adjustment();
		ctx.moveTo(x, y);
	}

	// rotate the turtle clockwise by rot_add amount (360 is one rotation). negative for counter-clockwise
	function rotate(rot_add) {
		rot += rot_add;
		place();
	}

	// move the turtle by d distance (d=100 is full length). negative for moving backwards. turtle wraps around
	function move(d) {
		ctx.beginPath();
		ctx.moveTo(x, y);
		let dAbs = Math.abs(d);
		let sign = Math.sign(d);
		for(let i=0; i<dAbs*5; ++i) {
			x = x + sign * Math.sin(rot*2*Math.PI/360);
			y = y - sign * Math.cos(rot*2*Math.PI/360);
			if(x>=500) restroke(function() {x-=500;});
			if(y>=500) restroke(function() {y-=500;});
			if(x<0) restroke(function() {x+=500;});
			if(y<0) restroke(function() {y+=500;});
		}
		if(penUp) {
			ctx.moveTo(x, y);
		} else {
			ctx.lineTo(x, y);
			ctx.stroke();
		}
		place();
	}

	// reset the canvas and the turtle
	function reset() {
		ctx.clearRect(0, 0, 500, 500);
		ctx.strokeStyle = 'black';
		x = 250.0;
		y = 250.0;
		rot = 0.0;
		penUp = false;
		register = 1;
		place();
	}

	// return true if string `s` is a word (only a-z, A-Z, #)
	function isWord(s) {
		return (s.match(/^[a-zA-Z#]+/) != null);
	}

	// interpret a string s as an amount. Could be a number (with optional sign) or the register `x` (which is replaced with its value)
	function evaluateAmount(s) {
		if(s=='x') {
			return register;
		}
		return parseFloat(s);
	}

	// execute the command, i is the current index into `commands` and isLoop is true if we're inside an `r` loop
	// returns the next index to process
	function execute(i, isLoop) {
		while(i < commands.length) {
			if(['lt', 'rt', 'go', 'back', 'inc', 'dec'].includes(commands[i])) {
				if (i + 1 >= commands.length) {
					throw i + 1;
				}
				let amount = evaluateAmount(commands[i + 1]);
				if (isNaN(amount)) {
					throw i + 1;
				}
				if(commands[i]=='lt') rotate(-amount);
				if(commands[i]=='rt') rotate(amount);
				if(commands[i]=='go') move(amount);
				if(commands[i]=='back') move(-amount);
				if(commands[i]=='inc') register += amount;
				if(commands[i]=='dec') register -= amount;
				i += 2;
			} else if(commands[i] == 'col') {
				if (i + 1 >= commands.length) {
					throw i + 1;
				}
				if(commands[i+1]=='?') {
					ctx.strokeStyle = 'rgb('+Math.floor(Math.random()*255)+','+Math.floor(Math.random()*255)+','+Math.floor(Math.random()*255)+')';
				}
				else {
					ctx.strokeStyle = commands[i+1];
				}
				i += 2;
			} else if(commands[i] == 'pen') {
				if (i + 1 >= commands.length) {
					throw i + 1;
				}
				if (commands[i + 1] == 'up') {
					penUp = true;
				} else if (commands[i + 1] == 'down') {
					penUp = false;
				} else {
					throw i + 1;
				}
				i += 2;
			} else if(commands[i] == 'r') {
				if (i + 1 >= commands.length) {
					throw i + 1;
				}
				let amount = evaluateAmount(commands[i + 1]);
				if (isNaN(amount) || amount==0) {
					throw i + 1;
				}
				if (i + 2 >= commands.length || commands[i+2] != '[') {
					throw i + 2;
				}
				let nextIndex;
				for(let count = 0; count < amount; ++count) {
					nextIndex = execute(i+3, true);
				}
				i = nextIndex;
			} else if(commands[i] == 'c') {
				reset();
				i += 1;
			} else if(commands[i] == ']') {
				if(!isLoop) {
					throw i;
				}
				return i+1;
			} else {
				throw i;
			}
		}
		if(isLoop) {
			throw i;
		}
		return i;
	}

	// get the next token and an index for when to look afterwards (or null if we're at the end of the string)
	function getToken(input, indexFrom) {
		let match;
		let inputSubstring = input.substr(indexFrom);
		if(inputSubstring == '') {
			return null;
		}
		// words, or numbers (including +, -, . -)
		// TODO: parse numbers properly; right now "45.6-.+5" is accepted)
		match = inputSubstring.match(/^([a-zA-Z]+|[0-9.+-]+)\s*/);
		if(!match) {
			// hex color definition e.g. #f0a
			match = inputSubstring.match(/^(#[0-9a-f][0-9a-f][0-9a-f])\s*/);
		}
		if(!match) {
			// if not the above, then return the first character (and skip whitespace)
			match = inputSubstring.match(/(.)\s*/);
		}
		return {token: match[1], nextIndex: indexFrom + match[0].length}
	}

	// fill the command box will a given command and turn on focus
	function fill(command) {
		$('#commandBox').val(command);
		$('#commandBox').focus();
	}

	// user submits a command to the turtle
	function submit() {
		let input = $('#commandBox').val().replace('\n', ' ').trim();
		let tokenInfo;
		let i = 0;
		commands = [];
		while(tokenInfo = getToken(input, i)) {
			commands.push(tokenInfo.token);
			i = tokenInfo.nextIndex;
		}
		try {
			execute(0, false);
			$('#historyBox').html('<button style=\'margin-left:5px\' onclick=\'fill("' + commands.join(' ') + '")\'>copy</button> ' + commands.join(' ') + '<br>' + $('#historyBox').html());
		} catch(errorIndex) {
			let originalCommands = [...commands];
			if(errorIndex >= commands.length) {
				commands.push('???');
			}
			$('#historyBox').html('<button style=\'margin-left:5px\' onclick=\'fill("' + originalCommands.join(' ') + '")\'>copy</button> ' + commands.slice(0, errorIndex).join(' ') + ' <span style="color: red">' + commands.slice(errorIndex).join(' ') + '</span><br>' + $('#historyBox').html());
		}
	}

	$('document').ready(function(){
		ctx = $('#c')[0].getContext("2d");
		reset();
		$('#commandBox')[0].addEventListener('keydown', function(event) {
			if (event.code == 'Enter') {
				submit();
			}
		});
		$('#commandBox')[0].addEventListener('keyup', function(event) {
			if (event.code == 'Enter') {
				$('#commandBox').val('');
			}
		});
		$('#commandBox').focus();
	});
</script>
</body>
</html>
