<html>
<head>
	<title>Luck simulator</title>
	<style>
		body {margin:30px;}
	</style>
</head>
<body>
	<p>
	The following simulation illustrates the concept of <i>harnessing luck</i>. The basic idea is fairly simple: <i>luck</i> happens to everyone, and is an important factor that affects outcomes. However, we can control how we <i>react</i> to luck, and by reacting well, we can significantly improve our outcomes.
	</p>
	<p>
	If you just let luck run its course (by repeatedly clicking on <b>next time period</b>), the outcome will be a result of a random walk. You could get very lucky and end up high, or really unlucky and end up low, but most likely, you'll just be in the middle.
	</p>
	<p>
	However, if you expose yourself to more luck (for example, by talking to more people, or trying new things), you will have more possible outcomes to choose from. Try it by clicking on <b>try more luck</b> once or more times. Then click on <b>next time period</b> a bunch of times to let the many outcomes evolve. You just need one of the outcomes to be good - then you "double down" on it by clicking on <b>pick best</b>. See how much higher you can go just by cleverly "harnessing" your luck! (<i>Note: You can also try one of four pre-programmed scenarios</i>)
	</p>
	<canvas id="c" width="900" height="400"></canvas><br>
	<br>
	<button onClick="next()">next time period (n)</button> &nbsp; 
	<button onClick="moreLuck()">try more luck (m)</button> &nbsp;
	<button onClick="pick()">pick best (b)</button> &nbsp;
	<button onClick="reset()">reset (r)</button> &nbsp;
	The value of your outcome right now is <b><span id="outcome">0</span></b>.<br>
	<button onClick="scenario1()">scenario 1</button> &nbsp; 
	<button onClick="scenario2()">scenario 2</button> &nbsp; 
	<button onClick="scenario3()">scenario 3</button> &nbsp; 
	<button onClick="scenario4()">scenario 4</button> &nbsp; 
	
	<script language="javascript">

		document.onkeydown = function(evt) {
	    evt = evt || window.event;
    	if(evt.keyCode == 78) {next();}
    	if(evt.keyCode == 77) {moreLuck();}
    	if(evt.keyCode == 66) {pick();}
    	if(evt.keyCode == 82) {reset();}
		};

		var c = document.getElementById('c').getContext('2d');
		drawAxes();

		function drawAxes()
		{
			c.beginPath();
			c.fillStyle = '#ffffff';
			c.fillRect(0, 0, 900, 400);
			c.strokeStyle = '#999999';
			c.moveTo(20, 0);
			c.lineTo(24, 8);
			c.moveTo(20, 0);
			c.lineTo(16, 8);
			c.moveTo(20, 0);
			c.lineTo(20, 400);
			c.lineTo(24, 392);
			c.moveTo(20, 400);
			c.lineTo(16, 392);
			c.moveTo(20, 200);
			c.lineTo(900, 200);
			c.lineTo(892, 204);
			c.moveTo(900, 200);
			c.lineTo(892, 196);
			c.stroke();
			c.font = "14px Times New Roman";
			c.fillStyle = '#999999';
			c.fillText("time", 860, 215);
			c.fillText("value", 30, 20);
		}

		var threads = 1;
		var t = 20;
		var v = [200];
		var colors = ['#99ff99', '#cccc99', '#9999ff', '#ff99ff', '#77cccc'];
		drawAxes();
		var timer = null;
		var round = 0;

		function next()
		{
			var min = null;
			var max = null;
			t2 = t+5;
			for(var i=0; i<threads; ++i)
			{
				v2 = v[i]+(Math.random()*10-5);
				c.beginPath();
				if(threads==1) {c.strokeStyle = '#000000';}
				else {c.strokeStyle = colors[i];}
				c.moveTo(t, v[i]);
				c.lineTo(t2, v2);
				c.stroke();
				v[i] = v2;
				if(min==null || v[i]>min) {min = v[i];}
				if(max==null || v[i]<max) {max = v[i];}
			}
			t = t2;
			if(min==max)
			{
				document.getElementById('outcome').innerHTML = getOutcome(max);
			}
			else
			{
				document.getElementById('outcome').innerHTML = 'somewhere between '+getOutcome(min)+' and '+getOutcome(max);
			}
		}

		function moreLuck()
		{
			v[threads] = v[threads-1];
			++threads;
		}

		function pick()
		{
			var max = v[0];
			for(var i=0; i<threads; ++i)
			{
				if(v[i]<max) {max = v[i];}
			}
			threads = 1;
			v = [max];
			document.getElementById('outcome').innerHTML = getOutcome(max);
		}

		function getOutcome(height)
		{
			return Math.round(200-height);
		}

		function reset()
		{
			clearInterval(timer);
			threads = 1;
			t = 20;
			v = [200];
			drawAxes();
			document.getElementById('outcome').innerHTML = getOutcome(200);
		}

		function scenario1()
		{
			if(t>900) {reset();}
			round = 0;
			timer = setInterval(function() {
				if(t>900) {clearInterval(timer);}
				next();
				++round;
			}, 60);
		}

		function scenario2()
		{
			if(t>900) {reset();}
			round = 0;
			timer = setInterval(function() {
				if(t>900) {clearInterval(timer);}
				if(round%12==0) {moreLuck();}
				else if(round%12==8) {pick();}
				else next();
				++round;
			}, 60);
		}

		function scenario3()
		{
			if(t>900) {reset();}
			round = 0;
			timer = setInterval(function() {
				if(t>900) {clearInterval(timer);}
				if(round%12==0) {moreLuck(); moreLuck(); moreLuck();}
				else if(round%12==8) {pick();}
				else next();
				++round;
			}, 60);
		}

		function scenario4()
		{
			if(t>900) {reset();}
			round = 0;
			timer = setInterval(function() {
				if(t>900) {clearInterval(timer);}
				if(round%6==0) {pick(); moreLuck(); moreLuck(); moreLuck();}
				else next();
				++round;
			}, 60);
		}

	</script>
</body>
</html>