<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/grid/simple-grid.css">
</head>
<body>

	<div class="container">
		<div style="padding-top: 3em;padding-bottom: 2em;" class="row">
			<div class="col-4">
				<p>
					Our pandas are getting hurt! Not only that, but they are getting <u>killed</u>!
				</p>
				<p>
					Facts:
					<ul>
						<li> 80 pounds </li>
						<li> Eats bamboo </li>
						<li> Panda sign language </li>
					</ul>
				</p>
				<p>
					<div style="float:right">
						<img style="height:3em;" src="/images/panda/inline-3.png">
					</div>
					How to help:
					<ul>
						<li> Build a zoo for pandas </li>
						<li> Stop trapping </li>
						<li> Plant bamboo </li>
						<li> Stop firing at them </li>
					</ul>
					<img style="position:relative;height:9em;top:-4em;" src="/images/panda/inline-2-3.png">
					<img style="height: 9em;" src="/images/panda/bear-color.png">
				</p>
			</div>
			<div class="col-4">
				<p>
					Our pandas are getting hurt!
					<img style="height:3em;" src="/images/panda/inline-2-1.png">
					Not only that, but they are getting <u style="text-decoration-style:double">killed</u>!
					<br>
					<div style="float:right">
						 <img style="height:6em;" src="/images/panda/inline-1.png">
					</div>
					<img style="height:3em;" src="/images/panda/inline-2-2.png">
				</p>
				<p>
					How to help:
					<ol>
						<li> Build a home for them </li>
						<li> Make a zoo </li>
					</ol>
				</p>
				<p>
					Facts:
					<ul>
						<li> 80 pounds </li>
						<li> Eats bamboo </li>
						<li> Panda sign language </li>
					</ul>
				</p>
				<br>
				<img style="height: 9em;" src="/images/panda/bear-black.png">
			</div>
			<div class="col-4">
				<p>
					Pandas are getting <u>killed</u>! You have to help
				</p>
				<p>
					Facts:
					<ul>
						<li> Weighs 80 pounds </li>
						<li> Panda sign languae </li>
						<li> Can swim </li>
					</ul>
				</p>
				<p style="text-align:center">
					Panda Protection
					<img style="height:9em;" src="/images/panda/pandaprotection.png">
				</p>
				<p style="text-align:center">
					Panda Community
					<img style="height:9em;" src="/images/panda/pandacommunity.png">
				</p>
			</div>
		</div>
		<div style="padding-bottom: 4em;" class="row">
			<div style="text-align: center" class="col-12">
				<p>
					I hope you start learning more about pandas. See you soon. Bye! Learn more in books.
				</p>
			</div>
		</div>
	</div>

</body>

</html>
