<!DOCTYPE html>
<html>
<head>
	<title>Pictionary by Lukasz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" type="image/ico" href="/images/pictionary/favicon.png" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bitter:700" rel="stylesheet">
	<style>
		body {
			font-family: 'Roboto', sans-serif;
			text-align: center;
			padding: 20px 10px 20px 10px;
		}
		h1 {
			font-size: 1.8em;
			font-weight: bold;
			color: #0006b1;
			padding: 20px 0px 20px 0px;
		}
		h2 {
			font-family: 'Bitter', serif;
			font-size: 1.5em;
			color: #999999;
			margin: 0;
		}
		h3 {
			font-size: 1.25em;
			color: #000000;
		}
		.no-display {
			display: none;
		}
		.button {
			font-size: 1.1em;
			border: #000000 2px solid;
			background-color: #eeeeee;
			padding: 8px;
			width: 30%;
		}
	</style>
</head>
<body>
<audio controls id="horn_sound" class="no-display">
	<source src="/media/pictionary/airhorn.mp3" type="audio/mpeg">
</audio>
<h2>Pictionary<br><span id="player" class="no-display"></span></h2>
<h1 id="word">&nbsp;</h1>
<input type="button" onClick="serveWord()" value="Show Word" class="button">
<div id="admin" class="no-display">
	<br>
	<br>
	<br>
	<br>
	<br>
	<input type="button" id="timer1" onClick="startTime(1, 60)" value="Start 60s" class="button">
	<input type="button" id="timer2" onClick="startTime(2, 90)" value="Start 90s" class="button">
	<input type="button" onClick="stopTime()" value="Stop" class="button">
	<br>
	<br>
	<input type="button" onClick="setGroup(1)" id="groupButton1" value="Group 1" class="button">
	<input type="button" onClick="setGroup(2)" id="groupButton2" value="Group 2" class="button">
	<br>
	<br>
	<input type="button" onClick="cyclePlayer()" value="Next Player" class="button">
	<input type="button" onClick="addToScore()" value="Scored!" class="button">
	<br>
	<br>
	<h3 id="score">&nbsp;</h2>
</div>

<script language="javascript">

var words1 = ['angel', 'ant', 'apple', 'baby', 'ball', 'balloon', 'bark', 'bat', 'bathroom', 'beach', 'bear', 'bed', 'bike', 'blanket', 'blocks', 'bow', 'box', 'boy', 'bracelet', 'branch', 'bread', 'broom', 'bunk bed', 'button', 'camera', 'candy', 'car', 'carrot', 'caterpillar', 'chair', 'cherry', 'chicken', 'chimney', 'clock', 'cloud', 'coat', 'comb', 'computer', 'crayon', 'cube', 'cup', 'cupcake', 'curl', 'daisy', 'desk', 'diamond', 'doll', 'door', 'dragon', 'dream', 'drum', 'elephant', 'eyes', 'family', 'fire', 'flower', 'fly', 'frog', 'giraffe', 'girl', 'glasses', 'grapes', 'grass', 'hat', 'head', 'heart', 'helicopter', 'hook', 'horse', 'ice cream cone', 'island', 'jacket', 'key', 'king', 'kite', 'kitten', 'knee', 'lamp', 'leaf', 'leg', 'lemon', 'light', 'line', 'lion', 'lips', 'lollipop', 'love', 'man', 'milk', 'monkey', 'monster', 'moon', 'mouse', 'mouth', 'music', 'nail', 'night', 'orange', 'oval', 'owl', 'pencil', 'person', 'pig', 'pillow', 'purse', 'ring', 'river', 'robot', 'seashell', 'sheep', 'shirt', 'shoe', 'skateboard', 'slide', 'smile', 'snowflake', 'snowman', 'socks', 'spider', 'spider web', 'square', 'stairs', 'star', 'starfish', 'sun', 'sunglasses', 'swimming pool', 'swing', 'table', 'tail', 'train', 'tree', 'triangle', 'truck', 'water', 'wheel', 'window', 'woman', 'worm', 'zebra', 'zoo', 'Airplane', 'Alligator', 'Ant', 'Apple', 'Arm', 'Baby', 'Bag', 'Balloon', 'Basketball', 'Bead', 'Bear', 'Bedroom', 'Bench', 'Bird', 'Blinking', 'Block', 'Book', 'Bridge', 'Bug', 'Bulb', 'Bus', 'Cactus', 'Camera', 'Cap', 'Card', 'Cast', 'Chair', 'Cheek', 'Chicken', 'Chin', 'Clap', 'Clock', 'Coat', 'Crayon', 'Crib', 'Crown', 'Cup', 'Cushion', 'Dad', 'Dance', 'Deer', 'Doll', 'Door', 'Drink', 'Drum', 'Ear', 'Eat', 'Elephant', 'Engine', 'Face', 'Football', 'Frog', 'Fruit', 'Ghost', 'Giraffe', 'Glove', 'Golf', 'Gun', 'Happy', 'Head', 'Heart', 'Hill', 'Honey', 'Hopscotch', 'Hospital', 'Hydrant', 'Ice', 'Icicle', 'Jar', 'Jeans', 'Jewel', 'Jump', 'Kangaroo', 'Kick', 'Ladder', 'Leaf', 'Log', 'Match', 'Mom', 'Monkey', 'Moon', 'Mosquito', 'Mother', 'Mouse', 'Mouth', 'Orange', 'Oven', 'Park', 'Pear', 'Pen', 'Pencil', 'Phone', 'Pickle', 'Pie', 'Pig', 'Pin', 'Pinch', 'Pizza', 'Plate', 'Point', 'Police', 'Rabbit', 'Race', 'Remote', 'River', 'Road', 'Robot', 'Rock', 'Room', 'Rose', 'Scissors', 'Screw', 'Ship', 'Shirt', 'Shovel', 'Skin', 'Skip', 'Skirt', 'Slide', 'Smile', 'Smoke', 'Snake', 'Spider', 'Star', 'Stick', 'Stop', 'Sunglasses', 'Swing', 'Table', 'Tail', 'Tank', 'Telephone', 'Tent', 'Throat', 'Time', 'Toad', 'Tooth', 'Toothbrush', 'Tree', 'Truck', 'Turtle', 'Vase', 'Water', 'Wave', 'Web', 'Wings', 'Wool', 'Zebra'];

var words2 = ['Earth', 'Mickey Mouse', 'alive', 'bounce', 'America', 'Jupiter', 'aircraft', 'airport', 'ambulance', 'apologize', 'artist', 'astronaut', 'aunt', 'baby', 'babysitter', 'back', 'backbone', 'bagel', 'baggage', 'bagpipe', 'baker', 'bakery', 'bald eagle', 'banana peel', 'banana split', 'banjo', 'basket', 'bat', 'bathroom scale', 'bathtub', 'beaver', 'bicycle', 'birthday', 'black hole', 'blanket', 'blimp', 'blowfish', 'bomb', 'bottle', 'braid', 'brain', 'brick', 'bushes', 'butcher', 'button', 'cabin', 'cage', 'camera', 'campfire', 'cannon', 'cape', 'carpet', 'cast', 'cave', 'ceiling fan', 'celery', 'cell phone', 'cello', 'cemetery', 'chain', 'chalk', 'cheerleader', 'chef', 'chess', 'chin', 'circus', 'city', 'class', 'closed', 'clown', 'clownfish', 'coal', 'coast', 'cobweb', 'coconut', 'cocoon', 'coil', 'college', 'colored pencil', 'computer', 'connect', 'contain', 'cook', 'corndog', 'corner', 'cotton candy', 'cover', 'cowboy', 'coyote', 'crack', 'cracker', 'crib', 'cricket', 'crust', 'cul-de-sac', 'curb', 'curtain', 'curve', 'dad', 'daddy longlegs', 'day', 'dimple', 'dirt', 'doctor', 'dog leash', 'doghouse', 'dollar', 'dominoes', 'donkey', 'door', 'doorknob', 'doormat', 'dragonfly', 'draw', 'dress', 'drill', 'drink', 'drums', 'drumstick', 'earmuffs', 'east', 'eclipse', 'elbow', 'electrical outlet', 'envelope', 'eye patch', 'face', 'fairies', 'family', 'fan', 'farm', 'farmer', 'faucet', 'fern', 'ferry', 'field', 'fire hydrant', 'firefighter', 'fishing pole', 'fist', 'flashlight', 'floor', 'food', 'fox', 'frame', 'frog', 'front porch', 'frying pan', 'full moon', 'fur', 'garage', 'globe', 'glue', 'go', 'gold', 'goldfish', 'grape', 'graph', 'gravity', 'growl', 'guitar', 'gum', 'gumball', 'hail', 'hair dryer', 'hairbrush', 'half', 'hammer', 'harmonica', 'harp', 'headband', 'heel', 'helicopter', 'hero', 'highway', 'hill', 'hiss', 'homeless', 'honey', 'hook', 'hopscotch', 'horse', 'hospital', 'hot-air balloon', 'hug', 'hunter', 'hurdle', 'ice', 'ink', 'ironing board', 'island', 'jacket', 'jail', 'janitor', 'jelly', 'jet ski', 'jump', 'kettle', 'king', 'kiss', 'knot', 'ladder', 'lake', 'latitude', 'laundry basket', 'lawn mower', 'leak', 'lemon', 'letter', 'light bulb', 'light switch', 'lighthouse', 'lightsaber', 'limousine', 'lipstick', 'liquid', 'list', 'lobster', 'lock', 'log', 'lucky', 'lunchbox', 'lung', 'magazine', 'magic', 'magic carpet', 'magnet', 'mail', 'mailbox', 'map', 'marker', 'marry', 'marshmallow', 'mask', 'match', 'mattress', 'maze', 'meat', 'merry-go-round', 'middle', 'mini blinds', 'minivan', 'molecule', 'monkey', 'monster', 'mop', 'mouse pad', 'mud', 'muffin', 'mug', 'museum', 'mushroom', 'napkin', 'necktie', 'neighbor', 'nest', 'newborn', 'noon', 'north', 'notepad', 'nun', 'nurse', 'oar', 'onion', 'open', 'orange', 'organ', 'outer space', 'outside', 'owl', 'pail', 'palace', 'pan', 'pancake', 'panda', 'pantry', 'paperclip', 'parachuting', 'park', 'parka', 'password', 'paw', 'pea', 'peach', 'pear', 'peck', 'pencil', 'penny', 'photograph', 'piano', 'pickle', 'picture frame', 'pillowcase', 'pineapple', 'pinecone', 'pinwheel', 'pipe', 'pirate', 'pitchfork', 'pizza', 'plant', 'playground', 'plug', 'pocket', 'pogo stick', 'poodle', 'pool', 'pop', 'popcorn', 'porch', 'porcupine', 'porthole', 'positive', 'powder', 'present', 'pretzel', 'princess', 'printer', 'propeller', 'puddle', 'pulley', 'puppet', 'purse', 'puzzle', 'queen', 'radish', 'railroad', 'rainstorm', 'rake', 'rat', 'rhinoceros', 'ribbon', 'rice', 'ring', 'river', 'rocket', 'roller blading', 'rolly polly', 'roof', 'room', 'rose', 'rug', 'run', 'sack', 'safe', 'sail', 'salt', 'salt and pepper', 'saltwater', 'sand', 'sandal', 'save', 'saw', 'saxophone', 'scale', 'scientist', 'scissors', 'screwdriver', 'sea turtle', 'seal', 'see', 'seed', 'shadow', 'shake', 'shallow', 'shampoo', 'shark', 'shelf', 'ship', 'shipwreck', 'shoulder', 'shovel', 'sidekick', 'sidewalk', 'silverware', 'sink', 'skateboard', 'skunk', 'sky', 'sleep', 'slide', 'slope', 'smoke', 'snowball', 'soccer', 'soda', 'solar system', 'soup', 'spaceship', 'spare', 'spine', 'sponge', 'spool', 'spoon', 'spot', 'spring', 'squirrel', 'squirt gun', 'stain', 'stamp', 'start', 'stem', 'step', 'stick', 'stocking', 'stomach', 'store', 'storm', 'stove', 'strap', 'straw', 'strawberry', 'string', 'submarine', 'subway', 'summer', 'swing', 't-shirt', 'tadpole', 'tail', 'tape', 'taxi', 'teacher', 'teapot', 'telephone', 'television', 'tennis', 'thief', 'three-toed sloth', 'throne', 'tie', 'tightrope', 'time', 'timer', 'tire', 'toast', 'tongue', 'tooth', 'toothbrush', 'torch', 'towel', 'tower', 'toy', 'trampoline', 'trap', 'trapeze', 'trip', 'trophy', 'trunk', 'turkey', 'tusk', 'twig', 'unicycle', 'unite', 'vase', 'waffle', 'wagon', 'waist', 'wallet', 'watch', 'watering can', 'wave', 'wedge', 'well', 'wheelbarrow', 'wheelchair', 'whistle', 'wick', 'windmill', 'window', 'wing', 'wood', 'wreath', 'wrist', 'yardstick', 'yarn', 'yo-yo', 'zebra', 'zipper', 'zoo', 'Alarm', 'Alley', 'Angle', 'Arm', 'Art', 'Award', 'Badge', 'Banana', 'Band', 'Bank', 'Beach', 'Bear', 'Beg', 'Bike', 'Bird', 'Blade', 'Blind', 'Brother', 'Brush', 'Butter', 'Cabbage', 'Cable', 'Cage', 'Cape', 'Cart', 'Case', 'Cattle', 'Cave', 'Chart', 'Chemistry', 'Clock', 'Club', 'Coffee', 'Coil', 'College', 'Corner', 'Country', 'Cover', 'Cow', 'Craft', 'Cream', 'Crowd', 'Curve', 'Dance', 'Dark', 'Depression', 'Document', 'Dog', 'Drain', 'Drug', 'Earthquake', 'Eraser', 'Essay', 'Exam', 'Family', 'Fang', 'Farmer', 'Fetch', 'Fight', 'File', 'Fireman', 'Fly', 'Fog', 'Food', 'Frame', 'Frankenstein', 'Friend', 'Glue', 'Goldfish', 'Grandfather', 'Guard', 'Guitar', 'Hair', 'Haircut', 'Hen', 'Hole', 'Hoop', 'Hot', 'Hotel', 'Hula', 'Inside', 'Jelly', 'Jellyfish', 'Jog', 'Judge', 'Lace', 'Lipstick', 'Liquid', 'Maid', 'Mailbox', 'Menu', 'Metal', 'Money', 'Mop', 'Morning', 'Mud', 'Nerve', 'Network', 'Newspaper', 'Note', 'Outside', 'Pajamas', 'Pancake', 'Paper', 'Peel', 'Penguin', 'Piano', 'Pipe', 'Platform', 'Player', 'Pollution', 'Pool', 'Popcorn', 'Popsicle', 'Powder', 'Professor', 'Pump', 'Puppet', 'Rain', 'Receipt', 'Recipe', 'Restaurant', 'Road', 'Rollerblade', 'Roof', 'Saddle', 'Safe', 'Scale', 'Scarecrow', 'Scarf', 'Seashell', 'Secretary', 'See-saw', 'Seed', 'Servant', 'Shade', 'Shelf', 'Shop', 'Shopping trolley', 'Shovel', 'Slave', 'Snowball', 'Soap', 'Spark', 'Spider man', 'Stage', 'Stairs', 'Steel', 'String', 'Summer', 'Supermarket', 'Surgery', 'Table tennis', 'Think', 'Throne', 'Thunder', 'Tickle', 'Tip', 'Toothpaste', 'Trail', 'Tree', 'Trumpet', 'Twig', 'Twist', 'University', 'Vehicle', 'Violin', 'Volleyball', 'Volume', 'Wax', 'Weight', 'Whisper', 'Winner', 'Yo-yo'];

var players = [[0, 'Valerie'], [1, 'Judith'], [0, 'Matt'], [1, 'Iza'], [0, 'Audrey'], [1, 'Lukasz'], [0, 'Bob'], [1, 'Shira']];
var score = [0, 0];
var teams = ["Val/Matt/Audrey/Bob", "Judith/Iza/Lukasz/Shira"];
var currentPlayer = -1;

<% if(@word_group=='0') %>
	var words = words1;
	document.getElementById('admin').classList.remove("no-display");
	document.getElementById('player').classList.remove("no-display");
<% else %>
	var words = words<%= @word_group %>;
<% end %>

var timerId = null;
var timerInterval = null;
var timeLeft = null;
var originalTime = null;

function serveWord()
{
	document.getElementById('word').innerHTML = words[parseInt(Math.random()*words.length)];
}

function startTime(id, seconds)
{
	if(timerInterval)
	{
		// stop timer first
		stopTime();
	}
	timerId = id;
	timeLeft = seconds;
	originalTime = seconds;
	document.getElementById('timer'+timerId).value = timeLeft;
	timerInterval = setInterval(tick, 1000);
}

function stopTime()
{
	document.getElementById('timer'+timerId).value = 'Start '+originalTime+'s';
	clearInterval(timerInterval);
	timerInterval = null;
}

function tick()
{
	--timeLeft;
	document.getElementById('timer'+timerId).value = timeLeft;
	if(timeLeft<=0)
	{
		document.getElementById("horn_sound").play();
		document.getElementById('timer'+timerId).value = 'Start '+originalTime+'s';
		clearInterval(timerInterval);
		timerInterval = null;
	}
}

function setGroup(id)
{
	words = (id==1) ? words1 : words2;
	document.getElementById('groupButton'+id).style.backgroundColor = '#cccc00';
	document.getElementById('groupButton'+(3-id)).style.backgroundColor = '#eeeeee';
}

function cyclePlayer()
{
	currentPlayer = (currentPlayer+1)%players.length;
	document.getElementById('player').innerHTML = players[currentPlayer][1];
	showScores();
}

function addToScore()
{
	score[players[currentPlayer][0]] += 1;
	showScores();
}

function showScores()
{
	document.getElementById('score').innerHTML = teams[0]+": "+score[0]+"<br>"+teams[1]+": "+score[1];
}

showScores();
setGroup(1);
cyclePlayer();

</script>
</body>
<html>