<!DOCTYPE html>
<html>
<head>
	<title>Word Game by Lukasz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" type="image/ico" href="/images/wordgame/favicon.png" />
  	<script src="/js/jquery-1.9.1.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bitter:700" rel="stylesheet">
	<style>
		body {
			font-family: 'Roboto', sans-serif;
			text-align: center;
			padding: 10px 5px 10px 5px;
		}
		h1 {
			font-size: 1.3em;
			font-weight: bold;
			color: #0006b1;
			padding: 10px 0px 10px 0px;
		}
		h2 {
			font-family: 'Bitter', serif;
			font-size: 1.2em;
			color: #999999;
			margin: 0;
		}
		h3 {
			font-size: 1em;
			color: #000000;
		}
		.no-display {
			display: none;
		}
		button {
			border: 1px solid #777777;
			font-size: 1em;
			margin: 5px;
		}
		i {
			color: #33bb33;
			font-style: normal;
		}
		#clientButton {
			display: none;
			margin-left: auto;
			margin-right: auto;
			font-size: 1.25em;
		}
		#display {
			height: 2.5em;
		}
		#scores {
			height: 4em;
		}
		#cheat {
			color: #00bbdd;
		}
		#clientButtonArea {
			height: 1.5em;
		}
	</style>
</head>
<body onkeypress="return keyboardShortcuts(event)">
<audio controls id="horn_sound" class="no-display">
	<source src="/media/pictionary/airhorn.mp3" type="audio/mpeg">
</audio>
<h2>Hi, <%= @player %>.</h2>
<h2 id="display"></h2>
<h3 id="cheat">&nbsp;</h3>
<h3 id="scores">&nbsp;</h3>
<h3 id="clientButtonArea"><button onclick="nextClientWord()" id="clientButton"></button><br></h3>
<script>
	setInterval(pingForCommand, 1500);

	var player = "<%= @player %>";
	var players = [ // wordBank: 0 (easier), 1 (harder)
		{name:"Iza", team:0, wordBank:0, showWords:true},
		{name:"Audrey", team:1, wordBank:1},
		{name:"Shira", team:2, wordBank:1, showWords:true},
		{name:"Matt", team:3, wordBank:1, showWords:true},

		{name:"Judith", team:0, wordBank:0, showWords:true},
		{name:"Lukasz", team:1, wordBank:1},
		{name:"Valerie", team:2, wordBank:1, showWords:true},
		{name:"Bob", team:3, wordBank:1, showWords:true},
	];
	var current = null;
	var wordsToGuess = null;
	var wordToGuessIndex = 0;


	function teammates(id)
	{
		var result = [];
		for(var p in players) {
			if(players[p].team == players[id].team && players[p].name != players[id].name) {
				result.push(players[p].name);
			}
		}
		return result;
	}

	function nextPlayer()
	{
		current = (current+1)%players.length;
	}

	function clientButton(label)
	{
		if(label!=null) {
			document.getElementById('clientButton').style.display = "block";
			document.getElementById('clientButton').innerHTML = label;
		} else {			
			document.getElementById('clientButton').style.display = "none";
		}
	}

	function pingForCommand()
	{
		$.get(
			"/wordgame/commands/list",
			function(data) {
				
				var current = parseInt(data['current']);

				// command
				if(data['command']=="ready") {
					if(player == players[current].name) {
						document.getElementById('display').innerHTML = "Ready to give clues?";
						wordToGuessIndex = 0;
					} else if(teammates(current).includes(player)) {
						document.getElementById('display').innerHTML = "Ready to guess the word?";
					} else {
						document.getElementById('display').innerHTML = players[current].name+" will give clues.<br>"+teammates(current).join(', ')+" will guess.";
					}
					clientButton(null);
				}
				if(data['command']=="play") {
					if(player == players[current].name) {
						wordsToGuess = data['wordsToGuess'];
						if(wordToGuessIndex>=BATCH) {
							document.getElementById('display').innerHTML = "You're done with your round!";
						}
						else {
							document.getElementById('display').innerHTML = "The word is <i>"+wordsToGuess[wordToGuessIndex]+"</i>";
						}
						clientButton("next");
					} else if(teammates(current).includes(player)) {
						document.getElementById('display').innerHTML = "You're guessing now!";
						clientButton(null);
					} else {
						document.getElementById('display').innerHTML = players[current].name+" is giving clues.<br>"+teammates(current).join(', ')+" guessing.";
						clientButton(null);
					}
				}
				if(data['command']=="timesup") {
					document.getElementById('display').innerHTML = "Time's Up!";
					clientButton(null);
				}

				// scores
				var allTeammates = [];
				for(var p in players) {
					if(allTeammates[players[p].team]==undefined) {
						allTeammates[players[p].team] = []
					}
					allTeammates[players[p].team].push(players[p].name);
				}
				scores_html = ''
				for(var t in allTeammates) {
					scores_html += allTeammates[t].join(' + ')+": <b>"+data['score'][t]+"</b><br>";
				}
				document.getElementById('scores').innerHTML = scores_html;
			},
			"json");
	}

	function nextClientWord()
	{
		++wordToGuessIndex;
		if(wordToGuessIndex>=BATCH) {
			document.getElementById('display').innerHTML = "You're done with your round!";
		}
		else {
			document.getElementById('display').innerHTML = "The word is <i>"+wordsToGuess[wordToGuessIndex]+"</i>";
		}
	}

	// admin interface

	var _words = [];
	_words[0] = [
	"cat", "ghost", "cow", "bug", "snake", "lips", "socks", "coat", "heart", "kite", "milk", "skateboard", "apple", "mouse", "star", "whale", "hippo", "face", "ice cream", "spoon", "sun", "flower", "banana", "book", "light", "apple", "smile", "shoe", "hat", "dog", "duck", "bird", "person", "ball", "nose", "jacket", "beach", "cookie", "drum", "worm", "cup", "pie", "snowflake", "jar", "tree", "slide", "swing", "water", "ocean", "mouth", "eyes", "house", "bed", "shirt", "egg", "cheese", "circle", "spider web"
/*"stick","Christmas","wallet","movie","pepper","chalk","apple","feet","rhyme","stick","first","cold","hug","radio","flower","hat","answer","toast","train","juice","helicopter","mom","gym","airplane","window","laundry","pajamas","flower","mouse","stomach","dollar","puppy","forehead","car","winter","brave","dad","please","bag","road","swimsuit","trip","above","talk","guitar","animal","wall","freckle",*/
/*"piano","cup","draw","crib","fall","rain","student","old","towel","couch","night","television","pocket","calculator","fence","worm","cast","body","sock","bank","fix","cloud","pig","city","seashell","tuba","clean","lunchbox","school","pencil","fairy","sick","mouse","neighbor","glasses","oven mitt","soap","water","stand","crayon","balloon","roller coaster","hurt","TV","nurse","plate","hail",*/
/*"iron","trash can","hotel","pillow","mop","pajamas","scarf","nail polish","robot","fly","shark","hair","zoo","red","shout","astronaut","ballet","poem","mountain","heart","type","lunch","body","lollipop","stairs","play","baseball","bird's nest","mall","flag","dog","park","tractor","scared","peas","cat","nephew",*/
/*"paper","artist","rent","sad","umbrella","desk","frog","party","last","picnic","sneeze","dinner","Monday","golf","brave","backpack","actor","wolf","freckle","ride","yo-yo","roof","teacher","pen","grin","monster","diamond","dirt","shark",*/
/*"hot air balloon","candle","green","fog","whisper","bath","orange","boat","pepper","bag","sick","boat","brother","knee","broom","guitar","telephone","witch","gum","jelly","blind","chair","frown","antlers","jump","spoon","chew","grape","grape","night","coat","cook","eyebrow","farm","poem","fish","fast","jelly","music","goodbye","lime","gum","mermaid","family","pudding","ladybug","sad","candle","king","watch","snow","right","drums",*/
/*"alligator","fast","ear","river","snowman","man","page","student","day","taxi","faucet","short","party","buzz","fire station","lion","shadow","broccoli","shoelace","cash","shoe","stream","bottle","flag",*/
/*
"mop","ball","horse","purse","winter","jump","escalator","tired","telephone","recycle","plank","pizza","begin","basketball","skirt","Monday","ladybug","front","princess","restaurant","circle","elephant","homework","radio","blanket","half","paint","chocolate","fact","box","Elsa","draw","finger","lung","frying pan","fire engine","talk","smell","toilet paper","tree","pantry","storm","bowl","mountain","candy","dishwasher","noon","grandma","hide-and-seek","prayer","scissors","sandcastle","book","wheelchair","young","lime","pear","markers","fox","tail","belt","fun","country","slow","tissue","bat","star","ear","up","mud","ice","athlete","queen","wagon","apple","vacation","holiday","bark","bite","grass","wrinkle","volcano","eyebrow","pail","stump","money","crayon","chew","leaf","owl","tent","lock","happy","lion","tuba","salt","buy","tired","chicken","book","alarm clock","moon","refrigerator","shirt","push","light","lemon","happy","triangle","popsicle","video camera","sailboat","bedtime","push","little","elevator","weak","key","hide-and-seek","grandpa","strong","cough","carrot","shirt","chef","picnic","house","calculator","violin","asleep","full","sun","neck","tunnel","hill","hopscotch","tornado","duck","bottle","cafeteria","shower","mascot","wind","cough","cake","laundry","bug","grandchild","kite","sleep","tiger","lunchbox","bubble","Internet","school","broken","basketball","baby","blue jeans","policeman","town","store","frog","big","dirty","watermelon","white","piano","table","nice","black","buy","touchdown","key","relax","bike","makeup","suitcase","ankle","red","TV","rainbow","grown-up","tree house","dog","cake","penny","arm","fire hydrant","blue","cow","pants","chair","cowboy","old","kind","shopping","king","library","tiger","lightning","swimming pool","church","flower","oink","pencil","light bulb","sing","count","hill","scientist","ice","brush","wedding","mailbox","pocket","door","pillow","teacher","homework","dirty","sandwich","awake","cook","fountain","dump truck","lullaby","wife","spool","girl","rose","football","beach","cowboy","cow","coffee shop","journal","grandma","trash can","stamp","laugh","street","bib","toothbrush","fix","balloon","nose","bird's nest","duck","popsicle","good","birthday","pants","stop","deep","letter","belt","sandwich","leg","dad","chocolate","frown","zoo","dentist","princess","moon","bed","green","brake","doctor","truck","beautiful","fur","low","hurt","cat","dry","museum","helpful","wind","yellow","fog","costume","doll","forehead","spoon","sandcastle","chalk","blue","ranch","triangle","dump truck","door","clown","heart","fence","neighbor","clown","microwave","hopscotch","plate","go","bad","baseball","mailman","seek","ice cream cone","flashlight","outer space","stream","penny","envelope","horse","zero","exercise","purple","moo","kick","sun","mailbox","dream","field trip","lizard","helicopter","fan","nest","mud","scooter","sister","scared","rose","girl","monster","bridge","marker","yo-yo","cousin","prince","heavy","leaf blower","outer space","drums","run","thunder","high","cave","uncle","alligator","fire engine","square","spider","playground","long","watermelon","race","shovel","school bus","rainbow","game","fire","toothbrush","opposite","queen","adult","doll","leg","help","swimming pool","sleep in","eye","straw","below","broom","playground","niece","grown-up","straw","pig","jewelry","toe","football","clap","nose","aunt","fire","elephant","spy","hospital","mouth","broken","elevator","big","lollipop","bald","hair","computer","share","athlete","camera","study","wave","birthday","fork","notebook","star","long","eat","room","doctor","grass","swing","white","knee","pen","tornado","water","couch","strong","bald","finger","classroom","teeth","broccoli","silly","type","ankle","wolf","blanket","banana","desk","dress","loud","arm","empty","quarter","puppy","baby","cold","head","hungry","pilot","ring","line","hug","box","lunch","wrong","asleep","unicorn","bird","snow","kite","sink","eye","nightmare","thunder","state","music","vet","picture","worm","mom","park","butterfly","lizard","bedroom","clock","hello","paint","boo","wedding","short","present","bed","rock","day","toilet paper","beach","goodbye","cheerleader","magic","dress","new","hot","bride","wheelchair","tractor","jail","tree house","clock","glasses","stapler","beak","salt","twig","lawn mower","bedtime","singer","earth","climb","banana","new","waitress","hoof","cheek","boy","claw","light bulb","motorcycle","hungry","boy","horn","dance","smoke","quiet","jacket","stairs","breakfast","tree","swing","quiet","school bus","list","elbow","ice cream cone","singer","gift","bird","down","computer","turkey","smile","flashlight","shoelace","bike","fireman","back","dictionary","niece","pear","spider","bat","bridge","hit","square","motorcycle","candy","race","slow","nap","church","mirror","seashell","tusk","elbow","walk","paper","roller coaster","melt",*/
];

	_words[1] = [
	"horse", "door", "song", "trip", "backbone", "bomb", "round", "treasure", "garbage", "park", "pirate", "ski", "state", "whistle", "palace", "baseball", "coal", "queen", "dominoes", "photograph", "computer", "hockey", "aircraft", "hot dog", "salt and pepper", "key", "iPad", "whisk", "frog", "lawnmower", "mattress", "pinwheel", "cake", "circus", "battery", "mailman", "cowboy", "password", "bicycle", "skate", "electricity", "lightsaber", "thief", "teapot", "deep", "spring", "nature", "shallow", "toast", "outside", "America", "roller blading", "gingerbread man", "bowtie", "half", "spare", "wax", "light bulb", "platypus", "music", "sailboat", "popsicle", "brain", "birthday cake", "skirt", "knee", "pineapple", "tusk", "sprinkler", "money", "spool", "lighthouse", "doormat", "face", "flute", "rug", "snowball", "purse", "owl", "gate", "suitcase", "stomach", "doghouse", "pajamas", "bathroom scale", "peach", "newspaper", "watering can", "hook", "school", "beaver", "french fries", "beehive", "beach", "artist", "flagpole", "camera", "hair dryer", "mushroom", "toe", "pretzel", "TV", "quilt", "chalk", "dollar", "soda", "chin", "swing", "garden", "ticket", "boot", "cello", "rain", "clam", "pelican", "stingray", "fur", "blowfish", "rainbow", "happy", "fist", "base", "storm", "mitten", "easel", "nail", "sheep", "stoplight", "coconut", "crib", "hippopotamus", "ring", "seesaw", "plate", "fishing pole", "hopscotch", "bell pepper", "front porch", "cheek", "video camera", "washing machine", "telephone", "silverware", "barn", "snowflake", "bib", "flashlight", "popsicle", "muffin", "sunflower", "skirt", "top", "hat", "swimming pool", "tusk", "radish", "peanut", "spool", "poodle", "potato", "face", "shark", "fang", "snowball", "waist", "spoon", "gate", "bottle", "mail", "sheep", "lobster", "ice", "crib", "lawn mower", "bubble", "seesaw", "pencil", "cheeseburger", "hopscotch", "rocking chair", "corner", "cheek", "rolly polly", "popcorn", "telephone", "yo-yo", "seahorse", "snowflake", "spine", "desk"
/*"fantastic","relax","submerge","powerless","free throw","whipped cream","packing","agenda","ballpoint pen","radish","yearning","theme park","foil","whistle","undercook","dull","angel food cake","eager","nitrogen","motivated","envious","discouraged","skim milk","snuggle","calorie","ditch","Walt Disney","smug","jubilant","croutons","demo","bonnet","ignored","red velvet cake","snap","ceiling fan","stagnant","apricot","first mate","soak","egg timer","clam","venison","lamp","peel","cooking oil","suspicious","Caesar salad","beach","initiative","sweet potato","letter opener","caribou","misunderstood","perspective","crop","catering","respected","flannel","nation","germ","zoo","enchanted","humiliated","assured","chime","unnerved","lard","crow's nest","rollerblades","potato skins","bud","trail mix","fondue","rug","calcium","Snuggie","my","hang glider","BFF","toad","mold","spoil","precook","range","chopsticks","asparagus","scuff mark","okra","button","stoplight","volt","teaspoon","venison","produce","dazzled","tempura","Switzerland","calm","wonder","lima bean","stockbroker","obedient","sorry","pain","cold","resort","half","sifter","grievous","runt","abundance","desperate","schedule","corn flakes","ruthless","road trip","ribbon","monster","freight train","humorless","ham","stone","flatbread","splendid","applause","sum","sardines","agitated","tolerant","example","fish and chips","righteous","courageous","shrink ray","to bake","green bean casserole","nostalgia","apple sauce","reliable","silly","hiking","cupola","ketchup","surprised","oblivious","jig","delighted","herbs","bus","leave","polish","disenchanted","sponge cake","rice krispie treats","bleach","monster","umbrella","application","oven","plaid","mess","dinner roll","swamp","pecan pie","war","resentment","sandwich","sprinkler","rebellious","demoralized","vessel","resourceful","tense","state park","bucket","brown rice","fearful","leery","coconut","content","perturbed","pastry","intuitive","tip",*/
/*"noise","bewildered","cloak","bib","clumsy","can opener","paperclip","pizza rolls","altitude","undercook","west","feast","Are we there yet?","savage","stove","fortune cookie","crow's nest","Christmas carolers","cherry","disgraced","shelf","depleted","deep-fry","mountains","service","smiling","entranced","mozzarella cheese","itinerary","steak knife","marvelous","hut","reason","lemon zester","meticulous","intrigued","candlestick","turnpike","Athens","mystified","inadequate","others","bay","bruise","simmer","complete","translate","frenzy","forever","appalled","leisure","scoundrel","sunscreen","to melt","harmony","scanner","relax","skeptical","inn","highway","phonemics","centered","microwave dinner","souvenir","iPod","mandolin","threatened","juicer machine","altitude","BLT","passport","obnoxious","salami","slam dunk","currency","bump","fourth down","carne asada","sentence","pepperoni pizza","rest","beach house","swirl","view","joyous","graham cracker","delay","fortnight","earache","julienne","indent","crushed","gem","appreciative","scenery","apple pie","flattered","brad","trail","irate","lodge","butterscotch","mascot","involved","scary","souvenir","warm","rock","sunflower seeds","luggage","forgetful","stingray","dress shirt","river rafting","quiche","French toast","mixing bowl","chicken tenders","blissful","whole milk","left out","milk","binoculars","vulnerable","despondent","west","concierge","enraged","Olympian","equanimity","trailer","lemon","icy","ginger ale","vain","uncertain","longing","simmering","wristwatch","harmonious","pulp","melancholy","shocked","England",*/
/*"butterscotch","gang","pomp","lollipop","zigzag","terrify","mourning","expectant","teenager","coconut cream pie","bowtie","compassionate","preheat","fabric","lunch box","apple juice","tugboat","sunglasses","amused","safari","pizza","whisk","distraught","salad bowl","raw","ribs","explorative","kayak","daring","major league","senior","jockey","beach house","time zone","argumentative","riddle","waver","corn","unfeeling","humorless","can't wait","patronized","wrench","slide","sieve","oak tree","fireman pole","hide-and-seek","jockey","hiking","crate","drive-through","living room","best","icy","end","okra","chew","parmesan cheese","coffee","digest","muffin tin","honeydew","devastated","cello","macaroni and cheese","blue jeans","kiwi","chicken pot pie","pleasure","lasagna","seashore","empowered","snowball","crazy","perplexed","ballpoint pen","buddy","bus","deserted","salad","witty","baseboards","snobbish","jeep","clown","deprived","ill","chow mein","swimming pool","silver","liver","crab","factory","chain","admired","disdain","cream","A1 steak sauce","France","shy","vindictive","cherry pie","guilty","sea salt","clay","special","oatmeal raisin cookie","camp","decide","shipwreck","well-being","curious","Zen","turmoil","Pop Tart","cartographer","good","betrayed","daring","kebab","foe","dent","displeased","arrogant",*/
/*"intuitive","mason jar","ping pong","egg salad sandwich","race","fierce","dot","mash","tangerine","fatigued","turbulent","pleasant","homeless","vitamin","organ","squid","rotini","radiant","dice","reluctant","popcorn","turbine","haiku","taxi cab","petulant","plumber","glue stick","replace","sandwich","snag","broil","salad wrap","wok","encouraged","scared","nursery","shaken","livid","relish","top hat","ticket","selection","lake","independent","delay","hatred","paranoid","hypocritical","shower curtain","uptight","Neapolitan ice cream","graham cracker","minister","tilapia","applause","timid","forehead","roll","diver","stew","first mate","journey","tip","feast","billboard","worthless","tire","spam","dismayed","heartbroken","visitor","spectator","thoughtless","chimpanzee","doom","ticket","swimming pool","mushroom","peeved","sail","fajita","opponent","fruitcake","word","excursion","degraded","soybean","fry","awful","envious","dirt","feudalism","flannel","alive","exhilaration","snag","craving","neglected","cooking oil","hot dog","offended","buffalo wings","Bermuda","meringue","Girl Scout cookies","vacation","nachos","banana peel","season","flight",*/
/*"zeppelin","cheeseburger","Visa","shipwreck","fried chicken","rattle","asparagus","jug","kiwi","oven","toffee","Tom Hanks","foggy","soda","rolling pin","indifferent","dud","horseradish","gravy","flu","refrigerate","Galapagos tortoise","chicken fried steak","dominated","kidney beans","scenery","cooling rack","vanilla pudding","couscous","yam","trusting","waves","leak","number","justified","pinch","wren","perfect","cherry","squint","panic","ginger","bicycle","mousse","positive","measuring spoon","meatball","saltine crackers","fizz","arrival","suggestion","rim","enlivened","secretive","inconsolable","smoothie","hilarious","city","disgusted","nonresistant","repulsive","rut","alert","ginger","summer","unappreciated","ironing board","cheddar cheese","tine","state","produce","chop","Olympian","island","guarded","dawn","sow's ear","leotard","chicken","picture frame","maple syrup","home movies","string cheese","flambe","embark","monarch","through","program","driveway","fried rice","uncomfortable","brain","salad bowl","Rosa Parks","glaze","position","livid","elm","punch","Philly cheesesteak","resident","content","billboard","zester","skin","sunflower","egg rolls","alienated","thicken","ignored","gloating","evil","unhappy","photographer","smoothie","Albert Einstein","clearheaded","anaconda","Murphy's Law","rude","shed","meticulous","coupon","disquiet","evasive","beach house","cheeseburger","burnt out","wanton","Steve Jobs","panicked","worry","plug","hummus","eat","voice","pancake",*/
/*"loved","alfalfa sprouts","leisure","Clementine","quality control","Michael J. Fox","pomegranate","cuff","candy","porter","itchy","moped","heel","pita pocket","safe","hard boil","humor","secure","caramelize","coconut cream pie","brand","camping","process","sunflower seeds","feast","sherbet","broccoli","Buzz Aldrin","lake","apple cider","classroom","dejected","foreigner","wool","brew","willing","fair","glad","research","singe","hang glider","population","kumquat","Jasmine rice","GPS","peanut butter and jelly sandwich","stagnant","Plato","rapturous","Christmas carolers","pine tree","victorious","jury","ramekin","simmer","defeated","travel agent","rejected","kumquat","deprived","funny","new","moved","sandbox","chips and salsa","knight","Arizona","laugh","example","feast","terrible","password","cautious","pile","grandma","rind","cucumber","summer squash","cupcake","discarded","fried rice","gray hairs","sun-dried tomatoes","combative","kettle corn","laminate","lodge","foreboding","dread","chicken nuggets","boil","burdened","viscosity","carbohydrate","tomato soup","playful",*/
/*
"beehive","cot","unleavened","garlic press","teammate","olive oil","food processor","mash","glide","strudel","outer space","gentle","underwear","Vienna","lecture","cooperative","tourist","coach","vent","eggnog","overhang","pretzel","crop","tide","waffle iron","puppet","sandbox","trains","yacht","welder","to melt","red-eye","aggressive","cranberry","beat","skull","cell","energy","gloating","bib","disillusioned","calcium","numb","depleted","branch","quill","powerless","photograph","tortilla","hateful","onion rings","wound","Twinkies","mute","defiant","turkey","complacent","zigzag","popsicle","plane","napkin","chicken coop","spice rack","dentist","fancy","teriyaki","watermelon","peeved","shrimp","garnish","brilliant","bug spray","agony","coaster","pizza cutter","yo-yo","chickpeas","vase","casserole","sauce pan","cake","lascivious","focused","pumpernickel","invincible","carrot","spork","debone","bad","Four Corners","fine","mousse","pizza stone","diced green chilies","encouraged","entrepreneur","cardboard","crime","sip","skating rink","Swiss cheese","overwhelmed","snow shoe","midwife","cayenne pepper","caramel apple","chicken coop","stubborn","carabineer","scoundrel","Christmas carolers","hostel","belonging","pea","wick","fierce","scythe","responsive","amazed","regret","leather","sheet","superpower","newspaper","mortician","tofu","crushed","magnanimous","cruel","cancel","tide","grill","room service","cramp","white chocolate macadamia nut","South Dakota","egg beater","hash browns","sirloin","mango","resilient","worthless","log","capers","water park","tempura","pining","empty","wax museum","nail","credit card","scoop","lonely","opinionated","animated","isolated","brownie","group","to broil","bass","grandfather","brick","resentful","exploited","free","snort","gloomy","fly","coffee pot","pigpen","wistful","serve","receptive","chain","marinade","credit card","bluebird","aardvark","to bake","hoarding","soy milk","safari","superstitious","aggressive","trail","terrible","miserable","swirl","spring rolls","smoldering","hungry","bridge","chop","tarragon","usher","outdoors","beanstalk","onion","sprinkles","intimidated","meatloaf","sunburn","sympathize","animal crackers","cheesecake","obnoxious","robe","country","stripe","swimsuit","Are we there yet?","huevos rancheros","spam","actuary","chimichanga","gingerbread man","Maine","jog","edamame","cheated","precook","meringue","distressed","freshman","sunscreen","deep fryer","granola","game clock","outraged","refried beans","animosity","embarrassed","appreciated","inspect","reservation","yawn","stove","shocked","crackers","fetch","dumplings","cornbread","vessel","lunch tray","trousers","peaceful","rejuvenated","knowledgeable","gingerbread house","numb","highjack","coal","macaroon","wind","standing ovation","pizza rolls","cog","hurdle","curious","letter opener","pea","departure","museum","stir-fry","ketchup","sprinkles","humbled","spoiled","annoyed","audacity","misunderstood","lobster bisque","rye","coral reef","grilled cheese","clam chowder","Abraham Lincoln","weather map","indignant","gingerbread man","funnel","exhausted","afraid","verse","breakfast","stroll","holier than thou","unsure","buddy","postcard","souffle","mortified","bait","breakdance","pickle","trusting","hatch","lively","uptight","punctual","purposeful","observe","bellhop","tense","self-conscious","hopeless","hate","desperate","date","national park","braise","jealous","cayenne pepper","quiet","sopapilla","America","banister","honorable","stoic","Segway","angry","lifeboat","Bruce Willis","long grain","contemptuous","depressed","cake pan","naughty","map","alarm clock","stove","firefighter","fear","life","cloak","openhearted","fascinated","online","cupola","Eddie Murphy","retire","whine","mysterious","miles","arm","silverware","front porch","handwriting","glorious","throne","patronizing","marathon","measure","savage","ice cream cone","drizzle","fizz","weekend","bothered","June","absorbed","left out","cereal","reiterate","dizzy","password","hilarious","blue jeans","Zen","paperback","darts","pixel","scar tissue","stewing","banana peel","giving","abundance","dawn","explosive","wary","airline","taxi","quantum mechanics","bouillon cube","between","chocolate milk","baby-sitter","record","landing","blunt","through","sunny weather","doghouse","confused","atlas","octopus","prejudiced","souffle","debone","gold","steely","furious","person","beach house","Leonardo DiCaprio","tram","stitch","leisure","jade","fine","turbine","soil","tangerine","plum","judgmental","Africa","loving","white bread","apple juice","enthralled","raisin","cherry pie","cauliflower","subway","tag","focused","suitcase","torn","clumsy","irritated","raspberry","capybara","coffee maker","pile","pure","reckless","prize","lonely","glowing","valued","creme brulee","peanut butter","yesterday","flight","underestimate","banana peel","exuberant","jolly","animosity","headache","char-broil","wretched","artichoke","provisions","squint","gem","spontaneous","removed","revived","waist","glowing","stage fright","map","resistant","date","sweeten","draw","disgruntled","healthy","bouillon cube","kettle corn","backpacking","cab","alphabet soup","confused","juicer machine","troubled","tickle","crisp","pear","cuisine","childlike","parcel","family reunion","spontaneous","nasty","drive-through","organ","irate","wary","tendency","garbanzo bean","thrill","punctual","Victor Hugo","chocolate chip cookie","affectionate","mountain biking","disconcerted","zealous","Mount Rushmore","salt","dinner roll","Galileo","conceited","pumpkin","kitchen knife set","vacation day","tooth","hatch","annoyed","capitalism","glorious","porch swing","inn","pitiful","pride","shack","burn","vulnerable","fried chicken","lazy","inconceivable","nice","standing ovation","mascot","sizzling","goblin","program","Brussels sprouts","layover","motion","purpose","envy","tired","awkward","skateboard","coerced","Twinkies","craving","request","kiss","chili pepper","zealous","harassed","grateful","snuggle","Bundt cake","stomach","frightened","pie","summer","condo","Turkey","relative","softball","use","nutmeg","sabotage","giddy","sushi","shrink ray","shopping","manipulative","desolate","salami","second cousin","seashore","pitiful","passionate","bite","pear","major league","phishing","kind","lentil","runt","enthusiastic","exasperated","pin","agony","escalator","blanket","pasta","to blanch","dew","stepmom","toboggan","coffee pot","stressed out","vibrant","step-daughter","omelet","incident","sequins","latitude","pita pocket","vise","toaster oven","feta cheese","pan fry","restaurant","mute","race","kitchen knife set","smiling","potato salad","dairy","twig","Cheerios","light","jubilant","peanut butter and jelly sandwich","french fries","bleach","disconcerted","parkour","irritable","thoughtful","pogo stick","drain","food processor","clam","walk","disturbed","soda","empathy","churro","fish and chips","mean","baron","letters","jambalaya","chimichanga","transport","serene","Europe","ginger","burdened","jealous","bleach","standing ovation","room service","home movies","scuba diving","Bundt cake","garden hose","poultry","knead","deviled eggs","stairs","gumball","splendid","frozen yogurt","beach","oil","gasoline","rollerblades","fajita","insist","chocolate cake","bob","terrified","lazy river","California","jazz","sightseeing","invincible","great","rendering","lasagna","longitude","spork","wonderful","elm","possessive","defensive","Brad Pitt","sap","rut","cell phone charger","mistrustful","kale","narrow-minded","mountains","weary","cheerful","deceived","cure","scone","dot","bug spray","friendly","homeless","spy","jell-o","garnish","lobster","regret","pork","stipulate","funny","frantic","cause","controlled","walnut","mellow","taste","Six Flags","jog","deep-fry","red wine vinegar","help","landing","dock","Spain","scramble","cheese grater","journey","safe","ladle","dance","check","allspice","fragile","sleeping bag","guide","aunt","encouraging","cornflakes","position","spinach","cloud","independent","whatever","currency","ferry","food pyramid","stream","caramel apple","BLT","t-shirt","handy","turnip","egg salad sandwich","brave","sugar cookie","postcard","successful","ebony and ivory","fulfilled","race","pepperoni","keepsake","sleepy","discombobulated","light-year","cake mix","English muffin","exhausted","wilderness","salad dressing","murderous","thoughtless","cornflakes","sweet potato fries","callous","sirloin","unwanted","time machine","peanut butter cookies","vigorous","vicious","stationery","unfocused","caviar","directionless","pinto beans","rib","urgent","scurvy","forest","peanut butter","falafel","griddle","pot stickers","scoop","rocket","watchtower","plow","the Wright Brothers","orange chicken","salt shaker","fanny pack","simmer","tarragon","dent","drain","road trip","bedspread","croutons","nucleus","nachos","SpaghettiOs","whole","violent","vengeful","applause","overcook","brand","click","skim milk","turnpike","grieving","lentil","repulsed","sash","firefighter","pizza stone","chain","stable","sports car","courageous","tolerant","regret","anchovies","fiddle","thoughtless","motel","flambe","stimulated","scalawag","publisher","pizza cutter","popcorn shrimp","year","smoke","hedge","cranberry","scuba diving","shortening","paranoid","pigpen","inn","ridiculed","order","saltine crackers","puzzled","doghouse","path","boardwalk","amusement park","fruitcake","price","restless","potassium","structure","fudge","chocolate chip cookie","to broil","brown rice","fulfilled","Paul McCartney","jittery","rattled","prejudiced","bathroom scale","whip","suggestion","Washington D.C.","Galapagos tortoise","jam","yeast","inhibited","itinerary","order","caramelize","jambalaya","currency","interested","glide","airplane","nervous","departure","seesaw","carbon","summer squash","exhort","gingerbread house","dimple","anxious","coast","twitterpated","spread","cinnamon","distressed","campground","skating rink","surfboard","dentist","self absorbed","peach","rotini","contempt","delightful","pity","riddle","self","church","want","tilt","holiday","relaxed","Rome","disappointed","suntan","amateur","world","start","ranch dressing","freeze","initiative","luggage","hostel","wheat bread","sourdough","explore","amusement park","bread bowl","mouth","suntan","camera","custard","remorse","coffee maker","crack","tablespoon","refreshed","s'mores","shrub","Canada","parcel","green bean","ink","overcook","crime","hook","lamb","salt shaker","smothered","sizzling","easel","gnocchi","fritter","batteries","modern","clay","dock","tormented","season","confident","index","casserole","paperback","stem","meatloaf","irrational","spring","kiosk","jazz","honey","axed","greedy","junk food","rattled","curb","grief","Florida","stuck-up","chicken noodle soup","zinc","resistant","cool","end","thoughtless","wise","corn on the cob","pudding","squint","magic","river rafting","skim milk","departure","soak","Africa","saw","embarrassed","creative","time off","terrify","hot fudge sundae","shock collar","pastry","slush","obsessed","romance","ladle","integrity","cake pops","perspective","number","yogurt","magnanimous","guacamole","disgusted","squash","ceiling fan","brisket","capitalism","dust bunny","wag","waste","wheat","snowstorm","open","responsive","hem","waffle cone","zany","rancher","lumber","eternity","negative","lettuce","Benjamin Franklin","dent","hazelnut","stunned","dominated","post office","jammin'","grieving","chives","French onion dip","retina","olive oil","inadequate","endive","kind","half","port","Boston","way","rejoice","volcanic","flu","salsa","SpaghettiOs","tearful","sports car","fidgety","brainstorm","fanny pack","police officer","resolved","rattle","food pyramid","Rembrandt","rocking chair","land","pawn","pinto beans","supportive","clam chowder","dazzled","clever","French onion dip","frustrated","punch","awkward","relish","hurt","riddle","stuffing","gumbo","kitchen knife set","silly","repulsed","oblivious","appreciated","result","Gatorade","inconceivable","event horizon","lecture","donut","glide","prime rib","rations","cot","application","translate","plum","parsnip","pea","stubborn","tenderize","wail","pork chop","nation","stand-by","backpacking","red velvet cake","juggler","curious","jet","cinnamon roll","carne asada","mellow","disheartened","porch swing","brew","curtains","rib","enchanted","sympathetic","caustic","food coloring","pumpkin pie","ballpoint pen","vise","compassion","cornbread","microwave","capybara","rice pudding","mall","ruthless","sugar cookie","twilight","overbearing","park","taste","measure","journey","insist","dogmatic","sheriff","veggie burger","involved","simmer","silverware","unpack","whey","discombobulated","sip","space shuttle","chocolate covered strawberries","beautiful","overbearing","eclair","whole milk","smog","failure","freight train","nausea","magnet","gracious","worry","discarded","gem","holiday","guilty","campsite","passport","crazy","keepsake","bran muffin","ginger","flu","fantastic","constricted","judgmental","forlorn","latitude","potato salad","soft boil","inspired","mashed potatoes","hemisphere","cabbage","sunburn","Harrison Ford","inspect","cabin","animated","bay","spoil","tourist","turkey bacon","sour cream","reign","perk","swimsuit","removed","low-fat","Zen","loved","airport","campsite","obedient","certain","teriyaki","the Bahamas","soup de jour","fillet","cookie cutter","jammin'","pain","ticket","flour","tearful","fondue","used","unforgiving","salad wrap","lunch box","outrageous","pinch","demoralized","ice cream sandwich","jug","awed","provolone cheese","genetics","passport","itinerary","equanimity","cage","Say \"cheese\"","harsh","petrified","mad","bereaved","potato chips","voice","pushy","flagpole","hostility","strong","highjack","touched","laundry basket","arrogant","waterfall","sum","send","disgraced","whole milk","self","pogo stick","marinade","radiation","shaken","buddy","burrito","unyielding","water chestnut","cell phone charger","sugar","grease","train station","chicken tenders","pie","new","fence","aloof","say \"cheese\"","papaya","robe","coach","saddle","drive","trail mix","insecure","scared","cruel","sorrowful","enchanting","family reunion","tormented","pumpkin","long grain","sift","despised","grill","unloved","judgmental","coconut","entertainer","mortician","cloud","sea","scheming","sauce pan","dull","funny","prize","wonder","heartache","variable","story","melancholy","purge","rigid","longing","warm","gingerbread","midsummer","lucky","cinnamon","dough","haughty","modern","divine","napkin","chicken salad sandwich","cliff","flustered","listless","wooden spoon","visionary","blur","complacent","puzzle piece","tank","helpful","pancake","thread","aversion","brainstorm","believe","mad","scone","twitterpated","chagrined","gnocchi","soft boil","dynamic","music","tireless","trash can","lemon bar","sod","dismayed","bird watching","cot","beehive","cookies and cream","snowstorm","childlike","advertising","bobsled","event horizon","payment","fourth down","self absorbed","dazed","suspicious","grill","abused","playful","tour guide","train station","selection","advertising","insecure","grumpy","bedbug","cab","concierge","slam dunk","disgruntled","bubble","unhappy","fiddle","brad","clearheaded","foolish","spend","cautious","rested","Italy","panicky","dollar","snowboard","hug","egg rolls","rocket","keepsake","noodle","smoldering","grape","rigid","succotash","spool","kiosk","fearful","scuff mark","chauffeur","hole in one","cream","brass","garden hose","successful","listless","willful","tuna","stew","obsessed","open","maze","scar","outraged","explosive","amateur","fancy","presumptuous","Istanbul","fishing pole","despair","baggage","sailboat","pawn","infant","stifled","sparkling water","piracy","devious","pretzel","police officer","adventurous","radiator","shy","highway","stapler","lively","anguished","pulp","soy milk","exhilarated","inn","contempt","baffled","ogre","plaid","pudding","mozzarella cheese","savory","crumb","popcorn shrimp","relieved","state fair","shrink ray","fig","guile","expectant","swallow","dredge","tater tots","waffle","washing machine","musician","artichoke","revolted","helpless","falsetto","spoonful","oatmeal raisin cookie","spaceship","citrus","colander","movies","income","quantum mechanics","deep-dish pizza","chicken fried steak","fascinated","furious","wren","puree","skim milk","hose","value","sequins","Tupperware","kale","loving","sensitive","sip","chow","s'mores","taxi","willful","deployed","cashew","dangerous","tenderize","wool","brass","unfocused","spaghetti","roast","positive","income","theorize","the Grand Canyon","displeased","wood","dance","scalawag","halibut","sharp","jar opener","someone","pipe","mean","testy","think","lip","actuary","deep fryer","cucumber","apricot","tool","sabbatical","nice","tapioca pudding","Carrie Fisher","theme park","compassion","zephyr","spy","coast","blueprint","worn out","invigorated","sweet tooth","certain","pint","result","earthworm","unnerved","pond","takeoff","freight train","wounded","paralyzed","hate","banister","fizz","cash","toast","laundry basket","suitcase","Tupperware","steel","pistachio","knife","croissant","loveseat","mail","twig","game clock","lake","frantic","sunglasses","variable","honeymoon","Bruscetta","jaw","romance","decisive","drizzle","feta cheese","petulant","cake pops","clammy","yoke","cookies and cream","suntan","schedule","resident","eraser","puzzle piece","custard","whole","jury","tamale","printer","fortune cookie","claw","provoked","mandolin","tea","ice cream","skip","angel food cake","camping","pineapple upside down cake","sense","think","nutritious","onion","veil","leak","maple syrup","granola bar","alfalfa sprouts","coaster","cuff","sloppy joe","sweet","avocado","mop","doubt","divine","sullen","vivacious","breakfast","gourd","sleigh","tiptop","currency","orange","tide","Girl Scout cookies","aggravated","grill","blueprint","fritter","dislike","kebab","mystified","Bill Clinton","scrambled eggs","help","sash","nostalgic","awful","broth","ashamed","grate","blimp","dazed","tickled","confused","exploited","substance","wow","date","angry","modern","restored","booth","pleasant","savory","environment","jolly","chopsticks","tiptoe","ice cream sandwich","stir","thicken","cuff","sun block","airport","toss","hesitant","snickerdoodle","remorse","resentment","caramel","grease","club","paint","road trip","joyful","American cheese","cardboard","sow's ear","vague","happy","research","enriched","mason jar","quinoa","tomato","blossom","potatoes au gratin","family reunion","unforgiving","station wagon","angel hair pasta","crazy","raw","chocolate","surfboard","strong-willed","zucchini","flannel","card","crunch","calm","fruit salad","serve","jalapeno","granola bar","cooling rack","hot tub","creepy","premolar","belonging","suitcase","typeface","empty","zoo","Aristotle","territory","east","smidgen","joyful","condemned","caramel","enraged","crow's nest","zucchini","foster child","tour","chocolate milk","tendency","orange chicken","understanding","clay","marinate","fruit smoothie","theorize","destructive","sink","reimbursement","hunger","island","scheming","wow","volcanic","career","sweet tooth","remorseful","evil","renewed","cantaloupe","ivy","inbox","whiplash","cheerful","mysterious","passionate","nonresistant","gentle","panicked","rapturous","victorious","teaspoon","ecstatic","enriched","whipped cream","blimp","meatball","succeed","leisure","apple sauce","spellbound","disquiet","unfeeling","inn","chess","George Lucas","John Williams","mistrustful","sore","crumb","stressed out","blueberry","apple","sweeten","reiterate","to blanch","gate","good","vague","pack","fair","getaway","inspired","selfish","valued","hysterical","soybean","gratified","whey","speculate","burn","chickpea","haiku","quiche","coast","apple cider","food coloring","swallow","diver","photograph","peck","snobbish","hedge","ecstatic","magic","gyro","patty","apathetic","intimidated","corn","gloomy","funny","vanilla extract","tourist","cantaloupe","dimple","stir-fry","grandfather","bicycle","luggage","sunflower","speakers","decisive","cookie sheet","wheat bread","saffron","runt","Bill Gates","bedbug","mascot","mozzarella sticks","refried beans","match","national park","green onion","bothered","blueprint","resigned","linguine","population","responsible","rebound","dress shirt","dust bunny","concerned","abrasive","riddle","rice cooker","sod","bowtie","simmering","appalled","excuse","skis","jig","aloof","barn","snobbish","popcorn","tent","hatch","premolar","selfless","bereaved","ophthalmologist","cinnamon roll","cliff","crisp","mortified","sprinkler","wool","raft","hot sauce","room","parboil","buffalo wings","ditch","snow shoe","twitterpated","spider web","ratatouille","Internet","glad","tram","gingerbread","chagrined","catering","allspice","regretful","understanding","low-fat","hardworking","dot","rake","booth","fancy","carrot cake","collage","trapped","bicycle","stunned","sloppy joe","ski lodge","pushy","week","handwriting","inconceivable","chain","competent","purposeful","abused","stripe","startled","hungry","bored","spiteful","windmill","insect","tablespoon","peach","cookbook","mustard","noun","metric system","full moon","substance","brass","stir","application","kayak","spool","sopapilla","fort","zest","boiled egg","gratified","baffled","skeleton","desk","puree","spinach and artichoke dip","rebellious","bedbug","key lime pie","stove","someone","calorie","proud","bonnet","matchstick","incensed","meat","cake","cruise","testy","metal","fluctuate","take-out","linen","retina","cupcake","radiator","mixing bowl","cheated","secretive","flock","mine","foolish","tater tots","unappreciated","marshmallow","spoiled","mast","complete","gourd","front porch","kettle","gang","earthquake","corndog","tap dance","foreboding","fork","equator","indent","snowboarding","cog","tennis shoes","foil","engrossed","puzzle piece","futile","guile","zest","macaroon","stage","humiliated","beat","puzzle","yam","demo","city","tar","step-daughter","demanding","lovely","fog","rejected","eggplant","envious","corn on the cob","enchilada","globe","keepsake","chocolate shake","caustic","irked","cautious","knife set","toaster oven","paddle","driven","bob","eggnog","lake","driven","scurvy","thrill","sleepy","structure","dud","poster","intrigued","croissant","salt","green bean","summer","tortilla","carrot cake","bad","Murphy's Law","naturalness","jellybeans","space shuttle","typeface","superior","diced green chilies","reserved","patronizing","well-being","wallet","irritated","wicked","mushroom","apprehensive","gracious","escalator","tinting","incensed","map","beach ball","marshmallow","living room","devastated","upset","raspberry","Los Angeles","longitude","self-sufficient","ham","provoked","hamburger","pressure cooker","cabin","robot","mournful","phishing","scenery","lamp","impatient","scenery","lemon","spaghetti","hash browns","hopscotch","Shakespeare","bluebird","quinoa","healthy","doubt","darts","degree","tired","octopus","capitalism","scramble","river","rhetoric","affectionate","leaf-cutter ant","courageous","grateful","dumplings","suntan","edgy","enchilada","cabin","Alaska","touched","chicken nuggets","impatient","watermelon","highway","foster child","jungle","apple pie","breakdance","dredge","baseboards","alphabet soup","Old Spice","strain","brisket","desolate","Paris","reluctant","wretched","ladder rung","horseradish","aware","candlestick","concerned","sad","grumpy","egg timer","recycle","collage","ditch","delightful","basket","agreeable","oven fry","echidna","Swiss cheese","gray hairs","midsummer","mountain","Beethoven","alarm clock","scramble","soft pretzel","olive","triplets","awareness","boa constrictor","eat","hurdle","rice krispie treats","coal","Craisins","dislike","bucket","frying pan","Colorado river","ironing board","brooding","pour","lard","withdrawn","trapped","think","brave","chow","pharmacy","north","boundless","yolk","pita","electricity","wounded","flattered","afford","prime rib","produce","hot fudge sundae","David Beckham","fillet","downtime","drink","tool","embracing","assured","Broadway","taxi","irrational","goblin","anxious","theory","compulsive","citrus","elf","visionary","sandpaper","tilapia","skiing","French toast","sentence","sullen","tween","frenzy","buddy","first class","jar opener","blue","payment","lighthouse","predator","tugboat","voyage","unsettled","flexible","multiplication","angel hair pasta","singe","livestock","sweet potato","heavy hearted","devious","falafel","abrasive","chicken","rations","hot sauce","oven fry","frazzled","money","uneasy","shrimp","energetic","atlas","shopping","sack","energized","incident","fortunate","spectator","cheddar cheese","oven mitt","guacamole","chocolate chip","grapefruit","cabbage","squid","person","cold","ship","unleavened","guppy","China","brass","bread bowl","motel","disturbed","bran muffin","dragonfly","ladder rung","wooden spoon","mountain biking","beg","papaya","shear","satisfied","used","rut","cuticle","president","herbs","main course","yeast","jam","traffic jam","hilarious","lobster bisque","sightseeing","reimbursement","blossom","echidna","hysterical","hemisphere","amusement park","teleconference","bobsled","hungry","pining","knife set","churro","julienne","forgotten","perfection","taco","faithful","cruise","directionless","resort","parsnip","celery","roast","toaster","spice rack","Las Vegas","faithful","chicken salad sandwich","Boston cream pie","apprehensive","justified","tailor","plaid","overindulgent","basketball","earache","hole in one","state fair","guarded","hesitant","burrito","safari","humidifier","skating rink","condemned","huddle","fry","joyful","scrap","stoic","dimple","hatred","wicked","Johnny Depp","coerced","tamale","tulip","hostile","Internet","saffron","boastful","vicious","lime","rag","mustard","coin","waffle iron","bok choy","envy","plant","sour cream","spine","mast","pomegranate","strawberry","sentence","tomato soup","broth","broccoli","supportive","abandoned","violin","restored","cog","joyous","C. S. Lewis","spatula","aggravated","hiking","toast","houseboat","distracted","billboard","museum","garlic press","underestimate","dread","soft pretzel","almonds","chives","alarmed","harassed","pineapple","gumbo","thin crust pizza","stern","vanilla wafer","wedding cake","attic","eager","petrified","Texas","doubtful","pistachio","darts","disorganized","competent","acne","whirl","throttled","plumber","miserly","determined","radiant","hoarding","creepy","tour guide","energized","negative","brave","drums","doomed","unloved","healthy","harsh","midsummer","trip","comfortable","hostile","feudalism","crackers","eggplant","snowplow","pan fry","perfect","bedspread","Murphy's Law","campsite","cranky","summer","blueberry","perturbed","sneeze","intern","disconnected","blink","spade","blunt","terrified","belligerent","apathetic","afraid","gumball","puppet","full moon","camping","water park","selfish","renewed","squeegee","voracious","anticipation","Egypt","experiment","ice cream cone","half","thin crust pizza","destructive","BFF","observation","whirl","roll","hazelnut","sabbatical","voice","organ","intern","shopping cart","distracted","stern","upset","double","laminate","confident","airway","downtime","horrified","rude","sparkling water","closed","beach","salmon","range","whole milk","curry","sorrowful","publisher","flush","blue","grinder","openhearted","jalapeno","tourist trap","number","pineapple","fetch","chocolate shake","gray hairs","milk","absorbed","avoid","acne","snow cone","uplifted","umbrella","turkey bacon","bob","creme brulee","spellbound","unyielding","reckless","hedge","alienated","tickled","zester","evasive","liver","yearning","vegetable peeler","macaroni and cheese","potato","potato","tea","tireless","vengeful","new","leek","pecan pie","hemisphere","photographer","ebony and ivory","enlivened","quality control","disdain","resentful","hearty","animal crackers","slice","cardboard","veggie burger","unpack","ebony and ivory","jammin'","Snuggie","doomed","heavy hearted","steely","hopeless","BFF","to poach","wistful","birthday","tuna salad","Dutch oven","energetic","rice","grief","sardines","toss","baby-sitter","lettuce","neglected","shipwreck","fidgety","bubble wrap","undecided","candle","land","cowboy","french fries","chew","marinate","lethargic","pull","puzzled","chocolate cake","muffin","throb","outdoors","Justin Bieber","outer space","others","toddler","green onion","flute","rice cooker","tortilla chips","shortening","video","saddle","tiptop","salad dressing","puzzle piece","customs","defeated","morning","perplexed","abandoned","sunglasses","windmill","wristwatch","fly","superstitious","sin","rendering","stoplight","heartache","helpful","hoedown","Jasmine rice","suspend","optimistic","engaged","forgetful","honey","King George","soy sauce","determined","fuming","lend","outlet mall","murderous","miserly","fringe","skewer","alarmed","brooding","goblin","pity","full moon","disappointed","blackboard","weather","spinach and artichoke dip","rolling pin","hornet","shaky","party","exasperated","centered","pecan","pepperoni pizza","revolted","travel agent","refreshments","fad","scramble","sharp","hard boil","currency","say \"cheese\"","ratatouille","ranch dressing","low","nasty","ridiculed","greedy","outer space","comfortable","eternal","wasabi","flour","arugula","Tokyo","soup de jour","take-out","despondent","hot dog","excited","chocolate covered strawberries","salmon","snowflake","nutritious","witty","London","cottage cheese","measuring spoon","drained","wonder","conceited","balanced","maid","stiff","jell-o","Reuben sandwich","cartoon","paralyzed","wallet","coast","panicky","irritable","Ireland","Tiger Woods","worn out","app","monkey wrench","river","robot","teleconference","interested","cookie sheet","first class","agree","houseboat","offended","stitch","cape","opponent","sunglasses","stuffing","motivated","nightmare","saute","feudalism","environment","dangerous","bud","flute","squint","almonds","slow cooker","packing","tilt","east","soft-hearted","willing","jittery","falsetto","cab","flu","lunch","quilt","chime","train","detached","fortnight","shish kebab","offer","scar tissue","swing","lid","agitated","tapioca pudding","funnel","succotash","fortunate","hearty","tremble","pork","crepe","dinner","punk","Mother Teresa","boastful","shrub","blossom","empowered","snort","avocado","photograph","deviled eggs","recycle","sweet","fruit salad","grate","sequins","refrigerate","slighted","sushi","sling","rag","muffin","waffle","afford","unit","closed","mast","speculate","panic","fixated","mourning","aversion","sore","spinach","grits","distrust","detached","jade","plug","garlic","wreath","fig","paella","oven mitt","fixated","Boston cream pie","mess","colander","slice","contemptuous","integrity","sympathetic","mournful","snack","rye","knead","beautiful","lethargic","shish kebab","sensitive","cheer","vivacious","considerate","miserable","cake mix","bandage","sesame seeds","pleased","railroad","almond milk","tiptop","smug","wish","lamb","receptive","snowman","appreciative","multiplication","mayonnaise","shear","order","money","carabineer","amused","mountain biking","spring rolls","elf","holiday","humidifier","bake","oatmeal","squeegee","rejuvenated","lobster","distant","milkshake","green bean casserole","backpack","blur","lima bean","first class","shopping cart","scuba diving","potatoes au gratin","considerate","sidewalk","controlled","seething","wok","gyro","deflated","purge","camera","exhilarated","ice cream","cutting board","layover","oak tree","station wagon","braise","audacity","ice cream scoop","depressed","clockwork","quiet","troubled","dismal","Brussels sprouts","tropics","size","Christmas carolers","vibrant","lunch","satisfied","carbohydrate","immune","Lewis and Clark","blush","refreshments","boundless","ship","ambivalent","dairy","alert","hem","sorrow","inconsolable","Are we there yet?","thing","harmony","violent","elm","holiday","resolved","onion rings","constricted","scary","stage fright","sugar","sherbet","bathroom scale","garden hose","horrified","kayak","x-ray","team","corn flakes","disgust","indignant","typhoon","superpower","poultry","Clementine","net","airport security","group","perfection","breaststroke","hostility","blue whale","zany","anticipation","my","grown-up","considerate","nanny","scale","date","yogurt","strudel","zipper","volunteer","flatbread","neon","suit","spark","spite","hike","enchanting","welder","strong","jog","confused","pinch","chicken noodle soup","peanut","sun-dried tomatoes","pomp","potato chips","friend","customs","weed","motion","quiz","plank","impact","water","tip","campsite","nanny","flustered","flock","encouraging","movie","fragile","apple","mast","unsettled","bread","betrayed","lunchmeat","battle","jade","hummus","junk food","cause","failure","brownie","irked","sorry","image","Hawaii","first mate","selfish","dollar","haughty","beanstalk","mouth","gusto","sea","rainbow","wrap","cot","sunshine","sofa","opinionated","creative","sleeping bag","halibut","Michael Phelps","flaxseeds","standard","sheriff","bonnet","escalator","embracing","hopeful","American cheese","south","grits","tennis shoes","clockwork","rice","cruise","Pop Tart","ancestor","sieve","disconnected","thrilled","milkshake","skate","granola","pasta","resourceful","jelly","aunt","futile","gravy","sod","sourdough","entranced","cuticle","phonemics","population","light","squash","tip","Christopher Columbus","cheesecake","wedding cake","engrossed","sesame seeds","cuisine","hardhearted","mother","excited","sad","claw","thrilled","repulsive","tortilla chips","robin","airport security","hunger","impact","log","screenplay","hut","operation","sale","meat","cuticle","drained","lend","self satisfied","darts","bunk bed","honeymoon","popsicle","firefighter","overwhelmed","budget","hotel","irritated","overnight bag","callous","combative","key lime pie","yolk","state park","pork chop","lazy","abrasive","theory","demanding","edamame","lascivious","nutty","to boil","hungry","sneeze","alive","sum","altitude","compassionate","frightened","bite","flexible","frosting","unwanted","wedding ring","smog","shrub","string cheese","superior","stomp","shriek","sleeping bag","degraded","rag","revived","highway","tour","uncompromising","tranquil","telephone booth","hypocritical","chef","A1 steak sauce","ladder rung","easel","iPod","statistics","aware","distrust","dogmatic","glide","shaky","customer service","edgy","dizzy","cool","cereal","taco","blur","trumpet","moved","white bread","mom","peaceful","juggler","kettle","fanny pack","cauliflower","sunscreen","toaster","reserved","deserted","glue stick","worried","sunny-side up","Disneyland","vain","station","bored","lucky","harmonious","restless","cookie","cottage cheese","fear","pure","lunchmeat","silverware","lovely","enthusiastic","month","paella","hip","shelf","grievous","theme park","heartbroken","pious","overhang","chickpeas","self-conscious","exhilaration","surfboard","use","critical","binoculars","suntan","outrageous","discouraged","ziti","spoonful","nightmare","Kool-aid","inventor","matchstick","safe","pizza","terrific","fine","goal","throb","thankful","preheat","rut","ribs","sideline","one-of-a-kind","couscous","nausea","self-sufficient","giddy","itchy","rested","Windex","wanton","disillusioned","meal","nervous","tuna salad","relaxed","torn","awareness","tender","narrow-minded","delay","plastic","patronized","runt","oatmeal","customs","timid","admit","rainforest","pleased","sunny-side up","white chocolate macadamia nut","respected","chocolate chip","throne","secure","pomp","corndog","despised","whiplash","smoldering","pot stickers","sow's ear","aristocrat","vigorous","eternal","service","purpose","still","forgotten","north","Scottland","takeoff","sling","dejected","funny","stuck-up","anchovies","deployed","practical","chickpea","fruit smoothie","sightseeing","sweet potato fries","anguished","merciless","undecided","char-broil","pumpernickel","sail","turkey","to boil","harp","candy","sip","chime","jelly","uncomfortable","humbled","unsure","smidgen","abrasive","anaconda","refreshed","cash","wish","uncompromising","despair","ice cube","musician","sling","eclair","peck","Leonardo Da Vinci","thing","bok choy","station","ginger","scar tissue","Mexico","dessert","voyage","parboil","peanut","elated","torch","July","handwriting","seesaw","money belt","pine tree","life","kiss","vitamin","critical","radish","Kool-aid","itinerary","wail","waver","serene","chin","flush","immune","sifter","ditch","leak","blissful","bedbug","destination","busy","image","calorie","marvelous","fiddle","ice cream scoop","orange","job","sea salt","presumptuous","strawberry","egg beater","threatened","beanstalk","glum","cruise ship","cool","boiled egg","scoundrel","red wine vinegar","snowplow","jog","tourist trap","skiing","tunic","egg","walnut","quicksand","frosting","equator","amazed","my","Old Spice","Universal Studios","monopoly","elated","whatever","Pluto","turbulent","surfboard","empathy","Reuben sandwich","freeze","tour guide","tiptoe","step-daughter","cloves","slow cooker","defensive","startled","radiation","foggy","agreeable","cautious","hopeful","camera","astronaut","grilled cheese","reggae","gluttonous","friendly","wonderful","Mr. Rogers","indecisive","huddle","vindictive","naturalness","race","chili pepper","hotel","mayonnaise","fork","island","pill","smoldering","observation","request","grapefruit","waffle cone","withdrawn","kidney beans","fuming","raisin","drink","forever","laugh","caviar","giving","sift","pixel","figure skating","astronaut","Cheerios","nutmeg","disorganized","relieved","peanut butter cookies","shipwreck","seething","think","cheese grater","sponge","garbanzo bean","yacht","Jamaica","hardhearted","invigorated","traffic jam","merciless","nostalgic","honorable","nostalgia","arugula","rage","tomato","corner","dimple","can opener","adventurous","resigned","battle","belligerent","seashell","fringe","fatigued","can't wait","wedding ring","coffee","sunburn","cornmeal","holier than thou","distraught","stomach","yardstick","deflated","pious","loving","the Beatles","skeptical","sheriff","uplifted","provolone cheese","dawn","lethargic","time off","dough","distant","finger","hateful","enthralled","tofu","microwave","shopping","righteous","inhibited","deceived","souvenir","self satisfied","pita","ophthalmologist","curry","path","mango","disheartened","son","porch swing","baggage","reservation","lemon bar","cheese","address","leave","tongs","sponge cake","almond milk","airport security","fiddle","nutty","clammy","map","still","armadillo","blunt","turmoil","skiing","indifferent","swimming pool","nutrient","saute","cell phone charger","ardent","snobbish","bunk bed","humor","foreigner","burnt out","defiant","naughty","snickerdoodle","strain","exuberant","Dutch oven","Delaware","Aruba","leery","metric system","publisher","proud","flush","hemisphere","whatever","indecisive","terrific","isolated","smothered","resilient","plank","cello","flagpole","household","cabin","dynamic","cooperative","sister","replace","spouse","Canadian bacon","engaged","overindulgent","whisk","hotel","stifled","carry-on","charming","headache","mozzarella sticks","lost","carrot","ferry","grinder","urgent","admired","spiteful","tine","spring","Canadian bacon","batteries","voracious","vanilla wafer","statistics","carry-on",*/
];

	var BATCH = 20;

	var _tick = null;
	var _time = 0;
	var _command = "";
	var _current = 0;
	var _score = null;
	var _wordsToGuess = [];
	var _wordIndex = [0, 0];
	var _mostRecentWord = null;

	zeroScore();

	function zeroScore()
	{
		_score = [];
		for(var p in players) {
			_score[players[p].team] = 0;
		}
	}

	function keyboardShortcuts(e)
	{
	    var keynum;
    	if(window.event) {
    		keynum = e.keyCode;
    	} else if(e.which) {
    		keynum = e.which;
		}
		key = String.fromCharCode(keynum);
		if(key=='s') {
			nextWord(true);
		}
		if(key=='n') {
			nextWord(false);
		}
	}

	function sendCommands()
	{
		var payload = {
			command: _command,
			current: _current,
			score: _score,
			wordsToGuess: _wordsToGuess
		}
		$.post(
			"/wordgame/commands",
			payload,
			function(data) {
				document.getElementById('lastSent').innerHTML = new Date().toLocaleTimeString();
			},
			"json");
	}

	function newGame()
	{
		_command = "ready";
		_current = 0;
		zeroScore();
		document.getElementById('nextButton').innerHTML = "switch to "+players[(_current+1)%players.length].name;
		sendCommands();
	}

	function start()
	{
		_command = "play";
		var bank = players[_current].wordBank;
		_wordsToGuess = [];
		for(var i=0; i<BATCH; ++i) {
			_wordsToGuess[i] = _words[bank][(_wordIndex[bank]+i) % _words[bank].length];
		}
		_mostRecentWord = _words[bank][_wordIndex[bank]];
		document.getElementById('pastWords').innerHTML = '';
		document.getElementById('cheat').innerHTML = (players[_current].showWords==true) ? _mostRecentWord : '&nbsp;';
		_wordIndex[bank] = (_wordIndex[bank]+1) % _words[bank].length;
		sendCommands();
		_time = 60;
		if(_tick) {
			clearInterval(_tick);
		}
		_tick = setInterval(tick, 1000);
	}

	function tick()
	{
		--_time;
		document.getElementById('startButton').innerHTML = _time;
		if(_time<=0) {
			document.getElementById('horn_sound').play();
			clearInterval(_tick);
			_tick = null;
			_command = "timesup";
			document.getElementById('startButton').innerHTML = "start";
			sendCommands();
		}
	}

	function nextWord(scored)
	{
		document.getElementById('pastWords').innerHTML = document.getElementById('pastWords').innerHTML + '<br><span style="color:#' + (scored ? '009900' : '990000') + '">' + _mostRecentWord + '</span>';
		if(scored) {
			++_score[players[_current].team];
		}
		var bank = players[_current].wordBank;
		_mostRecentWord = _words[bank][_wordIndex[bank]];
		document.getElementById('cheat').innerHTML = (players[_current].showWords==true) ? _mostRecentWord : '&nbsp;';
		_wordIndex[bank] = (_wordIndex[bank]+1) % _words[bank].length;
		sendCommands();
		if(document.getElementById('clientButton').style.display=="block") {
			nextClientWord();
		}
	}

	function nextPlayer()
	{
		if(_tick) {
			clearInterval(_tick);
			_tick = null;
		}
		_command = "ready";
		document.getElementById('startButton').innerHTML = "start";
		_current = (_current+1)%players.length;
		sendCommands();
		document.getElementById('nextButton').innerHTML = "switch to "+players[(_current+1)%players.length].name;
	}

	function dump()
	{
		document.getElementById('dump').innerHTML = "bank 0 @"+_wordIndex[0]+" ("+_words[0][_wordIndex[0]]+")<br>bank 1 @"+_wordIndex[1]+" ("+_words[1][_wordIndex[1]]+")";
	}

</script>

<hr>
<br>
<% if(@player=="Lukasz") %>
<button onclick="newGame()" style="background-color:#ffcccc">restart game</button>
<button onclick="dump()">dump</button>
<br>
<button onclick="start()" id="startButton">start</button>
<button onclick="_time += 5">+ 5s</button>
<button onclick="_time += 30">+ 30s</button>
<br>
<button onclick="nextWord(true)">score! (s)</button>
<button onclick="nextWord(false)">next (n)</button>
<br>
<button onclick="nextPlayer()" id="nextButton">switch</button>
<br>
<br>
Last command sent <span id="lastSent">n/a</span><br>
<b>Words processed</b>:<span id="pastWords"></span><br>
<span id="dump"></span>

<script>
	$.get(
		"/wordgame/commands/list",
		function(data) {		
			_current = parseInt(data['current']);
			_command = data['command'];
			_score = data['score'];
			_wordsToGuess = data['wordsToGuess'];
			document.getElementById('nextButton').innerHTML = "switch to "+players[(_current+1)%players.length].name;
		},
		"json");
</script>

<% end %>

</body>
<html>