<!DOCTYPE html>
<html>
<head>
	<title>Word Game by Lukasz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" type="image/ico" href="/images/wordgame/favicon.png" />
  	<script src="/js/jquery-1.9.1.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bitter:700" rel="stylesheet">
	<style>
		body {
			font-family: 'Roboto', sans-serif;
			text-align: center;
			padding: 20px 10px 20px 10px;
		}
		h1 {
			font-size: 1.8em;
			font-weight: bold;
			color: #0006b1;
			padding: 20px 0px 20px 0px;
		}
		h2 {
			font-family: 'Bitter', serif;
			font-size: 1.5em;
			color: #999999;
			margin: 0;
		}
		h3 {
			font-size: 1.25em;
			color: #000000;
		}
		.no-display {
			display: none;
		}
		button {
			border: 1px solid #777777;
			font-size: 1.25em;
			margin: 10px;
		}
		i {
			color: #33bb33;
			font-style: normal;
		}
		#clientButton {
			display: none;
			margin-left: auto;
			margin-right: auto;
		}
	</style>
</head>
<body>
<audio controls id="horn_sound" class="no-display">
	<source src="/media/pictionary/airhorn.mp3" type="audio/mpeg">
</audio>
<h2>Hi, <%= @player %>.</h2>
<h2 id="display"></h2>
<h3 id="cheat"></h3>
<h3 id="scores"></h3>
<button onclick="nextClientWord()" id="clientButton"></button><br>
<script>
	setInterval(pingForCommand, 2000);

	var player = "<%= @player %>";
	var players = [
		{name:"Valerie", team:0, wordBank:1, showWords:true}, // wordBank: 0 (easier), 1 (harder)
		{name:"Iza", team:1, wordBank:0, showWords:true},
		{name:"Judith", team:2, wordBank:1, showWords:true},
		{name:"Matt", team:3, wordBank:1},
		{name:"Bob", team:0, wordBank:1, showWords:true},
		{name:"Shira", team:1, wordBank:0, showWords:true},
		{name:"Audrey", team:2, wordBank:1, showWords:true},
		{name:"Lukasz", team:3, wordBank:1}
	];
	var current = null;
	var wordsToGuess = null;
	var wordToGuessIndex = 0;


	function teammates(id)
	{
		var result = [];
		for(var p in players) {
			if(players[p].team == players[id].team && players[p].name != players[id].name) {
				result.push(players[p].name);
			}
		}
		return result;
	}

	function nextPlayer()
	{
		current = (current+1)%players.length;
	}

	function clientButton(label)
	{
		if(label!=null) {
			document.getElementById('clientButton').style.display = "block";
			document.getElementById('clientButton').innerHTML = label;
		} else {			
			document.getElementById('clientButton').style.display = "none";
		}
	}

	function pingForCommand()
	{
		$.get(
			"/wordgame/commands/list",
			function(data) {
				
				var current = parseInt(data['current']);

				// command
				if(data['command']=="ready") {
					if(player == players[current].name) {
						document.getElementById('display').innerHTML = "Ready to give clues?";
						wordToGuessIndex = 0;
					} else if(teammates(current).includes(player)) {
						document.getElementById('display').innerHTML = "Ready to guess the word?";
					} else {
						document.getElementById('display').innerHTML = players[current].name+" will give clues.<br>"+teammates(current).join(', ')+" will guess.";
					}
					clientButton(null);
				}
				if(data['command']=="play") {
					if(player == players[current].name) {
						wordsToGuess = data['wordsToGuess'];
						if(wordToGuessIndex>=BATCH) {
							document.getElementById('display').innerHTML = "You're done with your round!";
						}
						else {
							document.getElementById('display').innerHTML = "The word is <i>"+wordsToGuess[wordToGuessIndex]+"</i>";
						}
						clientButton("next");
					} else if(teammates(current).includes(player)) {
						document.getElementById('display').innerHTML = "You're guessing now!";
						clientButton(null);
					} else {
						document.getElementById('display').innerHTML = players[current].name+" is giving clues.<br>"+teammates(current).join(', ')+" guessing.";
						clientButton(null);
					}
				}
				if(data['command']=="timesup") {
					document.getElementById('display').innerHTML = "Time's Up!";
					clientButton(null);
				}

				// scores
				var allTeammates = [];
				for(var p in players) {
					if(allTeammates[players[p].team]==undefined) {
						allTeammates[players[p].team] = []
					}
					allTeammates[players[p].team].push(players[p].name);
				}
				scores_html = ''
				for(var t in allTeammates) {
					scores_html += allTeammates[t].join(' + ')+": <b>"+data['score'][t]+"</b><br>";
				}
				document.getElementById('scores').innerHTML = scores_html;
			},
			"json");
	}

	function nextClientWord()
	{
		++wordToGuessIndex;
		if(wordToGuessIndex>=BATCH) {
			document.getElementById('display').innerHTML = "You're done with your round!";
		}
		else {
			document.getElementById('display').innerHTML = "The word is <i>"+wordsToGuess[wordToGuessIndex]+"</i>";
		}
	}

	// admin interface

	// words from

	var _words = [];
	_words[0] = ["sandwich","movie","brave","tail","chalk","triangle","singer","hair","wrong","fence","fire station","gift","ranch","oink","sneeze","key","princess","car","policeman","alarm clock","melt","house","beautiful","buzz","feet","buy","fireman","high","marker","jump","race","light bulb","paint","pizza","letter","watermelon","city","ice cream cone","moo","fork","mascot","lunch","light","straw","fox","freckle","bag","country","pantry","mailman","eyebrow","count","state","cheek","bat","ride","bird","opposite","twig","piano","homework","grandma","cowboy","mountain","popsicle","begin","mouth","bride","hit","wife","horse","bite","doctor","bird's nest","salt","mouse","heavy","train","chocolate","last","trip","slow","wolf","pudding","birthday","quiet","winter","ball","grandchild","magic","ladybug","zoo","arm","deep","lawn mower","thunder","frying pan","half","shirt","ring","violin","low","tunnel","beak","restaurant","watch","golf","climb","wind","mall","toast","rock","swimsuit","below","night","bubble","hail","balloon","dog","line","hospital","fix","dry","seashell","smile","helicopter","cow","airplane","pilot","chair","cheerleader","paper","skirt","study","alligator","tired","picture","mom","pocket","flower","pear","pencil","laundry","nightmare","prayer","teacher","bowl","toe","nice","TV","go","gym","hoof","swing","escalator","pajamas","roof","spoon","yo-yo","uncle","full","front","yellow","butterfly","rainbow","fly","awake","candle","cloud","soap","robot","aunt","gum","sandcastle","coat","weak","glasses","grown-up","cup","purse","makeup","nurse","right","holiday","computer","wave","pants","vacation","plank","finger","dad","blanket","tusk","school bus","young","witch","plate","fire","grass","cook","stream","bed","quarter","sailboat","scientist","church","pen","drums","Monday","broom","spy","baby","window","wedding","red","bedtime","bib","wallet","school","day","lock","tiger","relax","Internet","horn","clap","dollar","mud","dishwasher","empty","dictionary","heart","farm","big","bad","turkey","hide-and-seek","bug","monster","worm","asleep","artist","candy","vet","street","rain","belt","broccoli","puppy","mop","lemon","doll","whisper","taxi","forehead","type","door","hungry","fish","frown","hot","brush","hot air balloon","television","peas","snowman","truck","star","dentist","flag","queen","trash can","stomach","lion","wrinkle","hello","swimming pool","noon","nose","sad","long","share","box","banana","spider","dance","jewelry","bottle","page","bedroom","boy","shout","lung","playground","ice","toilet paper","tree house","walk","radio","mirror","blue","journal","fog","blind","dirty","beach","water","waitress","little","play","grin","stump","boat","purple","pail","fire engine","kite","broken","shark","flashlight","chew","fire hydrant","short","scissors","above","Christmas","poem","stand","carrot","backpack","sing","grape","table","costume","elbow","spool","chicken","king","hat","help","dinner","iron","answer","eat","astronaut","scooter","crayon","town","cast","nephew","classroom","run","fact","orange","list","tractor","leg","lizard","football","markers","happy","sister","desk","library","up","athlete","fountain","hill","wagon","zero","jail","elevator","ear","touchdown","crib","river","sun","stamp","stapler","cold","game","guitar","chef","oven mitt","girl","music","cough","field trip","bike","push","bank","road","hotel","draw","ankle","diamond","motorcycle","shopping","cash","dirt","white","book","toothbrush","duck","apple","envelope","shovel","neighbor","hug","picnic","couch","tent","store","teeth","jacket","moon","fur","wheelchair","man","lullaby","tuba","new","family","microwave","antlers","ballet","green","umbrella","outer space","calculator","lime","kick","lollipop","pig","room","present","nest","earth","lunchbox","towel","actor","telephone","stick","back","scared","scarf","bridge","student","bath","fairy","notebook","basketball","roller coaster","clock","please","tornado","dump truck","lightning","dress","knee","grandpa","hurt","claw","museum","goodbye","cat","tissue","cafeteria","rose","pepper","sleep in","dream","niece","eye","tree","wall","square","nail polish","bark","down","breakfast","strong","party","old","circle","leaf","shower","fall","fast","hopscotch","volcano","blue jeans","stop","stairs","clown","head","cake","storm","prince","bald","shadow","rent","baseball","good","suitcase","recycle","talk","cousin","animal","sock","silly","video camera","shoe","frog","snow","elephant","nap","shoelace","sleep","first","mailbox","refrigerator","pillow","seek","park","unicorn","money","sick","neck","adult","jelly","brother","brake","penny","camera","owl","smell","rhyme","laugh","clean","sink","faucet","smoke","boo","body","exercise","loud","juice","fan","cave","black"];

	// OLD WORDS: 'tuba', 'singer', 'race', 'candy', 'student', 'day', 'jump', 'hurt', 'laundry', 'blue', 'sad', 'old', 'guitar', 'athlete', 'night', 'knee', 'wedding', 'bat', 'buy', 'trash can', 'freckle', 'stream', 'quiet', 'mop', 'swing', 'radio', 'square', 'Monday', 'school bus', 'poem', 'scared', 'draw', 'type', 'short', 'stairs', 'asleep', 'motorcycle', 'lunch', 'fog', 'new', 'straw', 'push', 'dirty', 'girl', 'helicopter', 'playground', 'tiger', 'tornado', 'lime', 'leg', 'salt', 'ankle', 'cake', 'shoelace', 'wheelchair', 'goodbye', 'worm', 'eyebrow', 'lion', 'pear', 'talk', 'glasses', 'shirt', 'spoon', 'box', 'wind', 'green', 'wolf', 'snow', 'couch', 'fix', 'flashlight', 'princess', 'broken', 'plate', 'neighbor', 'roller coaster', 'bridge', 'mailbox', 'flower', 'white', 'sandcastle', 'triangle', 'thunder', 'monster', 'long', 'lizard', 'coffee shop', 'music', 'fire engine', 'star', 'cook', 'tired', 'slow', 'outer space', 'brave', 'horse', 'niece', 'elephant', 'tractor', 'elevator', 'light bulb', 'broccoli', 'cough', 'heart', 'calculator', 'stick', 'cat', 'tree house', 'watermelon', 'chocolate', 'bird\'s nest', 'fast', 'hungry', 'red', 'frown', 'chew', 'pepper', 'sick', 'baby', 'door', 'banana', 'finger', 'fence', 'big', 'swimming pool', 'sun', 'church', 'yo-yo', 'boy', 'bag', 'alligator', 'mouse', 'birthday', 'winter', 'beach', 'tree', 'teacher', 'king', 'telephone', 'eye', 'water', 'jelly', 'balloon', 'toothbrush', 'pants', 'mom', 'body', 'bike', 'toilet paper', 'baseball', 'pig', 'leaf blower', 'fire', 'school', 'belt', 'pajamas', 'mud', 'ice cream cone', 'arm', 'drums', 'spider', 'shark', 'seashell', 'computer', 'grandma', 'pillow', 'kite', 'homework', 'ladybug', 'bed', 'bird', 'gum', 'book', 'dress', 'queen', 'puppy', 'happy', 'doctor', 'frog', 'blanket', 'popsicle', 'pen', 'sandwich', 'boat', 'dad', 'lunchbox', 'ice', 'bottle', 'elbow', 'penny', 'broom', 'dog', 'rose', 'picnic', 'chair', 'duck', 'hair', 'zoo', 'party', 'piano', 'key', 'apple', 'chalk', 'park', 'clock', 'pencil', 'hill', 'flag', 'lollipop', 'candle', 'flower', 'basketball', 'hug', 'clown', 'paper', 'mountain', 'nose', 'cow', 'grown-up', 'grass', 'rainbow', 'hide-and-seek', 'pocket', 'grape', 'cowboy', 'doll', 'forehead', 'football', 'crayon', 'desk', 'TV', 'bedtime', 'hopscotch', 'dump truck', 'cold', 'paint', 'ear', 'moon'

	_words[1] = [
	"blush","newspaper","prize","zipper","cancel","weather","index","between","online","order","sap","plow","year","sheet","quiz","heel","curb","chimpanzee","sofa","stationery","bandage","campsite","stairs","gumball","police officer","trailer","grill","friend","map","pleasure","telephone booth","relative","dance","snowman","cape","trumpet","hot tub","aunt","flock","cramp","territory","mute","pack","hoedown","snap","blackboard","robe","letter opener","classroom","energy","mom","submerge","calorie","soil","spy","dirt","want","astronaut","freshman","bobsled","blue whale","stem","buddy","number","bruise","senior","joyful","mast","morning","date","claw","spaceship","excuse","swamp","sideline","hose","watchtower","week","inbox","smog","healthy","ping pong","team","beach house","tar","jeep","corner","easel","bite","outer space","cello","slush","shower curtain","produce","state","railroad","yesterday","dragonfly","smoke","low","voice","firefighter","camp","spark","president","predator","doghouse","midwife","rake","skeleton","headache","double","ballpoint pen","hurdle","lamp","rancher","boa constrictor","spouse","paint","family reunion","cartographer","dawn","button","rollerblades","softball","rind","tickle","mine","movie","match","organ","goblin","tennis shoes","net","coin","whine","draw","sandpaper","wind","pond","knight","blunt","triplets","nightmare","delay","snowflake","pharmacy","fiddle","Friday","fog","voyage","foe","earache","volt","flagpole","safari","shoulder","writer","pocket","injure","face","air","sunburn","stripe","sod","mail","send","crack","lighthouse","maid","basketball","month","nitrogen","dimple","saw","seesaw","time machine","unit","curtains","ivy","acne","brass","armadillo","linen","teenager","bathroom scale","click","bait","rocket","hand","elf","rut","pawn","curious","loveseat","pinch","runt","cloud","swing","pride","dock","wrap","flute","stiff","size","app","nursery","shelf","waves","coupon","underwear","stone","ceiling fan","fence","nucleus","sidewalk","price","lake","regret","entertainer","germ","finger","ironing board","rim","letters","twilight","torch","beg","t-shirt","cartoon","shrub","neon","magnet","front porch","standing ovation","mountain biking","sailboat","baby-sitter","wound","surfboard","slam dunk","jaw","leather","windmill","nail","sleigh","crazy","judgmental","Windex","suit","insect","fad","mother","jet","bake","believe","marathon","rattle","vase","rocking chair","darts","country","tiptoe","sip","ink","skis","paperback","attic","selfish","whistle","recycle","souvenir","quill","gold","polish","observe","robot","usher","fetch","cowboy","Old Spice","quilt","meal","spread","hopscotch","snuggle","sprinkler","post office","pigpen","cheer","chess","flu","throne","oak tree","shack","sink","hornet","typhoon","log","snack","ditch","tool","scale","wrench","ribbon","gasoline","foil","monopoly","bicycle","hip","hike","succeed","spider web","robin","sponge","electricity","teammate","blink","birthday","plant","bud","mold","candlestick","waste","skull","eraser","envious","iPod","money","huddle","trousers","silver","wristwatch","skate","weed","stove","caribou","pogo stick","branch","goal","step-daughter","world","sum","home movies","magic","stage","mall","crumb","reign","riddle","rebound","chin","wick","customer service","tulip","yam","fine","operation","mop","ancestor","sun block","wallet","wilderness","printer","Pluto","think","pipe","glide","start","passport","stepmom","carbon","chauffeur","spend","seashore","war","bridge","steel","grandfather","stomp","sense","earthworm","bubble","race","harp","tooth","hook","bass","record","waist","cell","tire","saddle","toddler","factory","sunshine","tank","infant","paperclip","beach","top hat","leotard","vent","currency","check","beanstalk","pill","plane","Segway","silverware","rib","brick","x-ray","guppy","earthquake","story","puppet","coach","scar","jog","yoke","taxi","skin","sin","bib","hide-and-seek","camping","tailor","driveway","banana peel","lifeboat","batteries","forest","plastic","blue jeans","son","shopping cart","photograph","violin","sister","cage","barn","lip","clown","entrepreneur","rock","bunk bed","living room","snowboard","motel","holiday","monarch","rejoice","city","trash can","fishing pole","noise","puzzle piece","ship","skateboard","decide","lid","grandma","spring","eat","gate","veil","oil","stream","inventor","job","rug","feast","sneeze","volunteer","chain","shipwreck","leak","dew","Internet","wonder","budget","grown-up","boil","spine","word","agree","snowball","matchstick","pull","baseboards","twig","lunch tray","offer","bump","yo-yo","porch swing","brain","jungle","pea","arm","wood","forehead","bedspread","thread","pin","blossom","bonnet","lumber","figure skating","tip","visitor","career","glue stick","cab","paddle","sentence","slide","aardvark","drums","washing machine","wag","laugh","bowtie","amusement park","bubble wrap","shed","tremble","candle","wedding ring","skip","church","park","avoid","wheat","toad","plumber","experiment","metal","museum","breaststroke","desk","poster","nation","noun","stingray","Christmas carolers","dentist","water","rainbow","photographer","mountain","seashell","hotel","verse","card","ticket","funny","departure","blanket","road trip","quicksand","alarm clock","address","kiss","stoplight","yawn","dollar","basket","airport","retire","banister","squint","stapler","puzzle","music","transport","cot","bedbug","cruise","shrimp","hug","monster","aristocrat","tag",
	"crab","cashew","tuna","toffee","provisions","celery","omelet","broil","Craisins","endive","hamburger","crepe","Caesar salad","mashed potatoes","cloves","cheese","cookie cutter","dice","yam","pepperoni","knife","soy sauce","ice cube","lime","frying pan","donut","main course","chow mein","flaxseeds","wasabi","Bruscetta","chicken pot pie","frozen yogurt","cutting board","salad","dessert","grape","pineapple upside down cake","skewer","steak knife","water chestnut","chef","vanilla extract","lemon zester","pumpkin pie","glaze","ginger ale","chips and salsa","salsa","microwave dinner","tongs","cornmeal","digest","patty","bread","vegetable peeler","parmesan cheese","olive","cookie","rice pudding","linguine","muffin tin","scrambled eggs","leek","cake pan","peel","potato skins","ramekin","garlic","crunch","griddle","shrimp","capers","pressure cooker","huevos rancheros","honeydew","turnip","to poach","spatula","fudge","deep-dish pizza","Philly cheesesteak","pour","chocolate","jellybeans","pecan","ziti","noodle","vanilla pudding","egg","pickle","Neapolitan ice cream","cookbook","whip","restaurant","Gatorade","dinner","English muffin","can opener","edamame","chili pepper","brown rice","mozzarella cheese","food processor","rations","soft pretzel","cereal","strudel","gingerbread man","A1 steak sauce","pita pocket","lemon bar","frosting","watermelon","peach","take-out","jambalaya","horseradish","pizza stone","quiche","octopus","kettle corn","ratatouille","dredge","stir","pineapple","green bean casserole","gingerbread house","teaspoon","grease","knead","soda","gumbo","pumpkin","swallow","coffee","refreshments","colander","raw","falafel","ice cream cone","junk food","tater tots","popsicle","overcook","jell-o","precook","sushi","Reuben sandwich","stuffing","deviled eggs","mousse","hash browns","sun-dried tomatoes","egg beater","alfalfa sprouts","sweet potato fries","corndog","wheat bread","Boston cream pie","radish","mango","hard boil","meat","provolone cheese","sourdough","carrot","Pop Tart","to boil","toaster","Jasmine rice","nutmeg","cheese grater","yeast","peanut butter and jelly sandwich","measuring spoon","cheeseburger","sweet potato","soybean","tilapia","cayenne pepper","anchovies","cake","gingerbread","key lime pie","yogurt","Bundt cake","pork chop","cookies and cream","lemon","wooden spoon","sifter","pudding","pistachio","zest","kumquat","cornbread","enchilada","spaghetti","souffle","tapioca pudding","crisp","coffee pot","cream","prime rib","tempura","undercook","pie","deep fryer","Girl Scout cookies","clam","cottage cheese","toast","kale","low-fat","fried rice","butterscotch","pretzel","chickpea","okra","kiwi","carbohydrate","cake pops","garbanzo bean","garnish","French toast","fry","spice rack","toaster oven","onion rings","tarragon","mason jar","jelly","French onion dip","cornflakes","citrus","cucumber","chicken salad sandwich","jar opener","soak","silverware","grill","cupcake","liver","parsnip","whole milk","sweet","cake mix","curry","couscous","jalapeno","cooling rack","stomach","egg salad sandwich","shortening","spinach","stir-fry","animal crackers","unleavened","gnocchi","red wine vinegar","fruit smoothie","eggnog","sieve","pita","fish and chips","sweeten","corn on the cob","hummus","corn","sloppy joe","grinder","gravy","coconut cream pie","strawberry","salami","sweet tooth","diced green chilies","pancake","slice","calorie","chocolate shake","spring rolls","oven fry","olive oil","sour cream","season","popcorn","Canadian bacon","pan fry","tamale","lunch box","salad dressing","drain","sardines","broccoli","chopsticks","white chocolate macadamia nut","salmon","hazelnut","angel hair pasta","avocado","meatball","puree","poultry","wok","squid","apple pie","brew","rolling pin","chow","pea","granola bar","tortilla chips","ice cream","cuisine","dinner roll","fondue","vanilla wafer","pecan pie","eggplant","peanut","grilled cheese","taco","peanut butter cookies","plum","oven mitt","chicken","drive-through","hot fudge sundae","Tupperware","egg timer","popcorn shrimp","sugar","lard","sponge cake","knife set","potato","croissant","garlic press","clam chowder","waffle cone","Brussels sprouts","venison","funnel","tortilla","sea salt","snickerdoodle","breakfast","rice cooker","oatmeal raisin cookie","salad wrap","spam","quinoa","halibut","marinade","oven","raisin","cheesecake","tea","Kool-aid","kettle","buffalo wings","mash","apple","cauliflower","American cheese","produce","long grain","creme brulee","saltine crackers","pork","ice cream scoop","caramel apple","lobster","flambe","juicer machine","cabbage","artichoke","fortune cookie","scoop","zester","julienne","potato salad","red velvet cake","cinnamon","grits","waffle","whisk","date","cherry","hot dog","almonds","pasta","drink","tomato soup","caramelize","shish kebab","paella","roast","apple sauce","yolk","chickpeas","fritter","broth","marshmallow","food pyramid","chicken nuggets","meatloaf","chew","potato chips","gyro","mushroom","succotash","herbs","chicken fried steak","coconut","sunny-side up","ice cream sandwich","sesame seeds","white bread","angel food cake","maple syrup","pumpernickel","cranberry","chocolate cake","lunchmeat","chives","onion","soup de jour","fried chicken","saute","sunflower seeds","boiled egg","pot stickers","sugar cookie","scone","tomato","refrigerate","chicken tenders","deep-fry","rye","burrito","pinto beans","SpaghettiOs","parboil","allspice","apricot","trail mix","lima bean","drizzle","fork","ginger","sift","measure","pulp","pizza","salt shaker","burn","bouillon cube","casserole","fruit salad","chicken noodle soup","dough","chocolate chip cookie","Clementine","ribs","nachos","walnut","food coloring","pear","lasagna","hot sauce","fajita","Twinkies","apple cider","punch","tangerine","almond milk","croutons","churro","green onion","mixing bowl","hungry","meringue","dairy","carrot cake","chocolate milk","Dutch oven","strain","mayonnaise","preheat","wedding cake","potatoes au gratin","bread bowl","sparkling water","green bean","flatbread","to melt","ladle","orange","macaroon","chocolate covered strawberries","tablespoon","brisket","stove","squash","caramel","coffee maker","saffron","smoothie","crackers","papaya","sirloin","spork","granola","braise","lentil","Swiss cheese","caviar","to blanch","order","guacamole","whipped cream","slow cooker","gourd","honey","milk","sauce pan","lettuce","sprinkles","thin crust pizza","french fries","orange chicken","egg rolls","fillet","rotini","grapefruit","pizza rolls","toss","debone","milkshake","relish","cinnamon roll","kidney beans","pepperoni pizza","custard","graham cracker","blueberry","vitamin","sandwich","asparagus","cooking oil","bok choy","BLT","summer squash","ranch dressing","carne asada","taste","napkin","candy","refried beans","microwave","marinate","waffle iron","oatmeal","roll","cookie sheet","mandolin","jam","lobster bisque","stew","zucchini","eclair","mozzarella sticks","alphabet soup","lunch","char-broil","string cheese","cherry pie","ketchup","bran muffin","tuna salad","turkey","brownie","chimichanga","to broil","fig","feta cheese","fruitcake","sherbet","skim milk","cheddar cheese","flour","freeze","to bake","salad bowl","mustard","arugula","nutritious","tofu","corn flakes","apple juice","savory","cantaloupe","coaster","spinach and artichoke dip","chocolate chip","ham","rice","muffin","rice krispie treats","thicken","raspberry","macaroni and cheese","pomegranate","peanut butter","Cheerios","soft boil","chop","sopapilla","veggie burger","soy milk","turkey bacon","lamb","dumplings","s'mores","kebab","mouth","whey","scramble","teriyaki","simmer","grate","tenderize","salt","pastry","pizza cutter",
	"gluttonous","optimistic","hurt","remorseful","ambivalent","explorative","cranky","throttled","worried","uncertain","lost","manipulative","doubtful","delighted","disgust","possessive","tender","awed","regretful","proud","frazzled","lethargic","ashamed","dismal","ardent","charming","disenchanted","balanced","thoughtful","helpless","thankful","clever","stimulated","happy","sorrow","bewildered","stewing","weary","forlorn","rage","uneasy","tranquil","surprised","slighted","frustrated","axed","argumentative","compulsive","free","ill","can't wait","energetic","flustered","snobbish","revolted","hysterical","puzzled","thoughtless","uncomfortable","evasive","playful","aversion","aggressive","clumsy","deprived","obedient","adventurous","intuitive","friendly","creative","inadequate","inconsolable","superior","provoked","petrified","yearning","haughty","fidgety","aware","sullen","aloof","hatred","nostalgic","drained","cruel","hunger","bored","lively","reserved","mellow","misunderstood","driven","hostility","dull","torn","decisive","nausea","fascinated","joyous","disillusioned","unnerved","invincible","tireless","well-being","gloating","zealous","perplexed","tolerant","apathetic","icy","unloved","troubled","discombobulated","superstitious","disgusted","brooding","receptive","glad","pushy","smothered","deserted","exhilaration","futile","panicky","obnoxious","simmering","numb","pity","resolved","disturbed","thrilled","dizzy","competent","spiteful","healthy","obsessed","lazy","foreboding","marvelous","blue","inspired","nervous","sleepy","stoic","unsettled","serene","wounded","rapturous","gloomy","anguished","conceited","wicked","lascivious","flexible","restored","opinionated","light","rested","envy","spoiled","doomed","involved","devious","distrust","courageous","reckless","relieved","angry","directionless","abandoned","pining","relaxed","sorry","purposeful","holier than thou","anticipation","burnt out","expectant","cold","arrogant","calm","dominated","dynamic","sore","pious","vague","wanton","confident","frenzy","renewed","beautiful","overbearing","awareness","trapped","vulnerable","faithful","enraged","fatigued","detached","sharp","gentle","resourceful","beat","alarmed","threatened","embracing","eternal","unwanted","skeptical","joyful","hesitant","defensive","devastated","pleased","petulant","leery","terrific","animated","agreeable","tormented","baffled","jittery","pain","lonely","contempt","distressed","condemned","daring","hate","distracted","unappreciated","despair","paranoid","uptight","interested","boastful","indifferent","failure","doubt","grievous","awful","confused","humbled","depleted","rejected","hilarious","discouraged","repulsed","still","tense","unfeeling","turbulent","fulfilled","openhearted","glowing","dogmatic","secure","alive","deceived","initiative","voracious","radiant","humiliated","seething","frantic","restless","dazed","uncompromising","stuck-up","apprehensive","craving","merciless","harassed","edgy","jealous","outraged","violent","cheated","critical","mournful","controlled","heavy hearted","greedy","longing","punctual","perturbed","callous","appalled","dejected","elated","vivacious","engrossed","offended","irritable","hostile","hypocritical","grief","clammy","agony","determined","judgmental","depressed","reluctant","crushed","self-sufficient","irrational","heartbroken","nice","assured","rude","spontaneous","jolly","willful","used","remorse","distraught","withdrawn","amazed","afraid","secretive","stagnant","rigid","perfect","strong","sorrowful","invigorated","alert","nasty","disappointed","resilient","dislike","enthralled","dread","forgetful","aggravated","belligerent","warm","miserly","centered","enlivened","coerced","demanding","neglected","exasperated","ignored","bad","scary","visionary","supportive","enchanting","gratified","volcanic","open","nutty","fine","whole","resistant","miserable","rebellious","exhilarated","deflated","vigorous","terrified","lovely","defeated","honorable","boundless","panic","peaceful","unhappy","tickled","splendid","evil","shaky","fuming","fortunate","giving","stage fright","alienated","appreciated","harmony","desolate","fierce","paralyzed","absorbed","responsive","unsure","mysterious","savage","ridiculed","bothered","empty","unfocused","disorganized","pitiful","glorious","encouraging","heartache","regret","harsh","fragile","mourning","appreciative","energized","awkward","caustic","undecided","nonresistant","constricted","disconcerted","guilty","foggy","encouraged","isolated","righteous","helpful","disconnected","closed","willing","destructive","enchanted","amused","murderous","abrasive","homeless","insecure","removed","refreshed","intrigued","rejuvenated","horrified","disgruntled","sad","frightened","terrible","compassionate","startled","satisfied","witty","overwhelmed","pure","worthless","touched","zany","presumptuous","guarded","belonging","abused","silly","overindulgent","timid","funny","smoldering","displeased","cooperative","wary","gracious","hopeful","smug","irate","content","shocked","inhibited","empathy","sensitive","discarded","disheartened","complete","distant","testy","grateful","unyielding","intimidated","compassion","livid","contemptuous","upset","harmonious","melancholy","dismayed","worry","indignant","vicious","empowered","dangerous","combative","resentful","childlike","exploited","disgraced","panicked","sizzling","jubilant","patronized","disquiet","envious","despised","shy","demoralized","motivated","focused","cool","worn out","irritated","negative","anxious","powerless","cheerful","spellbound","smiling","self-conscious","concerned","uplifted","stern","positive","fantastic","self absorbed","equanimity","vindictive","explosive","nostalgia","betrayed","ruthless","humor","selfish","prejudiced","curious","stressed out","foolish","successful","suspicious","hateful","disdain","annoyed","peeved","rattled","mortified","exhausted","ecstatic","shaken","self satisfied","admired","crazy","narrow-minded","tired","justified","scared","complacent","engaged","indecisive","furious","fair","itchy","hoarding","unforgiving","mean","enriched","clearheaded","impatient","excited","blissful","enthusiastic","hungry","cautious","resentment","incensed","entranced","sympathetic","giddy","turmoil","abundance","outrageous","naturalness","wistful","respected","defiant","oblivious","certain","moved","dazzled","embarrassed","stifled","humorless","forgotten","loving","fixated","pleasant","mystified","perfection","delightful","irked","loved","eager","grieving","quiet","mistrustful","vibrant","considerate","tearful","creepy","safe","lucky","agitated","wretched","chagrined","grumpy","good","revived","exuberant","burdened","affectionate","kind","vain","animosity","passionate","listless","desperate","wonderful","naughty","victorious","brave","mad","hopeless","repulsive","valued","stubborn","vengeful","steely","trusting","perspective","patronizing","resigned","bereaved","magnanimous","independent","integrity","fearful","understanding","stunned","flattered","despondent","left out","comfortable","wonder","scheming","degraded",
	"binoculars","GPS","red-eye","camping","backpack","overnight bag","passport","hang glider","tent","family reunion","honeymoon","campground","museum","road trip","walk","sunburn","time zone","weekend","time off","tropics","sack","bug spray","voyage","arrival","ship","waterfall","Visa","stand-by","south","tip","getaway","backpacking","explore","drive","train","video","embark","ski lodge","mountain biking","weather map","relax","safari","motel","guide","packing","seashore","resort","city","excursion","vacation","port","layover","scenery","globe","miles","nation","trip","water park","bicycle","hotel","room","destination","subway","rest","national park","river rafting","mountains","say \"cheese\"","translate","flight","unpack","equator","highway","lodge","departure","hiking","suntan","zoo","surfboard","camera","room service","scuba diving","tourist trap","bus","downtime","ticket","schedule","photograph","travel agent","tourist","tour","sightseeing","taxi","hemisphere","skiing","cruise","inn","umbrella","sunscreen","east","airport security","itinerary","lake","ferry","latitude","Are we there yet?","first class","island","amusement park","keepsake","outdoors","atlas","trail","baggage","hostel","sea","leisure","currency","theme park","leave","north","fanny pack","coast","sunglasses","shopping","map","yacht","suitcase","tram","sail","longitude","west","takeoff","swimming pool","foreigner","luggage","cash","holiday","swimsuit","cab","beach house","altitude","river","landing","kayak","summer","delay","journey","land","souvenir","sleeping bag","state park","credit card","postcard","reservation","fly","carry-on","beach","tour guide","cabin","customs",
	"livestock","pint","value","tinting","reason","eternity","reggae","picture frame","cure","fluctuate","yardstick","scanner","fireman pole","step-daughter","bonnet","household","brainstorm","ballpoint pen","admit","wish","police officer","reimbursement","stipulate","fort","wreath","scythe","whiplash","piracy","tween","leak","dress shirt","way","shock collar","viscosity","zephyr","humidifier","zeppelin","crow's nest","highjack","billboard","my","snow shoe","motion","jog","spoonful","scar tissue","garden hose","tide","fizz","underestimate","gang","phonemics","mast","sod","lethargic","cot","blueprint","cardboard","application","environment","shrub","buddy","cell phone charger","inn","lend","sling","Murphy's Law","stitch","game clock","image","BFF","turnpike","dent","anaconda","sequins","keepsake","zigzag","gem","life","plug","kitchen knife set","clay","jug","sunflower","smoldering","phishing","singe","dud","snort","bedbug","gray hairs","reiterate","flannel","sandbox","train station","peck","ditch","sheriff","Galapagos tortoise","hatch","bob","observation","rag","beehive","cuff","wren","thrill","terrify","divine","purge","cautious","service","position","number","throb","ginger","cabin","falsetto","concierge","currency","spoil","new","end","hut","voice","multiplication","race","resident","brad","theorize","pixel","brand","suggestion","plaid","cuticle","freight train","parcel","spectator","snobbish","wail","tendency","result","inspect","income","afford","cloak","collage","jockey","shrink ray","battle","range","jade","Olympian","wow","insist","someone","impact","guile","bluebird","population","radiation","houseboat","statistics","brass","cliff","blur","confused","crop","event horizon","demo","feudalism","group","shear","sow's ear","swirl","carabineer","welder","lecture","scenery","publisher","skating rink","catering","sum","Snuggie","traffic jam","major league","premolar","riddle","Zen","request","highway","teleconference","squeegee","state fair","first mate","whole milk","ebony and ivory","opponent","others","juggler","station","nutrient","club","exhort","crate","spade","sash","scuff mark","mess","porter","booth","blimp","tunic","suspend","screenplay","clockwork","lollipop","doom","standard","journey","safe","rhetoric","punk","glum","light-year","shriek","agenda","intern","jig","oak tree","perk","moped","fabric","dawn","chicken coop","speakers","sale","goblin","banana peel","outlet mall","blunt","view","parkour","genetics","organ","blossom","sympathize","altitude","forever","maze","bellhop","through","firefighter","outer space","fringe","minister","fortnight","spool","diver","standing ovation","scramble","baron","beanstalk","spite","degree","gusto","ogre","raft","second cousin","plank","airway","zinc","tap dance","hem","process","monkey wrench","leaf-cutter ant","sentence","toboggan","stockbroker","irritated","pinch","wax museum","free throw","sabotage","scrap","itinerary","romance","glide","self","deployed","superpower","meticulous","feast","midsummer","skim milk","mascot","tine","use","darts","scalawag","retina","advertising","chime","substance","path","cause","vise","pomp","quantum mechanics","ladder rung","laundry basket","campsite","sunglasses","dot","jury","nanny","porch swing","waver","help","research","structure","whirl","abrasive","simmer","flu","smidgen","mortician","hearty","quality control","kiosk","pile","theory","foster child","elm","sports car","purpose","jammin'","jazz","fancy","scoundrel","snag","cog","indent","tilt","sip","urgent","hardhearted","dust bunny","capitalism","echidna","replace","twitterpated","thing","bucket","tugboat","potassium","actuary","dimple","coal","Christmas carolers","snowplow","whatever","program","payment","coast","password","modern","incident","leisure","escalator","rendering","audacity","think","scurvy","ophthalmologist","wool","vessel","calcium","speculate","selection","musician","typeface","sabbatical","tiptop","turbine","bay","example","flush","applause","space shuttle","hole in one","handwriting","metric system","radiator","station wagon","cupola","bleach","inconceivable","shipwreck","fiddle","serve","person","haiku","suntan","crime","half","laminate","squint","immune","capybara","amateur","rut","fourth down","thoughtless","variable","hedge","pine tree","tip","overhang","runt","breakdance","fear","hemisphere","full moon","chain","puzzle piece","snowstorm"];

	// OLD WORDS: 'taxi cab', 'standing ovation', 'alarm clock', 'tool', 'banana peel', 'flagpole', 'money', 'wallet', 'ballpoint pen', 'sunburn', 'wedding ring', 'spy', 'baby-sitter', 'aunt', 'acne', 'bib', 'puzzle piece', 'pawn', 'astronaut', 'tennis shoes', 'blue jeans', 'twig', 'outer space', 'banister', 'batteries', 'doghouse', 'campsite', 'plumber', 'bedbug', 'throne', 'tiptoe', 'log', 'mute', 'pogo stick', 'stoplight', 'ceiling fan', 'bedspread', 'bite', 'stove', 'windmill', 'nightmare', 'stripe', 'spring', 'wristwatch', 'eat', 'matchstick', 'gumball', 'bobsled', 'bonnet', 'flock', 'sprinkler', 'living room', 'laugh', 'snuggle', 'sneeze', 'bud', 'elf', 'headache', 'slam dunk', 'Internet', 'saddle', 'ironing board', 'bathroom scale', 'kiss', 'shopping cart', 'shipwreck', 'funny', 'glide', 'lamp', 'candlestick', 'grandfather', 'rocket', 'home movies', 'seesaw', 'rollerblades', 'smog', 'grill', 'goblin', 'coach', 'claw', 'cloud', 'shelf', 'recycle', 'glue stick', 'Christmas carolers', 'front porch', 'earache', 'robot', 'foil', 'rib', 'robe', 'crumb', 'paperback', 'hurdle', 'rattle', 'fetch', 'date', 'iPod', 'dance', 'cello', 'flute', 'dock', 'prize', 'dollar', 'puppet', 'brass', 'firefighter', 'huddle', 'easel', 'pigpen', 'bunk bed', 'bowtie', 'fiddle', 'dentist', 'baseboards', 'letter opener', 'photographer', 'magic', 'Old Spice', 'monster', 'whatever', 'buddy', 'sip', 'chicken coop', 'blur', 'chime', 'bleach', 'clay', 'blossom', 'cog', 'twitterpated', 'wish', 'through', 'feudalism', 'whiplash', 'cot', 'blueprint', 'beanstalk', 'think', 'cardboard', 'darts', 'inn', 'Zen', 'crow\'s nest', 'BFF', 'sheriff', 'tiptop', 'dot', 'bob', 'garden hose', 'blimp', 'dress shirt', 'reimbursement', 'capitalism', 'step-daughter', 'applause', 'jig', 'jade', 'blunt', 'application', 'rag', 'squint', 'intern', 'sow\'s ear', 'brainstorm', 'sling', 'half', 'pinch', 'leak', 'skating rink', 'jog', 'jammin\'', 'shrink ray', 'dent', 'scoundrel', 'escalator', 'cell phone charger', 'kitchen knife set', 'sequins', 'ladder rung', 'flu', 'scuff mark', 'mast', 'sash', 'modern', 'ginger', 'clockwork', 'mess', 'mascot', 'runt', 'chain', 'scar tissue', 'suntan', 'pomp', 'scramble', 'sentence', 'first mate', 'cuff', 'cuticle', 'fortnight', 'riddle', 'spool', 'full moon', 'forever', 'rut', 'hem', 'new', 'freight train', 'diver', 'fringe', 'humidifier', 'handwriting', 'dawn', 'dimple', 'gray hairs', 'hedge', 'plank', 'race', 'publisher', 'fizz', 'gem', 'ditch', 'wool', 'plaid', 'fancy', 'ebony and ivory', 'feast', 'Murphy\'s Law', 'billboard', 'flush', 'inconceivable', 'tide', 'midsummer', 'population', 'my', 'elm', 'organ', 'flannel', 'hatch', 'booth','Aristotle', 'Tom Hanks', 'Walt Disney', 'Carrie Fisher', 'Galileo', 'Mr. Rogers', 'Leonardo DiCaprio', 'Abraham Lincoln', 'Paul McCartney', 'Michael Phelps', 'Plato', 'Lewis and Clark', 'Johnny Depp', 'Leonardo Da Vinci', 'Beethoven', 'King George', 'Tiger Woods', 'Benjamin Franklin', 'Mother Teresa', 'Michael J. Fox', 'Bill Gates', 'Albert Einstein', 'Victor Hugo', 'Justin Bieber', 'the Wright Brothers', 'Bill Clinton', 'Bruce Willis', 'John Williams', 'the Beatles', 'Eddie Murphy', 'Steve Jobs', 'Harrison Ford', 'Shakespeare', 'Rembrandt', 'George Lucas', 'Christopher Columbus', 'Buzz Aldrin', 'Brad Pitt', 'David Beckham', 'C. S. Lewis', 'Rosa Parks', 'Egypt', 'skiing', 'the Bahamas', 'luggage', 'Europe', 'beach house', 'packing', 'camping', 'rainforest', 'Colorado river', 'airport', 'summer', 'Canada', 'sunscreen', 'Disneyland', 'passport', 'Arizona', 'Aruba', 'sightseeing', 'resort', 'water park', 'customs', 'America', 'Africa', 'tourist', 'island', 'lake', 'sunny weather', 'airport security', 'cruise ship', 'Mexico', 'sleeping bag', 'hotel', 'mountain biking', 'Paris', 'road trip', 'Bermuda', 'Jamaica', 'Spain', 'snowboarding', 'Say "cheese"', 'map', 'trains', 'Alaska', 'camera', 'theme park', 'national park', 'tour guide', 'relax', 'Delaware', 'airplane', 'bug spray', 'scenery', 'layover', 'Are we there yet?', 'fanny pack', 'river rafting', 'beach ball', 'kayak', 'movies', 'hiking', 'stroll', 'surfboard', 'time off', 'swimming pool', 'bird watching', 'Broadway', 'Universal Studios', 'binoculars', 'shopping', 'Rome', 'Maine', 'bicycle', 'snow cone', 'vacation day', 'boardwalk', 'Six Flags', 'airline', 'lazy river', 'Florida', 'Texas', 'South Dakota', 'Istanbul', 'the Grand Canyon', 'June', 'holiday', 'safari', 'Las Vegas', 'suitcase', 'Turkey', 'hang glider', 'first class', 'condo', 'honeymoon', 'scuba diving', 'China', 'Africa', 'Italy', 'Hawaii', 'family reunion', 'Scottland', 'London', 'Four Corners', 'backpacking', 'Ireland', 'California', 'Switzerland', 'July', 'Tokyo', 'Mount Rushmore', 'coral reef', 'summer', 'France', 'Athens', 'Vienna', 'England', 'Washington D.C.', 'money belt', 'Los Angeles', 'Boston', 'party'

	var BATCH = 20;

	var _tick = null;
	var _time = 0;
	var _command = "";
	var _current = 0;
	var _score = null;
	var _wordsToGuess = [];
	var _wordIndex = [0, 0];
	var _mostRecentWord = null;

	zeroScore();

	function zeroScore()
	{
		_score = [];
		for(var p in players) {
			_score[players[p].team] = 0;
		}
	}

	function sendCommands()
	{
		var payload = {
			command: _command,
			current: _current,
			score: _score,
			wordsToGuess: _wordsToGuess
		}
		$.post(
			"/wordgame/commands",
			payload,
			function(data) {
				document.getElementById('lastSent').innerHTML = new Date().toLocaleTimeString();
			},
			"json");
	}

	function newGame()
	{
		_command = "ready";
		_current = 0;
		zeroScore();
		document.getElementById('nextButton').innerHTML = "switch to "+players[(_current+1)%players.length].name;
		sendCommands();
	}

	function start()
	{
		_command = "play";
		var bank = players[_current].wordBank;
		_wordsToGuess = [];
		for(var i=0; i<BATCH; ++i) {
			_wordsToGuess[i] = _words[bank][(_wordIndex[bank]+i) % _words[bank].length];
		}
		_mostRecentWord = _words[bank][_wordIndex[bank]];
		document.getElementById('pastWords').innerHTML = '';
		document.getElementById('cheat').innerHTML = (players[_current].showWords==true) ? _mostRecentWord : '';
		_wordIndex[bank] = (_wordIndex[bank]+1) % _words[bank].length;
		sendCommands();
		_time = 60;
		_tick = setInterval(tick, 1000);
	}

	function tick()
	{
		--_time;
		document.getElementById('startButton').innerHTML = _time;
		if(_time<=0) {
			document.getElementById('horn_sound').play();
			clearInterval(_tick);
			_command = "timesup";
			document.getElementById('startButton').innerHTML = "start";
			sendCommands();
		}
	}

	function nextWord(scored)
	{
		document.getElementById('pastWords').innerHTML = document.getElementById('pastWords').innerHTML + '<br><span style="color:#' + (scored ? '009900' : '990000') + '">' + _mostRecentWord + '</span>';
		if(scored) {
			++_score[players[_current].team];
		}
		var bank = players[_current].wordBank;
		_mostRecentWord = _words[bank][_wordIndex[bank]];
		document.getElementById('cheat').innerHTML = (players[_current].showWords==true) ? _mostRecentWord : '';
		_wordIndex[bank] = (_wordIndex[bank]+1) % _words[bank].length;
		sendCommands();
	}

	function nextPlayer()
	{
		_command = "ready";
		_current = (_current+1)%players.length;
		sendCommands();
		document.getElementById('nextButton').innerHTML = "switch to "+players[(_current+1)%players.length].name;
	}

</script>

<hr>
<% if(@player=="Lukasz") %>
<button onclick="newGame()" style="background-color:#ffcccc">restart game</button><br>
<button onclick="start()" id="startButton">start</button>
<button onclick="_time += 30">+ 30s</button>
<br>
<button onclick="nextWord(true)">score!</button>
<button onclick="nextWord(false)">skip</button>
<br>
<button onclick="nextPlayer()" id="nextButton">switch</button>
<br>

Last command sent <span id="lastSent">n/a</span>.<br>
<b>Words processed</b>:<span id="pastWords"></span>

<script>
	$.get(
		"/wordgame/commands/list",
		function(data) {		
			_current = parseInt(data['current']);
			_command = data['command'];
			_score = data['score'];
			_wordsToGuess = data['wordsToGuess'];
			document.getElementById('nextButton').innerHTML = "switch to "+players[(_current+1)%players.length].name;
		},
		"json");
</script>

<% end %>

</body>
<html>