body {
  background: #111111;
}
#new {
  position: absolute;
  left: 960px;
  top: 470px;
}
#map {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#main {
  width: 1193px;
  height: 600px;
  background: #ffffff;
  margin: 80px auto;
  box-shadow: 10px 10px 10px #333333;
  z-index: 0;
  position: relative;
}
#back {
  position: absolute;
}
#text {
  position: absolute;
  width: 360px;
  left: 780px;
  top: 550px;
  font-family: georgia, 'times new roman', times, serif;
  font-weight: bold;
  color: #bbbbbb;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #773333;
}
a:hover {
  color: #995555;
}
#buildings {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
}
#bodies {
  position: absolute;
  left: 0px;
  top: 376px;
  z-index: 5;
}
#her-head {
  position: absolute;
  left: 50px;
  top: 150px;
  -webkit-transform-origin:50% 57%;
  -moz-transform-origin:50% 57%;
  z-index: 4;
}
#his-head {
  position: absolute;
  left: 200px;
  top: 130px;
  -webkit-transform-origin:50% 100%;
  -moz-transform-origin:50% 100%;
  z-index: 3;
}
#her-rope {
  position: absolute;
  left: 125px;
  top: 285px;
  z-index: 2;
}
#his-rope {
  position: absolute;
  left: 180px;
  top: 270px;
  z-index: 1;
}
#info {
  position: absolute;
  left: 430px;
  top: 475px;
}
#mute {
  position: absolute;
  left: 1155px;
  top: 620px;
}
#hint {
  position: absolute;
  left: 580px;
  top: 102px;
}
.hint {
  position: absolute;
  display: none;
  left: 47px;
  top: 198px;
}
.info {
  position: absolute;
  display: none;
  padding: 20px;
  font-family: georgia, 'times new roman', times, serif;
}
#grimace {
  width: 220px;
  height: 156px;
  overflow: hidden;
}
#grimacePicture {
  position: relative;
  left: 20px;
  top: 150px;
}
#frontWindow {
  position: absolute;
  left: 440px;
  top: 100px;
  width: 300px;
  height: 398px;
  display: none;
  z-index: 30;
  background: url(window.png);
}
#frontCanvas {
  position: absolute;
  left: 300px;
  top: 80px;
  width: 580px;
  height: 420px;
  display: none;
  z-index: 30;
  background: #ffffff;
  border: 1px solid #333333;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #333333;
}
