<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome to kaavio</title>
  <meta name="description" content="">
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style>
    body {background:#000000; width:100%; margin-left:auto; margin-right:auto; text-align:center; font-family:tahoma; color:#999999;}
    a {text-decoration:none; color:#7777cc; font-weight:bold;}
    a:hover {text-decoration:none; color:#aaaaee; font-weight:bold;}
  </style>
</head>
<body>

<br><br><br><br><br><br>
<div><iframe width="560" height="315" src="http://www.youtube.com/embed/gHw76pf5r-A" frameborder="0" allowfullscreen></iframe><br><br></div>
<div>Contact us at <a href="mailto:kaavio@outlook.com">kaavio@outlook.com</a></div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40646730-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
