<html>
<head>
  <title>l o v e  &  m a t h ematics</title>
  <link href="main.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28731271-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </head>
<body onclick="clearPopup()">
  <map name="buildingmap">
    <area shape="rect" coords="595,179,608,204" href="javascript:peek(0)" alt="Peek!" />
    <area shape="rect" coords="689,228,701,253" href="javascript:peek(1)" alt="Peek!" />
    <area shape="rect" coords="455,211,470,238" href="javascript:peek(2)" alt="Peek!" />
    <area shape="rect" coords="648,230,661,254" href="javascript:peek(3)" alt="Peek!" />
    <area shape="rect" coords="519,126,533,148" href="javascript:peek(4)" alt="Peek!" />
    <area shape="rect" coords="777,319,788,340" href="javascript:peek(5)" alt="Peek!" />
    <area shape="rect" coords="423,319,433,338" href="javascript:peek(6)" alt="Peek!" />
    <area shape="rect" coords="35,71,48,95" href="javascript:peek(7)" alt="Peek!" />
    </map>
  <div id="main"> 
    <div id="back">
      <img id="buildings" src="buildings.png" usemap="#buildingmap">
      <img id="bodies" src="bodies.png">
      <img id="her-head" src="her-head.png">
      <img id="his-head" src="his-head.png">
      <img id="her-rope" src="her-rope.png">
      <img id="his-rope" src="his-rope.png">
      <img id="info" src="header.png">
      <img id="hint" src="hint.png">
      <!--<img id="new" src="exclamation.png">-->
      <div id="text">
        <a href="javascript:info(0)">out of town guests</a> &nbsp; | &nbsp; 
        <a href="javascript:info(1)">registry</a> &nbsp; | &nbsp; 
        <a href="javascript:info(2)">the big day</a> 
      </div>
    </div>
    <div id="frontWindow">
      <div id="hint0" class="hint">
        <video width="210" id="video">
          <source src="whichway.mp4" type="video/mp4" />
          <source src="whichway.webm" type="video/webm" />
        </video>
      </div>
      <div id="hint1" class="hint">
        <div id="grimace">
          <img id="grimacePicture" src="grimace.png">
        </div>
      </div>
      <div id="hint2" class="hint">
        <img src="spinning.png">
      </div>
      <div id="hint3" class="hint">
        <img src="lukandwoj.jpg">
      </div>
      <div id="hint4" class="hint">
        <img src="bwaterboys.jpg">
      </div>
      <div id="hint5" class="hint">
        <img src="turkey.jpg">
      </div>
      <div id="hint6" class="hint">
        <img src="spain.jpg">
      </div>
      <div id="hint7" class="hint">
        <img src="dino.png">
      </div>
    </div>
    <div id="frontCanvas">
      <div id="info0" class="info">
        We have a special rate
        for the <a target="_blank" href="https://www.acehotel.com/newyork">Ace Hotel</a>
        located at <a target="_blank" href="http://maps.google.com/maps/place?q=ace+hotel&hl=en&cid=5583638353492368636">20 West 29th Street</a> (Between Broadway and 5th Avenue).
        To book a room, call 212.679.2222 and mention the Bernstein+Strozek Wedding.<br><br>
        <div align="center">
          <img src="acehotel.png">
        </div>
        <br>
        For booking travel, we recommend <a target="_blank" href="http://hipmunk.com">hipmunk</a>.
      </div>
      <div id="info1" class="info">
        To help us relax and celebrate an exciting adventure ahead, we've planned an amazing trip to Moorea and Bora Bora.  It will be the first experience in a lifetime of shared memories!<br>
        <br>        
        While the best gift we could ask for is your presence at our wedding, if you've got an itch to buy us a present, feel free to contribute to any part of the trip, from a chance to pet the sharks (Valerie doesn't know yet...) to a stay in an overwater bungalow on one of the most beautiful islands in the world.<br>
        <br>
        With your help, we'll be able to make our wishes come true and we'll have all of you to thank for our travels!<br>
        <br>
        <a target="_blank" href="http://www.honeyfund.com/wedding/valerieandlukasz">http://www.honeyfund.com/wedding/valerieandlukasz</a><br>
        <br>
        If you'd like to contribute, but in a different way, please feel free to do so.
      </div>
      <div id="info2" class="info">
        The wedding will take place at Park Studios, located at <b>34th Street and 10th Avenue</b> in Manhattan (<a target="_blank" href="http://g.co/maps/axuv4">google maps</a>), easily accessible from the West Side Highway (turn onto 34th Street). There are two public parking lots located just steps away from Park Studios.<br><br>
        <a target="_blank" href="http://g.co/maps/axuv4"><img id="map" src="map.png"></a><br>
        The festivities start at 6:30pm. The dress code is semi-formal.
      </div>
    </div>
    <div id="mute">
      <audio autoplay="autoplay" id="audio">
        <source src="youngfolks.mp3" type="audio/mpeg" />
        <source src="youngfolks.ogg" type="audio/ogg" />
      </audio>
      <a href="javascript:mute()"><img src="mute.png"></a>
    </div>
  </div>
  <script language="javascript">
    var t = 0;
    var hint = null;
    var maxHint = -1;
    var grimaceT = 0;
    var grimaceAnimate = false;
    var currentInfo = null;

    function bob()
    {
      if(grimaceAnimate)
      {
        var y = 150-Math.sin(grimaceT/60)*120;
        if(grimaceT > 93) {y = 30;}
        if(grimaceT < 0) {y = 150;}
        document.getElementById('grimacePicture').style.top = y;
        ++grimaceT;
        return;
      }
      if(hint!==null || currentInfo!==null)
      {
        return;
      }
      var deg = Math.sin(t/20)*10;
      var x = 0;
      var y = 0;
      var his = document.getElementById('his-head');
      his.style.webkitTransform = 'rotate('+deg+'deg)';
      his.style.MozTransform = 'rotate('+deg+'deg)';
      var t2 = t+42;
      deg = Math.sin(t2/20)*10;
      var her = document.getElementById('her-head');
      her.style.webkitTransform = 'rotate('+deg+'deg)';
      her.style.MozTransform = 'rotate('+deg+'deg)';
      ++t;
      document.getElementById('hint').style.opacity = Math.sin(t/20)*0.5+0.5;
      //document.getElementById('new').style.opacity = Math.sin(t/20+2)*0.5+0.5;
    }
    
    function peek(id)
    {
      document.getElementById('frontWindow').style.display = 'block';
      document.getElementById('back').style.opacity = 0.3;
      document.getElementById('hint'+id).style.display = 'block';
      hint = id;
      if(id==0)
      {
        document.getElementById('video').currentTime = 0;
        document.getElementById('video').play();
        document.getElementById('video').addEventListener('ended', clearPopup, false);
      }
      if(id==1)
      {
        grimaceT = -20;
        grimaceAnimate = true;
      }
      // ADD MORE HERE: HINT SETUP
    }
    
    function info(id)
    {
      document.getElementById('frontCanvas').style.display = 'block';
      document.getElementById('back').style.opacity = 0.3;
      document.getElementById('info'+id).style.display = 'block';
      currentInfo = id;
    }
    
    function clearPopup()
    {
      if(currentInfo!=null)
      {
        document.getElementById('frontCanvas').style.display = 'none';
        document.getElementById('info'+currentInfo).style.display = 'none';
        document.getElementById('back').style.opacity = 1.0;
        currentInfo = null;
        return;
      }
      if(hint==null) return;

      if(hint>maxHint)
      {
        maxHint = hint;
        var d = document.getElementById('hint');
        if(hint==0) {d.style.left = "675px"; d.style.top = "150px";}
        if(hint==1) {d.style.left = "442px"; d.style.top = "134px";}
        if(hint==2) {d.style.left = "634px"; d.style.top = "154px";}
        if(hint==3) {d.style.left = "505px"; d.style.top = "50px";}
        if(hint==4) {d.style.left = "763px"; d.style.top = "243px";}
        if(hint==5) {d.style.left = "409px"; d.style.top = "243px";}
        if(hint==6) {d.style.left = "21px"; d.style.top = "-5px";}
        if(hint==7) {d.style.display = "none";}
      }
      if(hint==0)
      {
        document.getElementById('video').pause();
      }
      if(hint==1)
      {
        grimaceAnimate = false;
        document.getElementById('grimacePicture').style.top = "150px";
      }
      // ADD MORE HERE: HINT CLEANUP
      document.getElementById('hint'+hint).style.display = 'none';
      document.getElementById('frontWindow').style.display = 'none';
      document.getElementById('back').style.opacity = 1.0;
      hint = null;
    }
    
    function mute()
    {
      document.getElementById('audio').pause();
    }
    
    setInterval(bob, 30);
  </script>
</body>
</html>
